{% extends 'layout.html.twig' %}

{% block title %}Mes réservations {% endblock %}

{% block body %}

<div class="container-fluid">
	<h2> Historique de mes réservations</h2>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<table class="table table-striped">
			    <thead>
			        <tr>
			            <th>Référence</th>
			            <th>Nom</th>
			            <th>Espace réservé</th>
			            <th>Durée</th>
			            <th>Date de début</th>
			            <th>Date de fin</th>
			            <th>Total € HT</th>
			            <th>Total € TTC</th>
			            <th>Statut</th>
			        </tr>
			    </thead>
			    <tbody>
					{% for booking in bookings %}
				        <tr>
				        	<td>{{booking.bookingRef}}</td>
				            <td><a href="{{ path('becowo_core_workspace', { 'region':booking.workspacehasoffice.workspace.region.name, 'ville' : booking.workspacehasoffice.workspace.city, 'name': booking.workspacehasoffice.workspace.name }) }}">{{booking.workspacehasoffice.workspace.name}}</a></td>
				            <td>{{booking.workspacehasoffice.name}}</td>
				            <td>{{booking.duration}}</td>
				            <td>{{booking.startDate|date("d/m/Y")}}</td>
				            <td>{{booking.endDate|date("d/m/Y")}}</td>
				            <td>{{booking.priceExclTax}}</td>
				            <td>{{booking.priceInclTax}}</td>
				            <td>{{booking.status.name}}</td>
				        </tr>
					{% else %}
						<p>Vous n'avez encore aucune réservation.</p>
					{% endfor %}

			    </tbody>
			</table>
		</div>
	</div>
</div>

{% endblock body %}

