{% extends "layout.html.twig" %}

{% block title %}
  Mon profil
{% endblock %}

{% block body %}

{% include "CommonViews/flashMessage.html.twig" %}

{% if form.vars.data.firstName == null or form.vars.data.name == null or form.vars.data.email == null or form.vars.data.street == null or form.vars.data.postCode == null or form.vars.data.city == null %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">X</span>
  </button>
    Si vous souhaitez effectuer une réservation, pensez à remplir les informations suivantes pour la facturation : prénom, nom, email et adresse.
  </div>
{% endif %}

{{ app.session.set('previousPage', app.request.headers.get('referer')) }}

<div class="container-fluid" id="PublicProfile">  

{% trans_default_domain 'FOSUserBundle' %}

  {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {# Les erreurs générales du formulaire. #}
  <div class="row head">
    <div class="col-lg-8 col-md-8">
        <h1>Pourquoi remplir mon profil ?</h1>
        <p>Remplissez votre profil pour vous faire remarquer dans la <a href="{{ path('becowo_core_community') }}"><u>communauté</u></a> Becowo. N'hésitez pas à indiquer vos compétences et vos centres d'intérêt afin de nous aider à vous mettre en relation avec des personnes qui ont les mêmes préoccupations que vous. Ainsi vous pourrez vous entraider ! N'hésitez pas également à nous dire ce que Becowo pourrait vous proposer, ce que vous aimeriez trouver sur le site, les types de rencontres etc...</p>
    </div>
    <div class="col-lg-4 col-md-4 taux">
      <p>Taux de remplissage</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ form.vars.value.fillRate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ form.vars.value.fillRate }}%;">
                {{ form.vars.value.fillRate }} %
            </div>
        </div>
    </div>

  </div>
  <div class="row">
    {{ form_errors(form) }}
    <div class="col-lg-3 col-md-3">
      <div class="picture">
          {% if form.children.profilePicture.children.url.vars.value != '' %}
            {% if form.vars.data.signedUpWith == null %}
                <div style="background-image:url('{{asset('images/ProfilePictures/')}}{{ form.vars.value.profilePicture.url }}'); 
                width:200px; 
                height:200px; 
                background-position:center;
                background-size: cover;
                margin: 0 auto;">&nbsp;</div>
            {% else %}
                <div style="background-image:url('{{ form.vars.value.profilePicture.url }}'); 
                  width:200px; 
                  height:200px; 
                  background-position:center;
                  background-size: cover;
                  margin: 0 auto;">&nbsp;</div>
            {% endif %}
          {% else %}
                <div style="background-image:url('{{asset('images/ProfilePictures/avatar.png')}}'); 
                width:200px; 
                height:200px; 
                background-position:center;
                background-size: cover;
                margin: 0 auto;">&nbsp;</div>  
          {% endif %}
          {{ form_row(form.profilePicture) }} <br>
          {# {{ form.vars.value.profilePicture.url }} #}
      </div>
      <div class="tweet">
        <i class="fa fa-quote-left" aria-hidden="true"></i> 
        Mon humeur en un tweet 
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        {{ form_row(form.personnalTweet) }}
      </div>
      <div class="identity">
        <h2>Mon identité</h2>
        <div>
          <i class="fa fa-smile-o" aria-hidden="true"></i>{{ form_row(form.firstname) }}
          <i class="fa fa-smile-o" aria-hidden="true"></i>{{ form_row(form.name) }}
          <i class="fa fa-building-o" aria-hidden="true"></i>{{ form_row(form.society) }} <br>
          <i class="fa fa-briefcase" aria-hidden="true"></i>{{ form_row(form.job) }} <br>
          <i class="fa fa-external-link" aria-hidden="true"></i>{{ form_row(form.website) }}   <br>
        </div>
    </div>
  </div>
    <div class="col-lg-6 col-md-6 middle" >
      <div class="bio">
        <h2>Bio</h2>
        {{ form_row(form.description) }}
      </div>
      <div class="skills">
        <h2>Compétences</h2>
          {{ form_row(form.skills) }}
      </div>
      <div class="hobbies">
        <h2>Centres d'intérêts</h2>
          {{ form_row(form.hobbies) }}
      </div>
      <div class="wishes">
        <h2>Avec Becowo j'aimerais : </h2>
          {{ form_row(form.wishes) }}
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="rs">
        <h2>Suivez-moi !</h2>
          <div>
            <img src="{{ asset('images/RS/facebook.png') }}" alt="Facebook">
            {{ form_row(form.facebookLink) }}
          </div><div>
            <img src="{{ asset('images/RS/linkedin.png') }}" alt="LinkedIn">
            {{ form_row(form.linkedinLink) }}
          </div><div>
            <img src="{{ asset('images/RS/twitter.png') }}" alt="Twitter">
            {{ form_row(form.twitterLink) }}
          </div><div>
            <img src="{{ asset('images/RS/instagram.png') }}" alt="Instagram">
            {{ form_row(form.instagramLink) }}
          </div>
      </div>
      <div class="identity">
        <h2>Informations privées</h2>
        <p style="font-size:10pt;">Ces informations ne seront pas visibles sur la page de votre profil</p>
          <i class="fa fa-home" aria-hidden="true"></i>{{ form_row(form.street) }}  <br>
          <i class="fa fa-home" aria-hidden="true"></i>{{ form_row(form.postcode) }} <br>
          <i class="fa fa-home" aria-hidden="true"></i>{{ form_row(form.city) }} <br>
          <i class="fa fa-venus-mars" aria-hidden="true"></i>{{ form_row(form.sex) }} <br>
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>{{ form_row(form.birthDate) }} <br>
          <i class="fa fa-at" aria-hidden="true"></i>{{ form_row(form.email) }} <br>
          <i class="fa fa-phone" aria-hidden="true"></i>{{ form_row(form.phone) }} <br>
          {# {{ form_row(form.country) }}  <br>#}
          {# {{ form_row(form.username) }}  <br>#}
      </div>
    </div>
  </div>
  <div class="row text-center">
      <input type="submit" class="btnMAJ" value="Mettre à jour mon profil">
      <a href="{{ path('becowo_member_public_profile', {'id' : form.vars.value.id}) }}" class="btnView">Voir mon profil public</a>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
  

<script>
document.getElementById("fos_user_profile_form_personnalTweet").maxLength = "140";
</script>
{% endblock %}

