{% extends "BecowoCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Mon profil
{% endblock %}

{% block body %}
	
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
	<h2>Mes coordonnées</h2>

  {% trans_default_domain 'FOSUserBundle' %}

  {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
      {{ form_widget(form) }}
      <div>
          <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
      </div>
  {{ form_end(form) }}

</div>
</div></div>



{% endblock %}