{% extends "layout.html.twig" %}

{% block title %}
  Réservation
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %} 

<div id="bookingGuy">
	<img src="{{ asset('images/icons/booking-guy.png') }}" alt="Réservation">


	<div class="container-fluid" id="bookingPage">
		{{ form_start(bookingForm) }}
	{# Le contenu de la form est construit dans booking.js #}
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-xs-12 col-xs-offset-0 panelForm">
				
				<center><h3>Choisir un créneau de réservation</h3></center>
				<br>
				{% set nbDuration = 0 %}
				<div id="duration">
				<span id="duration-txt" class="hidden-xs"><strong>Durée : </strong></span>
				<div class="segmented-control" style="color: #20385e;border: none;" id="booking-duration">
					{% if prices.priceHour != null %}
						{% set nbDuration = nbDuration + 1 %}
							{% if nbDuration == 1 or booking.duration == 'Heure' %}
								<input type="radio" name="booking-duration" id="booking-duration-Heure" value="Heure" checked="true">
							{% else %}
								<input type="radio" name="booking-duration" id="booking-duration-Heure" value="Heure">
							{% endif %}
					{% else %}
						<input type="radio" name="booking-duration" id="booking-duration-Heure" value="Heure" disabled="true">
					{% endif %}

					{% if prices.priceHalfDay != null %}
						{% set nbDuration = nbDuration + 1 %}
							{% if nbDuration == 1 or booking.duration == 'Demi journée' %}
								<input type="radio" name="booking-duration" id="booking-duration-HalfDay" value="Demi journée" checked="true">
							{% else %}
								<input type="radio" name="booking-duration" id="booking-duration-HalfDay" value="Demi journée">
							{% endif %}
					{% else %}
						<input type="radio" name="booking-duration" id="booking-duration-HalfDay" value="Demi journée" disabled="true">
					{% endif %}

					{% if prices.priceDay != null %}
						{% set nbDuration = nbDuration + 1 %}
							{% if nbDuration == 1  or booking.duration == 'Journée'%}
								<input type="radio" name="booking-duration" id="booking-duration-Day" value="Journée" checked="true">
							{% else %}
								<input type="radio" name="booking-duration" id="booking-duration-Day" value="Journée">
							{% endif %}
					{% else %}
						<input type="radio" name="booking-duration" id="booking-duration-Day" value="Journée" disabled="true">
					{% endif %}

					{% if prices.priceMonth != null %}
						{% set nbDuration = nbDuration + 1 %}
							{% if nbDuration == 1 or booking.duration == 'Mois' %}
								<input type="radio" name="booking-duration" id="booking-duration-Month" value="Mois" checked="true">
							{% else %}
								<input type="radio" name="booking-duration" id="booking-duration-Month" value="Mois">
							{% endif %}
					{% else %}
						<input type="radio" name="booking-duration" id="booking-duration-Month" value="Mois" disabled="true">
					{% endif %}

					<label for="booking-duration-Heure" data-value="Heure">Heure</label>
					<label for="booking-duration-HalfDay" data-value="Demi journée">Demi journée</label>
					<label for="booking-duration-Day" data-value="Journée">Journée</label>
					<label for="booking-duration-Month" data-value="Mois">Mois</label>
				</div>
				</div>
				<div id="isOpenSaturday" style="display:none">{{times.isOpenSaturday}}</div>
				<div id="isOpenSunday" style="display:none">{{times.isOpenSunday}}</div> 
				<div id="closedDates" style="display:none">{% for d in closedDates %}{{- d.closedDate.date|date("d/m/Y") -}},{% endfor %}</div>
				<br><br>

				{# CALENDAR #}
				<div id='calendarContainer'>
					<strong class="hidden-xs">Date : </strong><input type="text" name="booking-calendar" id="booking-calendar" value="{{ booking.startDate|date("d/m/Y") }}" />
				</div>
				<br><br>
				<span id="calendar-error"></span>

				{# HORAIRE #}
				<div id="openHour" style="display:none">{{times.openHour|date('H:i')}}</div> 
				<div id="closeHour" style="display:none">{{times.closeHour|date('H:i')}}</div> 
				<span id="calendar-time" style="display:none"> {# caché par défaut, affiché en JS si besoin #}
				<strong class="hidden-xs">Horaire : </strong>
				    <strong><span id="time-min"></span></strong>
				    <span class="slideTime">
				    	{# le slider prend en value des minutes uniquement (d'où le calcul des heures * 60)
				    	Si pas de booking en session :
				    		Debut = startDate(initié ds le controller avec la prochaine date d'ouverture)
				    		Fin = OpenHour + 1 heure (+60min)
				    	Si un booking est en session
				    		Debut = idem
				    		Fin : heure (dateFin) convertit en minutes
				    	data-slider-min = l'heure d'ouverture converti en minutes
				    	data-slider-max = l'heure de fermeture converti en minutes
				    	data-slider-step = 1 heure converti en minutes #}
				    	<input id="booking-time-slider" type="text" data-slider-handle="custom" name="booking-time-slider" 
				    	value="" 
				    	range="true"
				    	data-slider-value="[{{booking.startDate|date('H')*60+booking.startDate|date('i')}},{% if booking.endDate != null %}{{booking.endDate|date('H')*60+booking.endDate|date('i')}}]{% else %} {{times.openHour|date('H')*60+times.openHour|date('i')+60}}]{% endif %}"
				    	data-slider-min="{{times.openHour|date('H')*60+times.openHour|date('i')}}" 
				    	data-slider-max="{{times.closeHour|date('H')*60+times.closeHour|date('i')}}"
				    	data-slider-step="60"/>
				    </span>
				    <strong><span id="time-max"></span></strong>
				    <span id="nbHeures" hidden="true">1</span>
				    <br><br>
				</span>
				{# 1/2 JOURNEE #}
				<span id="calendar-halftime" style="display:none">	 {# caché par défaut, affiché en JS si besoin #}
				    <div class="segmented-control" style="width: 300px; color: #20385e" id="booking-duration-day">
				    	{# si un booking est récupéré de la session, on init le slider avec les valeurs du booking #}
				    	{% if booking.duration == 'Demi journée' and booking.durationDay == 'Après-midi' %}
				    		<input type="radio" name="booking-duration-day" id="booking-duration-day-1" value="Matin">
					  		<input type="radio" name="booking-duration-day" id="booking-duration-day-2" checked value="Après-midi">
					  	{% else %}
				    		<input type="radio" name="booking-duration-day" id="booking-duration-day-1" checked value="Matin">
					  		<input type="radio" name="booking-duration-day" id="booking-duration-day-2" value="Après-midi">
				    	{% endif %}
					  <label for="booking-duration-day-1" data-value="Matin">Matin</label>
					  <label for="booking-duration-day-2" data-value="Après-midi">Après-midi</label>
					</div>
				    <br>
				<br>
				</span>
				{# TO DO : min et max en fonction des places dispos #}
				{# Nb PEOPLE #}
				
				<strong>
				{% if WsHasOffice.deskQty > 1 and WsHasOffice.office.id == 1 %}
					Nombre de coworkers : 
				{% elseif WsHasOffice.deskQty > 1 %}
					Nombre de coworkers (à titre indicatif) : 
				{% endif %}
				</strong>
				{% if WsHasOffice.deskQty > 1 %} 
					<span class="slidePeople">
				{% else %}
					<span class="slidePeople hidden">
				{% endif %}
				<b> 1 </b>
					{# si un booking est récupéré de la session, on init le slider avec les valeurs du booking #}
					<input id="booking-people" type="text" data-slider-handle="custom" data-slider-min="1" data-slider-max="{{WsHasOffice.deskQty}}" name="booking-people" data-slider-value="{% if booking.nbPeople != null %}{{booking.nbPeople}}{% else %} 1 {% endif %}"/>
				<b> {{WsHasOffice.deskQty}} </b>
				</span>
				<span id="nbPeople" hidden="true"></span>

				<br><br>
				{# msg #}
				<strong>Vous pouvez adresser ici un message à {{ws.name}} : </strong><br>
				{{form_row(bookingForm.message)}}
			</div>
			<div class="col-lg-3 col-md-3 hidden-xs panelRecap">

				<center><strong>{{ws.name}}</strong> {% if averageVote > 0 %} {{averageVote|rating}} {% endif %}<br>
				{{ws.street|capitalize}} <br> 
				{{ws.postCode}} {{ws.city|capitalize}} </center><br>
					<br>
				<span id="votreResa">VOTRE RESERVATION N° {{ bookingForm.bookingRef.vars.value }}</span>
				<br>
				{% if WsHasOffice.UrlProfilePicture != null %}
				<center>
					<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{WsHasOffice.UrlProfilePicture}}" alt="{{ws.name}}" width="200px" height="120px">
				</center>
				{% endif %}
				<br>
				{{WsHasOffice.name}}
				<br>
				<span id="recapDate"></span> <br>
				<input type="text" name="dateEnd" id="dateEnd" hidden="true">
				<br>
				{# Prices #}
				<span id="priceHeure" hidden="true">{{prices.priceHour}}</span>
				<span id="priceDemi journée" hidden="true">{{prices.priceHalfDay}}</span>
				<span id="priceJournée" hidden="true">{{prices.priceDay}}</span>
				<span id="priceMois" hidden="true">{{prices.priceMonth}}</span>
				<span id="officeType" hidden="true">{{WsHasOffice.office.name}}</span>
				<span id="tva" hidden="true">{{tva}}</span>

				{# J'ai besoin que le price soit dans un input pour le récupérer depuis le controller #}
				<input id="price-excl-tax" type="number" step="any" name="price-excl-tax" value="" hidden="true">
				<input id="price-incl-tax" type="number" step="any" name="price-incl-tax" value="" hidden="true">
				<span id="price"><span id="price-excl-tax-div"></span> € HT (soit <span id="price-incl-tax-div"></span> € TTC)</span>
				{{form_row(bookingForm.confirmer)}}

			</div>
		</div>	

		{{ form_rest(bookingForm) }}
		{{ form_end(bookingForm) }}
	</div>
<br><br>
</div>

{% endblock body %}

{% block javascripts %}    
	<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/booking.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/date-fr-FR.js') }}"></script>
	
{% endblock javascripts %} 
