{# ATTENTION
priceandoffice.WorkspaceHasOffice.name = le nom du bureau dans le WS (pluton, Mars, Venus)
priceandoffice.WorkspaceHasOffice.office.name = type de bureau (open space, bureau, salle de réunion etc)
 #}

<div class="container-fluid">

		<div class="row" id="booking-content">

	    	<div id="booking-error"></div>
<ul class="listed-values">

		    {% for priceandoffice in pricesAndOffices %}
<li class="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		    	<div class="row">
		    		<div class="col-lg-6">
						{% if priceandoffice.WorkspaceHasOffice.UrlProfilePicture != '' %}
			        		<div id="image" style="background-image: url('{{ asset('images/Workspaces/') }}{{ws.name|url_encode}}/{{priceandoffice.WorkspaceHasOffice.UrlProfilePicture}}');
			        		background-size: cover;
						    background-position: center;
						    height: 200px;
						    width: 400px;
						    margin: 0 auto;
						    background-repeat: no-repeat;">
			        		</div>
		        		{% else %}
		        			<img src="{{priceandoffice.WorkspaceHasOffice.office.name}}.png" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		        		{% endif %}
		    		</div>
		    		<div class="col-lg-6">
		    			<span class="office-name" id="{{priceandoffice.workspaceHasOffice.name}}">{{priceandoffice.workspaceHasOffice.name}}</span> - 
		    			{% if priceandoffice.WorkspaceHasOffice.office.name == 'Open space'%}
		    			<span class="capacity">Quantité : {{priceandoffice.workspaceHasOffice.deskQty}} </span>
		    			<i class="fa fa-briefcase" aria-hidden="true"></i>
		    			{% else %}
		    			<span class="capacity">Capacité : {{priceandoffice.workspaceHasOffice.deskQty}} </span>
		    			<i class="fa fa-male" aria-hidden="true"></i>
		    			{% endif %}
		    			<br><br>
		    			<div class="row">
		    				<div class="col-lg-6" id="formules">
		    					<strong><i class="fa fa-money" aria-hidden="true"></i> Nos formules : </strong><br>
				    			{% if priceandoffice.priceHour > 0 %} {{priceandoffice.priceHour}} € HT / heure<br> {% endif %}
			    				{% if priceandoffice.priceHalfDay > 0 %} {{priceandoffice.priceHalfDay}} € HT / demi journée<br> {% endif %}
		    					{% if priceandoffice.priceDay > 0 %} {{priceandoffice.priceDay}} € HT / jour<br> {% endif %}
								{% if priceandoffice.priceWeek > 0 %} {{priceandoffice.priceWeek}} € HT / semaine<br> {% endif %}
								{% if priceandoffice.priceMonth > 0 %} {{priceandoffice.priceMonth}} € HT / mois<br> {% endif %}
		    				</div>
		    				<div class="col-lg-6">
	    					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    				{# <button type="button" id="btnResa"  data-toggle="modal" data-target="#myModalResa"  
			    				data-wshasofficeid="{{priceandoffice.workspaceHasOffice.id}}" 
			    				data-priceheure="{{priceandoffice.priceHour}}" 
			    				data-pricedemijournee="{{priceandoffice.priceHalfDay}}" 
			    				data-pricejournee="{{priceandoffice.priceDay}}" 
			    				data-pricesemaine="{{priceandoffice.priceWeek}}"
			    				data-pricemois="{{priceandoffice.priceMonth}}" 
			    				data-isOpenSaturday="{{times[0].isOpenSaturday}}" 
			    				data-isOpenSunday="{{times[0].isOpenSunday}}" 
			    				data-openHour="{{times[0].openHour|date("H:i")}}" 
			    				data-closeHour="{{times[0].closeHour|date("H:i")}}" 
			    				data-spaceName="{{priceandoffice.workspaceHasOffice.name}}" 
			    				data-spaceType="{{priceandoffice.workspaceHasOffice.office.name}}" 
			    				data-capacity="{{priceandoffice.workspaceHasOffice.deskQty}}" 
			    				data-wsName="{{ws.name}}"
			    				data-tva="{{tva}}"
			    				>Réserver</button> #}
			    				<button type="button" id="btnResa"><a href="{{ path('becowo_core_booking', {'id': priceandoffice.workspaceHasOffice.id}) }}">Réserver</a></button>
			    			{% else %}
			    				<button type="button" id="btnResa"  data-toggle="modal" data-target="#myModalConnect">Réserver</button>
			    					<div class="modal fade" id="myModalConnect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    			<div class="modal-dialog">
						        			<div class="modal-content">
									            <div class="modal-header modal-header-danger">
									                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
									                <h4 class="modal-title">Réservation</h4>
									            </div>
									            <div class="modal-body">
									                <p>Pour réserver, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
									            </div>
						        			</div>
						    			</div>
									</div>
			    			{% endif %}
 
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<br>
</li>
				{% endfor %}			
</ul>
			{# </form> #}
		</div>


{# Modal de Résa 
	<div class="modal fade" id="myModalResa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	// <form method="POST" action="{{ path('becowo_core_booking', {'name': ws.name}) }}" id="booking-form" > 
    		
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Votre réservation chez {{ws.name}}</h4>
            </div>
            <div class="modal-body" id="modal-body-booking">
            	{{ render(controller('BecowoCoreBundle:Booking:book', {name: ws.name})) }}

            </div>
            <div class="modal-footer" id="modal-footer-booking">
                <div class="col-lg-8" id="total">
					
				</div>
				<div class="col-lg-4">
					// <input type="text" name="bookingRef" id="bookingRef" value="" hidden="true"> 
					
				</div>
            </div>
        	// </form> 
        </div>
    </div>
</div>
#}
{# Modal de test #}

</div>
