{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/book.css') }}">
        {# Theme JqueryUi pour le calendar / il en existe d'autres #}
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
{% endblock %}

<section class="features_table" id="section_features_table">
    <div class="container-fluid">
    	<div class="col-lg-3 no-padding">
        	<div class="features-table" id="first">
            	<ul>
                    <h1>Les bureaux</h1>
                    {% for office in listOffices %}
                        <li>{{office.office.name}} ({{office.DeskQty}} bureaux)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-1 no-padding">
            <div class="features-table-cell">
                <ul>
                    <h1>Heure</h1>
                    {% for office in listOffices %}
                        {% for price in prices if price.office.name == office.office.name %}
                            <li id="price_Heure_{{office.office.name}}" onclick="selectDuree('Heure', '{{office.office.name}}')">{{price.priceHour}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-2 no-padding">
            <div class="features-table-cell">
                <ul>
                    <h1>1/2 Journée</h1>
                    {% for office in listOffices %}
                        {% for price in prices if price.office.name == office.office.name %}
                            <li id="price_DemiJournée_{{office.office.name}}" onclick="selectDuree('DemiJournée', '{{office.office.name}}')">{{price.priceHalfDay}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-1 no-padding">
            <div class="features-table-cell">
            	<ul>
                	<h1>Journée</h1>
                    {% for office in listOffices %}
                        {% for price in prices if price.office.name == office.office.name %}
                            <li id="price_Journée_{{office.office.name}}" onclick="selectDuree('Journée', '{{office.office.name}}')">{{price.priceDay}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
         <div class="col-lg-1 no-padding">
         	 <div class="features-table-cell">
            	<ul>
                	<h1>Semaine</h1>
                    {% for office in listOffices %}
                        {% for price in prices if price.office.name == office.office.name %}
                            <li id="price_Semaine_{{office.office.name}}" onclick="selectDuree('Semaine', '{{office.office.name}}')">{{price.priceWeek}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
         </div>
         <div class="col-lg-1 no-padding">
              <div class="features-table-cell">
            	<ul>
                	<h1>Mois</h1>
                    {% for office in listOffices %}
                        {% for price in prices if price.office.name == office.office.name %}
                            <li id="price_Mois_{{office.office.name}}" onclick="selectDuree('Mois', '{{office.office.name}}')">{{price.priceMonth}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
         </div>
         <div class="col-lg-1 no-padding">
              <div class="features-table-cell" id="last">
                <ul>
                    <h1>Réserver</h1>
                    {% for office in listOffices %}
                        <li><button type="button" onclick="goBooking('{{office.office.name}}')">Réserver</button></li>
                    {% endfor %}
                </ul>
            </div>
         </div>
    </div>
</section>

<div class="row">
<div class="col-lg-6">
    <section class="booking_table">
        
        <form role="form" name="form" action="" method="post">
            <label class="radio-inline">Choisir la durée : </label> 
                <input type="radio" id="Heure" name="optionsDuree" onclick="radioClick(this);" value="Heure"> Heure
                <input type="radio" id="DemiJournée" name="optionsDuree" onclick="radioClick(this);" value="DemiJournée"> 1/2 journée
                <input type="radio" id="Journée" name="optionsDuree" onclick="radioClick(this);" value="Journée"> Journée
                <input type="radio" id="Semaine" name="optionsDuree" onclick="radioClick(this);" value="Semaine"> Semaine
                <input type="radio" id="Mois" name="optionsDuree" onclick="radioClick(this);" value="Mois"> Mois
            <br>
            <label for="">Choisir une date</label>
            <div id="dateHeure">
                de 
                <select id="heure_start" onclick="heureClick(this);">
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
                :
                <select id="min_start" onclick="heureClick(this);">
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
                à
                <select id="heure_end" onclick="heureClick(this);">
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
                :
                <select id="min_end" onclick="heureClick(this);">
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
                <div id="error_msg"></div>
            </div>
            <div id="dateDemiJournee">
                <label class="radio-inline"></label>
                <input type="radio" name="demiJournee" value="Matin" onclick="radioDemiJourneeClick(this);" > Matin
                <input type="radio" name="demiJournee" value="Après-midi" onclick="radioDemiJourneeClick(this);" > Après-midi
            </div>
            <div id="dateJournee">
            </div>
            <div id="dateSemaine">
            </div>
            <div id="dateMois">
            </div>
        </form>   
    </section>
</div>
<div class="col-lg-2">
    <div id="booking_recap" class="well">

    Votre sélection : <br>
    <div id="officeSelected"></div>
    <input type="text" id="dateSelected" readonly>
    <div id="durationSelected"></div><div id="durationDetailSelected"></div>
    <div id="nbHeure" style="display:none"></div>
    <div id="price"></div>
    </div>
</div>
</div>




{% block javascripts %}
    {# JQueryUI pour datepicker / version custome sur jqueryui.com #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    {# http://www.jqueryscript.net/time-clock/jQuery-Week-Picker-Plugin-For-jQuery-UI-Datepicker-Widget.html #}
    <script src="{{ asset('js/jquery.weekpicker.js') }}"></script>
    <script src="{{ asset('js/book.js') }}"></script>

{% endblock %}
