{# ATTENTION
office.name = le nom du bureau dans le WS (pluton, Mars, Venus)
office.office.name = type de bureau (open space, bureau, salle de réunion etc)
 #}

<div class="container-fluid">

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

		<div class="row" id="booking-content">

	    	{# ERREUR #}
	    	{% if app.user.email == "" %}
	    		<div id="email-error">
	    			ATTENTION, vous devez renseigner votre email dans <a href="{{ path('fos_user_profile_edit') }}">votre profil</a>, afin de valider la réservation <br>
	    			Votre email nous permettra de confirmer la réservation et de vous envoyer un ticket de paiement.
	    		</div>
	    	{% endif %}
	    	<div id="booking-error"></div>

		    {% for priceandoffice in pricesAndOffices %}

		    	<div class="row">
		    		<div class="col-lg-6">
						{% if priceandoffice.WorkspaceHasOffice.UrlProfilePicture != '' %}
		        			<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{priceandoffice.WorkspaceHasOffice.UrlProfilePicture}}" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}" width="100%" height="245px">
		        		{% else %}
		        			<img src="{{ asset('images/icons/offices/BsurN/') }}{{priceandoffice.WorkspaceHasOffice.office.name}}.png" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		        		{% endif %}
		    		</div>
		    		<div class="col-lg-6">
		    			<span class="office-name">{{priceandoffice.workspaceHasOffice.name}}</span> - 
		    			<span class="capacity">Capacité : {{priceandoffice.workspaceHasOffice.deskQty}} <i class="fa fa-male" aria-hidden="true"></i></span><br>
		    			<br>
		    			<p>Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.</p>
		    			<div class="row">
		    				<div class="col-lg-6" id="formules">
		    					<strong><i class="fa fa-money" aria-hidden="true"></i> Nos formules : </strong><br>
				    			{% if priceandoffice.priceHour > 0 %} {{priceandoffice.priceHour}} € HT / heure<br> {% endif %}
			    				{% if priceandoffice.priceHalfDay > 0 %} {{priceandoffice.priceHalfDay}} € HT / demi journée<br> {% endif %}
		    					{% if priceandoffice.priceDay > 0 %} {{priceandoffice.priceDay}} € HT / jour<br> {% endif %}
								{% if priceandoffice.priceWeek > 0 %} {{priceandoffice.priceWeek}} € HT / semaine<br> {% endif %}
								{% if priceandoffice.priceMonth > 0 %} {{priceandoffice.priceMonth}} € HT / mois<br> {% endif %}
		    				</div>
		    				<div class="col-lg-6">
		    				{# <button type="button"data-toggle="modal"  data-target="#myModalResa-{{priceandoffice.id}}">Réserver</button> #}
		    				<button type="button" id="btnResa"  data-toggle="modal" data-target="#myModalResaTest" 
		    				data-priceHour="{{priceandoffice.priceHour}}" 
		    				data-priceHalfDay="{{priceandoffice.priceHalfDay}}" 
		    				data-priceDay="{{priceandoffice.priceDay}}" 
		    				data-priceWeek="{{priceandoffice.priceWeek}}"
		    				data-priceMonth="{{priceandoffice.priceMonth}}" 
		    				data-isOpenSaturday="{{times[0].isOpenSaturday}}" 
		    				data-isOpenSunday="{{times[0].isOpenSunday}}" 
		    				data-openHour="{{times[0].openHour|date("H:i")}}" 
		    				data-closeHour="{{times[0].closeHour|date("H:i")}}" 
		    				data-spaceName="{{priceandoffice.workspaceHasOffice.name}}" 
		    				data-spaceType="{{priceandoffice.workspaceHasOffice.office.name}}" 
		    				data-capacity="{{priceandoffice.workspaceHasOffice.deskQty}}" 
		    				data-wsName="{{ws.name}}"
		    				>Réserver</button>
 
							<!-- Modale
							<div class="modal fade" id="myModalResa-{{priceandoffice.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							                <h4 class="modal-title">Votre réservation chez {{ws.name}}</h4>
							            </div>
							            <div class="modal-body">
							                {% include 'Workspace/book-modal.html.twig' with { 'priceandofficeSelected' : priceandoffice } %}
							            </div>
							            <div class="modal-footer">
							                <div class="col-lg-8" id="total">
												Total : <span id="booking-recap-price-{{priceandoffice.id}}"></span> € HT
											</div>
											<div class="col-lg-4">
												{# J'ai besoin que le price soit dans un input pour le récupérer depuis le controller #}
												<input id="booking-price-excl-tax-{{priceandoffice.id}}" type="number" step="any" name="booking-price-excl-tax-{{priceandoffice.id}}" value="" hidden="true">
												<button type="submit" class="btn btn-primary">Confirmer</button>
											</div>
							            </div>
							        </div>
							    </div>
							</div>
							Fin Modale -->
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<br>
				{% endfor %}			
			</form>
		</div>


	{% else %}
		<p>Pour réserver, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
	{% endif %}

{# Modal de test #}
	<div class="modal fade" id="myModalResaTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Votre réservation chez {{ws.name}}</h4>
            </div>
            <div class="modal-body">
            	<form method="POST" action="{{ path('becowo_core_booking', {'name': ws.name}) }}" id="booking-form">
            		{# Le contenu de la form est construit dans main.js #}
            	<span class="office-name" id="spaceName"></span> - 
				Capacité : <span class="capacity" id="capacity"></span> <i class="fa fa-male" aria-hidden="true"></i>
				<br>
				<br>
				<h3>Choisir un créneau de réservation</h3>
				<br>
				Durée : 
				<div class="segmented-control" style="width: 400px; color: #20385e" id="booking-duration">
				</div>
				<br><br>
				Date :
				<div id="isOpenSaturday" style="display:none"></div>
				<div id="isOpenSunday" style="display:none"></div> 
				<div id="closedDates" style="display:none"></div>
				<input type="text" name="booking-calendar" id="booking-calendar" /><br>
				<span id="calendar-error"></span>
				<br><br>

				{# HORAIRE #}
				<span id="calendar-time" style="display:none"> {# caché par défaut, affiché en JS si besoin #}
				Horaire : 
				    <span id="time-min"></span>
				    <span class="slideTime">
				    	<input id="booking-time-slider" type="text" data-slider-handle="custom" name="booking-time-slider" />
				    </span>
				    <span id="time-max"></span>
				    <br>
				</span>
				{# 1/2 JOURNEE #}
				<span id="calendar-halftime" style="display:none">	 {# caché par défaut, affiché en JS si besoin #}
				Horaire : 
				    <div class="segmented-control" style="width: 300px; color: #20385e" id="booking-duration-day">
					  <input type="radio" name="booking-duration-day" id="booking-duration-day-1" checked value="Matin">
					  <input type="radio" name="booking-duration-day" id="booking-duration-day-2" value="Après-midi">
					  <label for="booking-duration-day-1" data-value="Matin">Matin</label>
					  <label for="booking-duration-day-2" data-value="Après-midi">Après-midi</label>
					</div>
				    <br>
				</span>
				<br><br>
				Personnes :
				{# TO DO : min et max en fonction des places dispos #}
				{# Nb PEOPLE #}
				<b>1</b>
				<span class="slidePeople">
					<input id="booking-people" type="text" data-slider-handle="custom" data-slider-min="1" data-slider-max="" data-slider-value="1" name="booking-people"/>
				</span>
				<b id="booking-people-max"></b>
				<br>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit"><i class="icon icon-check icon-lg"></i> Valider</button>
                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
        </div>
    </div>
</div>
{# Modal de test #}

</div>
