{# ATTENTION
priceandoffice.WorkspaceHasOffice.name = le nom du bureau dans le WS (pluton, Mars, Venus)
priceandoffice.WorkspaceHasOffice.office.name = type de bureau (open space, bureau, salle de réunion etc)
 #}

<div class="container-fluid">

		<div class="row" id="booking-content">

	    	<div id="booking-error"></div>

		    {% for priceandoffice in pricesAndOffices %}

		    	<div class="row">
		    		<div class="col-lg-6">
						{% if priceandoffice.WorkspaceHasOffice.UrlProfilePicture != '' %}
			        		<div id="image" style="background-image: url('{{ asset('images/Workspaces/') }}{{ws.name|url_encode}}/{{priceandoffice.WorkspaceHasOffice.UrlProfilePicture}}');
			        		background-size: cover;
						    background-position: center;
						    height: 200px;
						    width: 400px;
						    margin: 0 auto;
						    background-repeat: no-repeat;">
			        		</div>
		        		{% else %}
		        			<img src="{{ asset('images/icons/offices/BsurN/') }}{{priceandoffice.WorkspaceHasOffice.office.name}}.png" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		        		{% endif %}
		    		</div>
		    		<div class="col-lg-6">
		    			<span class="office-name" id="{{priceandoffice.workspaceHasOffice.name}}">{{priceandoffice.workspaceHasOffice.name}}</span> - 
		    			<span class="capacity">Capacité : {{priceandoffice.workspaceHasOffice.deskQty}} <i class="fa fa-male" aria-hidden="true"></i></span>
		    			<br><br>
		    			<div class="row">
		    				<div class="col-lg-6" id="formules">
		    					<strong><i class="fa fa-money" aria-hidden="true"></i> Nos formules : </strong><br>
				    			{% if priceandoffice.priceHour > 0 %} {{priceandoffice.priceHour}} € HT / heure<br> {% endif %}
			    				{% if priceandoffice.priceHalfDay > 0 %} {{priceandoffice.priceHalfDay}} € HT / demi journée<br> {% endif %}
		    					{% if priceandoffice.priceDay > 0 %} {{priceandoffice.priceDay}} € HT / jour<br> {% endif %}
								{% if priceandoffice.priceWeek > 0 %} {{priceandoffice.priceWeek}} € HT / semaine<br> {% endif %}
								{% if priceandoffice.priceMonth > 0 %} {{priceandoffice.priceMonth}} € HT / mois<br> {% endif %}
		    				</div>
		    				<div class="col-lg-6">
	    					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    				<button type="button" id="btnResa"  data-toggle="modal" data-target="#myModalResa"  
			    				data-wshasofficeid="{{priceandoffice.id}}" 
			    				data-priceheure="{{priceandoffice.priceHour}}" 
			    				data-pricedemijournee="{{priceandoffice.priceHalfDay}}" 
			    				data-pricejournee="{{priceandoffice.priceDay}}" 
			    				data-pricesemaine="{{priceandoffice.priceWeek}}"
			    				data-pricemois="{{priceandoffice.priceMonth}}" 
			    				data-isOpenSaturday="{{times[0].isOpenSaturday}}" 
			    				data-isOpenSunday="{{times[0].isOpenSunday}}" 
			    				data-openHour="{{times[0].openHour|date("H:i")}}" 
			    				data-closeHour="{{times[0].closeHour|date("H:i")}}" 
			    				data-spaceName="{{priceandoffice.workspaceHasOffice.name}}" 
			    				data-spaceType="{{priceandoffice.workspaceHasOffice.office.name}}" 
			    				data-capacity="{{priceandoffice.workspaceHasOffice.deskQty}}" 
			    				data-wsName="{{ws.name}}"
			    				data-tva="{{tva}}"
			    				>Réserver</button>
			    			{% else %}
			    				<button type="button" id="btnResa"  data-toggle="modal" data-target="#myModalConnect">Réserver</button>
			    					<div class="modal fade" id="myModalConnect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    			<div class="modal-dialog">
						        			<div class="modal-content">
									            <div class="modal-header modal-header-danger">
									                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
									                <h4 class="modal-title">Réservation</h4>
									            </div>
									            <div class="modal-body">
									                <p>Pour réserver, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
									            </div>
						        			</div>
						    			</div>
									</div>
			    			{% endif %}
 
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<br>
				{% endfor %}			
			{# </form> #}
		</div>


{# Modal de Résa #}
	<div class="modal fade" id="myModalResa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<form method="POST" action="{{ path('becowo_core_booking', {'name': ws.name}) }}" id="booking-form">
    		
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Votre réservation chez {{ws.name}}</h4>
            </div>
            <div class="modal-body" id="modal-body">
            	{# EMAIL non renseigné #}
		    	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.email == "" %}
		    		<div id="email-error">
		    			<div class="alert alert-danger alert-dismissable fade in">
						  <h4><i class="icon icon-times-circle icon-lg"></i> Aucun email renseigné</h4>
						  <p>ATTENTION, vous devez renseigner votre email dans <a href="{{ path('fos_user_profile_edit') }}">votre profil</a>, afin de valider la réservation.</p>
						</div>
		    			
		    		</div>
		    	{% endif %}

            	<input type="text" name="wshasofficeID" id="wshasofficeID" hidden="true">
            		{# Le contenu de la form est construit dans main.js #}
            	<span class="office-name" id="spaceName"></span> - 
				Capacité : <span class="capacity" id="capacity"></span> <i class="fa fa-male" aria-hidden="true"></i>
				<br>
				<h3>Choisir un créneau de réservation</h3>
				<div class="segmented-control" style="color: #20385e;border: none;" id="booking-duration">
				</div>
				<div id="isOpenSaturday" style="display:none"></div>
				<div id="isOpenSunday" style="display:none"></div> 
				<div id="closedDates" style="display:none"></div>
				<input type="text" name="booking-calendar" id="booking-calendar" hidden="true" />
				<div id='calendarContainer'></div>
				<br>
				<span id="calendar-error"></span>

				{# HORAIRE #}
				<span id="calendar-time" style="display:none"> {# caché par défaut, affiché en JS si besoin #}
				Horaire : 
				    <strong><span id="time-min"></span></strong>
				    <span class="slideTime">
				    	<input id="booking-time-slider" type="text" data-slider-handle="custom" name="booking-time-slider" />
				    </span>
				    <strong><span id="time-max"></span></strong>
				    <span id="nbHeures" hidden="true">1</span>
				    <br><br>
				</span>
				{# 1/2 JOURNEE #}
				<span id="calendar-halftime" style="display:none">	 {# caché par défaut, affiché en JS si besoin #}
				    <div class="segmented-control" style="width: 300px; color: #20385e" id="booking-duration-day">
					  <input type="radio" name="booking-duration-day" id="booking-duration-day-1" checked value="Matin">
					  <input type="radio" name="booking-duration-day" id="booking-duration-day-2" value="Après-midi">
					  <label for="booking-duration-day-1" data-value="Matin">Matin</label>
					  <label for="booking-duration-day-2" data-value="Après-midi">Après-midi</label>
					</div>
				    <br>
				<br><br>
				</span>
				Nombre de coworkers :
				{# TO DO : min et max en fonction des places dispos #}
				{# Nb PEOPLE #}
				<span class="slidePeople">
				<b> 1 </b>
					<input id="booking-people" type="text" data-slider-handle="custom" data-slider-min="1" data-slider-max="" data-slider-value="1" name="booking-people"/>
				<b id="booking-people-max"> </b>
				</span>
				<span id="nbPeople" hidden="true">1</span>
				<br>

            </div>
            <div class="modal-footer" id="modal-footer">
                <div class="col-lg-8" id="total">
					{# J'ai besoin que le price soit dans un input pour le récupérer depuis le controller #}
					<strong>Total : </strong><input id="price-excl-tax" type="number" step="any" name="price-excl-tax" value=""> € HT (soit <input id="price-incl-tax" type="number" step="any" name="price-incl-tax" value=""> € TTC)
				</div>
				<div class="col-lg-4">
					{# <input type="text" name="bookingRef" id="bookingRef" value="" hidden="true"> #}
					<button type="submit" id="btn_confirm">Confirmer</button>
				</div>
            </div>
        	</form>
        </div>
    </div>
</div>
{# Modal de test #}

</div>
