<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-3">
        	{# Vertical navigator #}
            <div id="myCarousel" class="carousel vertical slide pull-left" >

            	{% if pictures|length > 6 %}
		              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		              	<i class="fa fa-chevron-up" aria-hidden="true"></i>
		              </a>
              	{% else %}
              		<div class="vide"><br><br></div>
          		{% endif %}

              <!-- thumbnails -->
              <div class="custom-carousel-inner carousel-inner">
                <div class="item active">
                  <div class="row-fluid">
                	{% for picture in pictures %}
                		{% if loop.index < 7 %}
                			{% if loop.index % 2 != 0 %}<div class="span3">{% endif %}
                        		{% if loop.last %}
                        			<a href="#x" class="small-thumbnail" style="width:45%">
                        		{% else %}
	                        		<a href="#x" class="small-thumbnail">
	                        	{% endif %}
                            {# {{ loop.index }} #}
	                        		<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" style="width:100px;height: 70px;">
	                        	</a>
                        	{% if loop.index % 2 == 0 or loop.index == 6 or loop.last %}</div>{% endif %}
                  		{% endif %}
                	{% endfor %}
                  </div><!--/row-fluid-->
                </div><!--/item-->

                {% if pictures|length >= 7 %}
                <div class="item">
                  <div class="row-fluid">
                	{% for picture in pictures %}
                		{% if loop.index >= 7 and loop.index < 13 %}
                			{% if loop.index % 2 != 0 or loop.index == 7 %}<div class="span3">{% endif %}
	                        	{% if loop.last %}
                        			<a href="#x" class="small-thumbnail" style="width:45%;">
                        		{% else %}
	                        		<a href="#x" class="small-thumbnail">
	                        	{% endif %}
                            {# {{ loop.index }} #}
	                        		<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" style="width:100px;height: 70px;">
	                        	</a>
                        	{% if loop.index % 2 == 0 or loop.index == 12 or loop.last %}</div>{% endif %}
                  		{% endif %}
                	{% endfor %}
                  </div><!--/row-fluid-->
                </div><!--/item-->
              {% endif %}

                {% if pictures|length >= 13 %}
                <div class="item">
                  <div class="row-fluid">
                  {% for picture in pictures %}
                    {% if loop.index >= 13  and loop.index < 19 %}
                      {% if loop.index % 2 != 0 or loop.index == 13 %}<div class="span3">{% endif %}
                            {% if loop.last %}
                              <a href="#x" class="small-thumbnail" style="width:45%;">
                            {% else %}
                              <a href="#x" class="small-thumbnail">
                            {% endif %}
                            {# {{ loop.index }} #}
                              <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" style="width:100px;height: 70px;">
                            </a>
                          {% if loop.index % 2 == 0 or loop.index == 18 or loop.last %}</div>{% endif %}
                      {% endif %}
                  {% endfor %}
                  </div><!--/row-fluid-->
                </div><!--/item-->
              {% endif %}

                {% if pictures|length >= 19 %}
                <div class="item">
                  <div class="row-fluid">
                {% for picture in pictures %}
                  {% if loop.index >= 19 %}
                    {% if loop.index % 2 != 0 or loop.index == 13 %}<div class="span3">{% endif %}
                          {% if loop.last %}
                            <a href="#x" class="small-thumbnail" style="width:45%;">
                          {% else %}
                            <a href="#x" class="small-thumbnail">
                          {% endif %}
                          {# {{ loop.index }} #}
                            <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" style="width:100px;height: 70px;">
                          </a>
                        {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                    {% endif %}
                {% endfor %}
                  </div><!--/row-fluid-->
                </div><!--/item-->
              {% endif %}

              {% if pictures|length > 6 %}
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>    
         	    {% endif %}
            </div><!--/myCarousel-->

      </div>
    </div>
      <div class="col-lg-9 col-md-9">
          {# Panel où s'affiche l'image #}
          <div class="pull-left single-container">
            <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{pictures[0].url}}" id="DataDisplay" style="max-height: 400px;"/>
          </div>
      </div>
  </div>
</div>
