<link href="{{ asset('css/carroussel.css') }}" rel="stylesheet" type="text/css">

<div data-twttr-rendered="true" data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="container">
      <div class="well" >
        <div class="row">
          <div class="col-lg-9 col-top">
            <div class="pull-left single-container">
              {% if pictureFavorite[0] is defined %}
                <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{pictureFavorite[0].url}}" alt="{{pictureFavorite[0].alt}}" id="DataDisplay"/>
              {% endif %}
            </div>

          </div>
          <div class="col-lg-3">

            <div id="myCarousel" class="carousel vertical slide pull-left" >
              <div class="row">
                <div class="col-lg-12 col-lg-offset-5">
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ asset('images/up.png') }}" alt="Up"></a>
                </div>
              </div>
              

              <!-- Carousel items -->
              <div class="custom-carousel-inner carousel-inner">
                <div class="item active">
                  <div class="row-fluid">
                    <div class="row"><div class="col-lg-12">
                      {% for picture in pictures %}
                        {% if loop.index <= 3 %} {# On limite l'affichage à 3 images#}
                          <a href="#x" class="small-thumbnail"><img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" ></a>
                        {% endif %}
                      {% endfor %}
                      </div></div>
                  </div><!--/row-fluid-->
                </div><!--/item-->
                <div class="item">
                  <div class="row-fluid">
                    <div class="row"><div class="col-lg-12">
                      {% for picture in pictures %}
                        {% if loop.index >= 4 and loop.index <= 6 %} {# On limite l'affichage aux images 3 à 6#}
                          <a href="#x" class="small-thumbnail"><img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" alt="{{picture.alt}}" data-display="{{ asset('images/Workspaces/') }}{{ws.name}}/{{picture.url}}" ></a>
                        {% endif %}
                      {% endfor %}
                    </div></div>  

                  </div><!--/row-fluid-->
                </div><!--/item-->

              </div><!--/carousel-inner-->  
              <div class="row"><div class="col-lg-12 col-lg-offset-5">
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ asset('images/down.png') }}" alt="Down"></a>  
              </div></div>  
            </div><!--/myCarousel-->
            
          </div><!--/col3-->
        </div>
      </div><!--/well-->
    </div>
  </div>
