 {# Visible uniquement si le membre est connecté #}
 <h2>Les avis de nos coworkers</h2>

{% include "CommonViews/flashMessage.html.twig" %}

<div class="row">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% if voteAlreadyDone %}
			<p>Vous avez déjà voté/commenté</p>
		{% else %}
			<div class="row"><div class="col-lg-10">
				{{ render(controller('BecowoCoreBundle:Vote:vote', {name: ws.name})) }}
				<div id="VoteResults"></div>
			    {{ form(form) }}
			</div><div class="col-lg-2">
			    <button type="submit" id="comment_Envoyer">Envoyer</button>
			</div></div>
		{% endif %}
	{% else %}
		<p>Pour voter et saisir des commentaires, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
	{% endif %}
</div>
{% if listComments is empty %}
	<div id="noComment">
		Soyez le premier à saisir un commentaire !
	</div>
{% else %}
<div id="listComments">
	{% for comment in listComments %}
		<div class="row">
			<div class="col-lg-1">
				{% if comment.member.profilePicture.url is defined %}
					<a href="{{ path('becowo_member_public_profile', {'username' : comment.member.username}) }}" class="memberPic">
						<img src="{{ asset('images/ProfilePictures/') }}{{comment.member.profilePicture.url}}", alt="{{comment.member.profilePicture.alt}}" title="{{comment.member.username}}">
					</a>
				{% endif %}
			</div>
			<div class="col-lg-4">
				<div class="speech-time">Le {{comment.postedOn|date("d/m/Y - H:i")}}</div>
				{% for vote in votes if comment.member == vote.member and ws == vote.workspace %}
					{{vote.scoreAvg|rating}}
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<blockquote class="speech-bubble">
		    	<p>{{comment.post}}</p>
		    </blockquote>
		</div>
	{% endfor %}
</div>
{% endif %}
