 {# Visible uniquement si le membre est connecté #}
<div id="CommentResults">
 <h2>Les avis de nos coworkers</h2>
<br>
{% include "CommonViews/flashMessage.html.twig" %}
	<div class="row">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% if voteAlreadyDone %}
				<p>Vous avez déjà voté/commenté</p>
			{% else %}
				<div class="row">
					<div class="col-lg-9 col-lg-offset-2">
 						{{ form_start(formComment) }}
						<div class="row">
						<div class="col-lg-2">
							{{ form_label(formComment.score1) }}
						</div>
						<div class="col-lg-3">
						    {{ form_errors(formComment.score1) }}
						    {{ form_widget(formComment.score1) }}
						</div>
						<div class="col-lg-2">
						    {{ form_label(formComment.score2) }}
						</div>
						<div class="col-lg-3">
						    {{ form_errors(formComment.score2) }}
						    {{ form_widget(formComment.score2) }}
						</div>
						</div>
						<div class="row">
						<div class="col-lg-2">
							{{ form_label(formComment.score3) }}
						</div>
						<div class="col-lg-3">
						    {{ form_errors(formComment.score3) }}
						    {{ form_widget(formComment.score3) }}
						</div>
						<div class="col-lg-2">
						    {{ form_label(formComment.score4) }}
						</div>
						<div class="col-lg-3">
						    {{ form_errors(formComment.score4) }}
						    {{ form_widget(formComment.score4) }}
						</div>
						</div>
						<div class="row">
							<div class="col-lg-8">
								{{form_row(formComment.post)}}
							</div>
							<div class="col-lg-2">
								<button type="submit" id="comment_Envoyer" class="vCenter">Envoyer</button>				    	
							</div>
						</div>
						{{ form_rest(formComment) }}
						{{ form_end(formComment) }}

					</div>
				</div>
			{% endif %}
		{% else %}
			<p>Pour voter et saisir des commentaires, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
		{% endif %}
	</div>
	{% if listComments is empty %}
		<div id="noComment">
			Soyez le premier à saisir un commentaire !
		</div>
	{% else %}
	<div id="listComments">
		{% for comment in listComments %}
			<div class="row">
				<div class="col-lg-1">
					{% if comment.member.profilePicture.url is defined %}
						<a href="{{ path('becowo_member_public_profile', {'id' : comment.member.id}) }}" class="memberPic">
							<div style="background-image:url('{{ asset('images/ProfilePictures/') }}{{comment.member.profilePicture.url}}'); 
						    width:70px; 
						    height:70px; 
						    background-position:center;
						    background-size: cover;
						    margin: 0 auto;">&nbsp;</div>
						</a>
					{% else %}
						<div style="background-image:url('{{ asset('images/ProfilePictures/avatar.png')}}'); 
					    width:70px; 
					    height:70px; 
					    background-position:center;
					    background-size: cover;
					    margin: 0 auto;">&nbsp;</div>
					{% endif %}
				</div>
				<div class="col-lg-8">
					<div class="speech-time">Le {{comment.postedOn|date("d/m/Y - H:i")}}</div>
					<div class="row vCenter">
						<div class="col-lg-2">
							Connectivité <br>
							Services
						</div>
						<div class="col-lg-3">
							{{comment.score1|rating}}
							{{comment.score2|rating}}
						</div>
						<div class="col-lg-2">
							Cosy/Confort <br>
							Ambiance
						</div>
						<div class="col-lg-3">
							{{comment.score3|rating}}
							{{comment.score4|rating}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<blockquote class="speech-bubble">
			    	<p>{{comment.post}}</p>
			    </blockquote>
			</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
