 {# Visible uniquement si le membre est connecté #}
 <h2>Commentaires</h2>

{% include "CommonViews/flashMessage.html.twig" %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ form(form) }}
{% else %}
	<p>Pour saisir des commentaires, vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a></p>
{% endif %}

{% for comment in listComments %}
	<div class="row">
		<div class="col-lg-1 col-lg-offset-1">
			<a href="{{ path('becowo_member_public_profile', {'username' : comment.member.username}) }}">
				<img src="{{ asset('images/ProfilePictures/') }}{{comment.member.profilePicture.url}}", alt="{{comment.member.profilePicture.alt}}" title="{{comment.member.username}}"><br>
			</a>
		</div>
		<div class="col-lg-10">
			<span>Le {{comment.postedOn|date("d/m/Y - H:i")}}</span>
			<p>{{comment.post}}</p>
		</div>
	</div>
	{% if loop.last %}{% else %}<hr>{% endif %}
{% endfor %}


