{% extends "layout.html.twig" %}

{% block title %}
  Référencer un espace de coworking
{% endblock %}

{% block meta %}
	<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<h1>Référencez votre espace</h1>
			<br>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div class="row text-center">
				{{form_widget(form.draft, {'attr': {'formnovalidate': 'formnovalidate'}})}}
				{{form_widget(form.send, {'attr': {'formnovalidate': 'formnovalidate'}})}}
			</div>
			<br>
			<div id="accordion" class="panel-group">
			    <div class="panel panel-default">
			    	<a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
			      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
			      			Identité de votre espace
			      		</div>
			      	</a>
			      	<div class="panel-collapse collapse in" id="collapseOne">
				        <div class="panel-body">
				        	<div class="form-group">
						 	<div class="input-group">
							    <div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
							    {{form_widget(form.name)}}
							</div>
						</div>
						
						<div class="form-group">
							<div class="input-group">
						    	<div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<input id="autocomplete" placeholder="Saisir une adresse" onFocus="geolocate()" type="text" autocomplete="off" class="form-control"></input>
							</div>
						</div>
						
						{{form_widget(form.street)}}
						{{form_widget(form.postCode)}}
						{{form_widget(form.city)}}
						{{form_widget(form.country)}}
						{{form_widget(form.longitude)}}
						{{form_widget(form.latitude)}}
						{{form_row(form.isAlwaysOpen)}}
						{{form_row(form.timetable)}}
				        </div>
			      	</div>
			      	<div class="panel panel-default">
				      	<a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			L'équipe
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseTwo">
				        	<div class="panel-body">
				        		{{form_widget(form.teamMember)}}
								<div class="row text-center">
									<a href="#" id="add_teamMember" class="btn btn-default">Ajouter un membre</a>
								</div>
				        	</div>
				      	</div>
				    </div>
			      	<div class="panel panel-default">
				      	<a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			Votre présence sur Internet
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseThree">
				        	<div class="panel-body">
				        		<div class="form-group">
								  <div class="input-group">
								    <div class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></div>
								    {{form_widget(form.website)}}
								  </div>
								</div>
								<div class="form-group">
								  <div class="input-group">
								    <div class="input-group-addon"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
								    {{form_widget(form.facebookLink)}}
								  </div>
								</div>
								<div class="form-group">
								  <div class="input-group">
								    <div class="input-group-addon"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
								    {{form_widget(form.twitterLink)}}
								  </div>
								</div>
								<div class="form-group">
								  <div class="input-group">
								    <div class="input-group-addon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
								    {{form_widget(form.instagramLink)}}
								  </div>
								</div>
				        	</div>
				      	</div>
				    </div>
			      	<div class="panel panel-default">
				      	<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			Définissez votre offre
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseFour">
				        	<div class="panel-body">
				        		{{form_row(form.category)}}
								{{form_row(form.offer)}}
								{{form_row(form.firstBookingFree)}}
				        	</div>
				      	</div>
				    </div>
			      	<div class="panel panel-default">
				      	<a href="#collapseFive" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			Vos services
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseFive">
				        	<div class="panel-body">
								{{form_row(form.amenitiesDesc)}}
								{{form_widget(form.workspaceHasAmenitiesList)}}
								<div class="row text-center">
									<a href="#" id="add_amenity" class="btn btn-default">Ajouter un service</a>
								</div>
							</div>
				      	</div>
				    </div>
			      	<div class="panel panel-default">
				      	<a href="#collapseSix" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			Les espaces à louer
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseSix">
				        	<div class="panel-body">
								{{form_widget(form.workspaceHasOfficeList)}}
								<div class="row text-center">
									<a href="#" id="add_office" class="btn btn-default">Ajouter un bureau</a>
								</div>
							</div>
				      	</div>
				    </div>
			      	<div class="panel panel-default">
				      	<a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse">
				      		<div class="panel-heading" style="color: black;background-color: lightgrey;text-align: center;font-weight: bold;">
				      			Les photos
				      		</div>
				      	</a>
				      	<div class="panel-collapse collapse" id="collapseSeven">
				        	<div class="panel-body">
								{{form_widget(form.pictures)}}
								<div class="row text-center">
									<a href="#" id="add_picture" class="btn btn-default">Ajouter une photo</a>
								</div>
							</div>
				      	</div>
				    </div>
				</div>
			</div>
				
			{# Désactive la validation HTML et force la validation côté serveur #}
			<div class="row text-center">
				{{form_widget(form.draft2, {'attr': {'formnovalidate': 'formnovalidate'}})}}
				{{form_widget(form.send2, {'attr': {'formnovalidate': 'formnovalidate'}})}}
			</div>
				
			<br>
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>

{% endblock body %}

{% block javascripts %}

	{# Gestion de la saisie de l'adrese via API google #}
    <script type="text/javascript">
    	var placeSearch, autocomplete;

      	initAutocomplete();

	    function initAutocomplete() {
	        // Create the autocomplete object, restricting the search to geographical location types.
	        autocomplete = new google.maps.places.Autocomplete(
	            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
	            {types: ['geocode']});

	        // When the user selects an address from the dropdown, populate the address fields in the form.
	        autocomplete.addListener('place_changed', fillInAddress);
	      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

		for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (addressType == 'street_number') {
            var num = place.address_components[i]['long_name'];
          }else if (addressType == 'route') {
            var val = place.address_components[i]['long_name'];
            $('#create_ws_form_street').val(num + ' ' + val);
          }else if (addressType == 'locality') {
            var val = place.address_components[i]['long_name'];
            $('#create_ws_form_city').val(val);
          }else if (addressType == 'postal_code') {
            var val = place.address_components[i]['long_name'];
            $('#create_ws_form_postCode').val(val);
          }else if (addressType == 'country') {
            var val = place.address_components[i]['long_name'];
            $("#create_ws_form_country option").filter(function() {
			    return this.text == val; 
			}).attr('selected', true);
          }
        }

        $('#create_ws_form_longitude').val(place.geometry.location.lng());
        $('#create_ws_form_latitude').val(place.geometry.location.lat());

      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>

	{# Gestion des sous formulaires pour les relations ManyToMany #}
	<script type="text/javascript">

  	$(document).ready(function() {
  	
  	manageSubForm($('div#create_ws_form_workspaceHasAmenitiesList'), $('#add_amenity'));
 	manageSubForm($('div#create_ws_form_workspaceHasOfficeList'), $('#add_office'));
 	manageSubForm($('div#create_ws_form_teamMember'), $('#add_teamMember'));
 	manageSubForm($('div#create_ws_form_pictures'), $('#add_picture'));


    function manageSubForm($container, $btn_add){
	    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
	    var index = $container.find(':input').length;

	    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
	    $($btn_add).click(function(e) {
	      addItem($container);
	      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
	      return false;
	    });

	    // La fonction qui ajoute un formulaire CategoryType
	    function addItem($container) {
	      // Dans le contenu de l'attribut « data-prototype », on remplace :
	      // - le texte "__name__label__" qu'il contient par le label du champ
	      // - le texte "__name__" qu'il contient par le numéro du champ
	      var template = $container.attr('data-prototype')
	        .replace(/__name__label__/g, '') // .replace(/__name__label__/g, 'Item n°' + (index+1))
	        .replace(/__name__/g,        index)
	      ;

	      // On crée un objet jquery qui contient ce template
	      var $prototype = $(template);

	      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
	      addDeleteLink($prototype);

	      // On ajoute le prototype modifié à la fin de la balise <div>
	      $container.append($prototype);

	      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
	      index++;
	    }
    }


    // La fonction qui ajoute un lien de suppression
    function addDeleteLink($prototype) {
      var $deleteLink = $('<a href="#" class="btn btn-danger" style="float:right;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>');
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
{% endblock javascripts %}
