<div class="container-fluid">
  <div class="row text-center">
    {% for event in listEvents %}    
    <div class="panel panel-default" id="panelEvent">
      <div class="panel-heading">
        <div class="row text-center">
          <i class="fa fa-glass fa-3x" aria-hidden="true"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center title">
          {{event.title}}
        </div>
        <div class="row">
          <center>
            {{ event.startDate|localizeddate('full', 'none')|title }} <br>
            {{event.startDate|date("H:i")}} - {{event.endDate|date("H:i")}}
          </center>
          {% if event.description|length > 200 %}
            <p>{{event.description|nl2br|slice(0,200)}}...</p>
          {% else %}
            <p>{{event.description|nl2br}}</p>
          {% endif %}
        </div>
      </div>
       <div class="panel-footer">
        <div class="row text-center">
            <button type="button" data-toggle="modal" class="btn btn-lg" data-target="#myModalEvent-{{event.id}}">En savoir plus</button>
            <button type="button" class="btn btn-lg">
            <div title="Add to Calendar" class="addthisevent">
              Ajouter à mon calendrier
              <span class="start">{{event.startDate|date("d/m/Y H:i:s")}}</span>
              <span class="end">{{event.endDate|date("d/m/Y H:i:s")}}</span>
              <span class="timezone">Europe/Paris</span>
              <span class="title">{{event.title}}</span>
              <span class="description">{{event.description}}</span>
              <span class="location">{{ws.name}} {{ws.street}} {{ws.postcode}} {{ws.city}}</span>
              <span class="organizer">Organizer</span>
              <span class="organizer_email">Organizer e-mail</span>
              <span class="all_day_event">false</span>
              <span class="date_format">DD/MM/YYYY</span>
            </div>
            </button>
        </div>
      </div> 
    </div>


<!-- Modale -->
<div class="modal fade" id="myModalEvent-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{event.title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{event.description|nl2br}}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
</div>
</div>


