<div class="container-fluid" id="contentToRefresh">

{% if app.session.flashBag.peek('success') is empty %}
{# Evite de réafficher la form si le mail vient d'être envoyé #}
  {{ form_start(managerContactForm) }}
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 labels">
        Nom *
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
      {{ form_row(managerContactForm.name) }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 labels">
        Email *
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        {{ form_row(managerContactForm.email) }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 labels">
        Sujet *
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        {{ form_row(managerContactForm.subject) }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 labels">
        Message *
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        {{ form_row(managerContactForm.message) }}
      </div>
    </div>
    {{ form_rest(managerContactForm) }}

  <div id="modal-footer-manager-contact">
    <hr>
    <div class="row text-center">
      <button type="submit" id="submitContactManager"><i class="fa fa-envelope-o" aria-hidden="true"></i> Envoyer</button>
      <button type="button" data-dismiss="modal" id="dismiss"><i class="icon icon-times icon-lg"></i> Annuler</button>
      </div>
  </div>
  {{ form_end(managerContactForm) }}

{% endif %}
{# Ici on empeche de fermer le falshmessage sinon après la pop'in se rouvre vide #}
{% for label, flashes in app.session.flashbag.all %}
  {% for flash in flashes %}
      <div class="alert alert-{{label}} alert-dismissible" role="alert">
          {{ flash }}
      </div>
  {% endfor %}
{% endfor %}
</div>
                      