<div class="container-fluid">

{% if app.session.get('contactManager') == 'ok' %}
<div class="row text-center">
	<p>Votre message a bien été envoyé.</p>
	<p>Merci</p>

	{{app.session.set('contactManager', '')}}
</div>
{% else %}

{{ form_start(managerContactForm) }}
  <div class="row">
    <div class="col-lg-3 labels">
      Nom *
    </div>
    <div class="col-lg-8">
    {{ form_row(managerContactForm.name) }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 labels">
      Email *
    </div>
    <div class="col-lg-8">
      {{ form_row(managerContactForm.email) }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 labels">
      Sujet *
    </div>
    <div class="col-lg-8">
      {{ form_row(managerContactForm.subject) }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 labels">
      Message *
    </div>
    <div class="col-lg-8">
      {{ form_row(managerContactForm.message) }}
    </div>
  </div>
  {{ form_rest(managerContactForm) }}

{% endif %}
</div>
