<style>
ul{
	list-style-type: none;
    padding-left: 0;
}
#amenities li{
	width: 50%;
	float:left;
	display:inline;
    margin-bottom: 15px;
}
.btn{
	background-color: var(--my-green);
	color: white;
	width: 100%;
    border-color: var(--my-green);
    line-height: 30px !important;
}
.btn i{
	margin-right: 5px;
}
#filtre-bureaux {
    width: 110%;
}
#btnResa{
	background-color: var(--my-green);
	color: white;
	width: 100%;
    border-color: var(--my-green);
    line-height: 30px !important;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Description</h1>
			<p>{{ws.description|raw|nl2br}}</p>
		</div>
	</div>
	<div class="row" id="amenities">
		<div class="col-xs-12">
			<h1>Services</h1>
	        <p>{{ws.amenitiesDesc}}</p>
	        <ul>
				{% for WsHasAmenity in WsHasAmenities %}
					<li>
						<img src="{{ asset('images/icons/amenities/Bleu/') }}{{WsHasAmenity.amenities.urlLogo}}" alt="{{WsHasAmenity.amenities.name}}" width="40px">
						{{WsHasAmenity.amenities.name}}<br>
						<div class="label label-info">{{WsHasAmenity.label}}</div> <br>
					</li>
				{% endfor %}
	        </ul>
	    </div>
	</div>
{# 	<div class="row">
		<h1>Evènements</h1>
		{% if listEvents|length > 0 %}
        	{% include 'Workspace/events.html.twig' %}
        {% else %}
        	<div class="row text-center">
        		<span style="font-size:12pt;">Aucun évènement n'est prévu pour le moment.</span>
        		<br><br>
        	</div>
    	{% endif %}
	</div>
	<div class="row">
		<h1>Contact</h1>
		<div id="time">
			<center><i class="fa fa-map-signs fa-2x" aria-hidden="true"></i></center>
			{{ws.street|capitalize}} <br>
			{{ws.postCode}} {{ws.city|capitalize}} <br>
			<center><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></center>
			{{ws.openHoursInfo|nl2br}}<br>
			<center><i class="fa fa-globe fa-2x" aria-hidden="true"></i></center>
			<a href="{{ws.website}}" target="_blank">{{ws.name}}</a>
		</div>
	</div> #}
{# 	<div class="row text-center">
		<button type="button" data-toggle="modal" class="btn btn-lg" data-target="#myModalManagerContact" id="contactManager"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contacter le Manager</button> <br>

		<div class="modal fade" id="myModalManagerContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
		                <h4 class="modal-title">Contacter {{ws.name}}</h4>
		            </div>
		            <div class="modal-body" id="modal-body-manager-contact">
		                {{ render(controller('BecowoCoreBundle:Workspace:contact', {name: ws.name})) }}
		            </div>
		        </div>
		    </div>
		</div>
	</div> #}
	{% if ws.category.name != 'Café Wifi' %}
	<div class="row">
		<h1>Réserver</h1>
		<p>Choisissez votre espace et cliquez sur le bouton "Réserver" associé</p>
		{{ render(controller('BecowoCoreBundle:Booking:bookingList', {name: ws.name})) }}
	</div>
	{% endif %}
</div>

