<div id="myCarouselTeam" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    {% for teamMember in ws.teamMember %}     
      <div class={% if loop.first %}"item active"{% else %}"item"{% endif %}>       
      <div class="card">
        <img class="card-img-top" src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{teamMember.urlProfilePicture}}" alt="{{teamMember.urlProfilePicture}}" width="100px" height="100px">
        <div class="card-block">
          <div class="card-title">{{teamMember.firstname}} {{teamMember.name}}</div>
          <span class="label label-info">{{teamMember.job}}</span>
          <p class="card-text">{{teamMember.description}}</p>
        </div>
      </div>
      </div>

    {% endfor %}

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouselTeam" role="button" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a> 
    <a class="right carousel-control" href="#myCarouselTeam" role="button" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
