{% if WsHasTeamMembers|length != "0" %}
  <h2>L'équipe à votre service</h2>

  {% for wsHasTeamMember in WsHasTeamMembers %}           
      <div class="members">
        <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{wsHasTeamMember.teamMember.urlProfilePicture}}" alt="{{wsHasTeamMember.teamMember.urlProfilePicture}}" width="150px" height="150px"><br>
        {{wsHasTeamMember.teamMember.firstname}} {{wsHasTeamMember.teamMember.name}}
        <div class="label label-info">{{wsHasTeamMember.teamMember.job}}</div>
      </div>
  {% endfor %}

{% else %}
  {% for p in pictures %}
    {% if p.isFavorite %}
      <img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{p.url}}" alt="{{ws.name}}" width="100%">
    {% endif %}
  {% endfor %}
{% endif %}
