{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ws.name}}
{% endblock %}

{% block stylesheets %}
	{# carroussel2 #}
	<link rel="stylesheet" href="{{ asset('css/ninja-slider.css') }}">
	<link rel="stylesheet" href="{{ asset('css/thumbnail-slider.css') }}">
	
{% endblock %}

{% block body %}

<div class="container-fluid" id="wsHeader">
	<div class="row text-center">
		<div class="col-lg-6">
			{% if pictureLogo[0] is defined %}
				<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{pictureLogo[0].url}}" alt="{{pictureLogo[0].alt}}">
			{% else %}
				<h1 id="wsName">{{ws.name}}</h1>
			{% endif %}
		</div>
		<div class="col-lg-6">
		{# 	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{ render(controller('BecowoCoreBundle:Vote:vote', {name: ws.name})) }}
				<button type="submit" class="btn btn-primary" onclick="goVote()">Voter !</button>
				<div id="VoteResults"></div>
			{% else %}
			Vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a> pour voter
			{% endif %} #}
			{{averageVote|rating}}
		</div>
	</div>
{############################################# Caroussel #########################################}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			{% include 'Workspace/carroussel2.html.twig' %}
		</div>
	</div>
	<div class="row text-center" id="contact">
		Contact : {{ws.street}} - {{ws.postCode}} {{ws.city}}
	</div>
</div>
{############################################# Description #########################################}
<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8" id="description">	
				<h2>Description</h2>		
				<p>{{ws.description}}</p>
				<span>{{ws.descriptionBonus}}</span>
				<hr>
				<h2>Services</h2>
				<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
				{% for amenity in ws.amenities %}
					<img src="{{ asset('images/icons/amenities/BsurN/') }}{{amenity.urlLogo}}" alt="{{amenity.name}}" title="{{amenity.name}}">
				{% endfor %}
			</div>
			<div class="col-lg-3">
{############################################# Map #########################################}
				{# La taille de la carte joue sur les options affichées : itinéraire... #}
			<div id="map">
				<div class="embed-responsive embed-responsive-16by9">
					<span id="address_ws"> {{ws.name}} {{ws.street}} {{ws.postcode}} {{ws.city}}</span>
			    	<iframe id="map_ws" class="embed-responsive-item" allowfullscreen></iframe>
				</div>
			</div>
{############################################# horaire #########################################}	
			<div id="time">
				<center><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></center>
				<p>{{ws.openHoursInfo}}</p>
				<a href="{{ws.website}}" target="_blank">{{ws.website}}</a><br>
				<button type="button"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contacter le Manager</button>
			</div>
			</div>
		</div>
{############################################# Booking #########################################}
		<div class="row">
			<div id="booking">
				<h2>Faire une réservation</h2>
				<br><br><br><br><br>
				{# {% include 'Workspace/book.html.twig' %} #}
			</div>
		</div>
{############################################# Offices #########################################}
		<div class="row">
			<div class="col-lg-9">
				<h4>Les Bureaux</h4>
				<ul>
					{% for office in listOffices %}
						<li>{{office.office.name}} ({{office.DeskQty}} bureaux)</li>
					{% endfor %}
				</ul>
			</div>
{############################################# Panel Event #########################################}
			<div class="col-lg-3" id="events">
				<h2>Evenements</h2>
				<p>Ne manquez pas les évènements chez {{ws.name}}</p>
				{% include 'Workspace/events.html.twig' %}
			</div>
		</div>

{############################################# Commentaires #########################################}
		<div class="row">
			<div id="CommentResults">
				{{ render(controller('BecowoCoreBundle:Comment:view', {name: ws.name})) }}
			</div>
		</div>

{############################################# Team #########################################}
		<div class="row" id="team">
			<h2>L'équipe à votre service</h2>
			{# {% include 'Workspace/teamMembers.html.twig' %} #}
			{% for teamMember in ws.teamMember %}
				<div class="col-lg-2">
		        	<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{teamMember.urlProfilePicture}}" alt="{{teamMember.urlProfilePicture}}">
		          	<h4>{{teamMember.firstname}} {{teamMember.name}}</h4>
		          	<span class="label label-info">{{teamMember.job}}</span>
		          	<p>{{teamMember.description}}</p>
	          	</div>
		    {% endfor %}
		</div>

	</div>

{% block javascripts %}
	{# carroussel2 #}
	<script src="{{ asset('js/ninja-slider.js') }}"></script>
	<script src="{{ asset('js/thumbnail-slider.js') }}"></script>

	<script type="text/javascript">

$(function () {
    $("#comment_Envoyer").unbind("click").click(function(){
    	$.ajax(Routing.generate('becowo_comment', {name: document.getElementById('wsName').innerHTML}), {
                    data: $('#comment-form').serialize(),
                    type: "POST",
                    success: function(data) {
                        $('#CommentResults').html(data);
                    },
                    error: function() {
                    	$('#CommentResults').html("Une erreur est survenue, veuillez réessayer plus tard");
                    }
                });
    		return false;
    });
});

    function goVote(){
    	$.ajax(Routing.generate('becowo_core_vote', {name: document.getElementById('wsName').innerHTML}), {
    				data: $('#vote-form').serialize(),
                    type: "POST",
                    success: function(data) {
                    	$('#VoteResults').html("Merci, vote comptabilisé !");
                    },
                    error: function() {
                    	$('#VoteResults').html("Une erreur est survenue, veuillez réessayer plus tard");
                    }
                });
    		return false;
    }
    </script>
    
{% endblock javascripts %}

{% endblock body %}
