{% extends "layout.html.twig" %}

{% block title %}
  {{ws.name}}
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

<div class="container-fluid" id="wsHeader">

{############################################# Caroussel #########################################}
	<div class="row text-center">
		{% if is_mobile() %}
			{% include 'Workspace/carroussel-mobile.html.twig' %}
		{% else %}
			{% include 'Workspace/carroussel.html.twig' %}
		{% endif %}	
	</div>

	<div class="row text-center">
		<div class="col-lg-3 col-md-3">
			<div id="OfficeQuantity">
				<div class="row txt">
					{% if ws.category.name == 'Café Wifi' %}
						<strong>Pour un calme assuré <br><br></strong>
						{{ws.horaireCalme}}
					{% else %}
						<strong>{{ws.name}} vous propose : <br></strong>
						{% for q in quantityByOfficeType %}
							{% if q.name == 'Espace partagé' %}
								{{q.name}} : {{q.desk_qty}} places <br>
							{% else %}
								{{q.name}} : {{q.quantity}} <br>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				{% if ws.category.name != 'Café Wifi' %}
					{% include 'Workspace/row-resa.html.twig' %} 
				{% endif %}
			</div>
		</div>
		<div class="col-lg-5 col-md-6 col-xs-12 col-lg-offset-1 name">
			{% if is_mobile() %}
				<h1>{{ws.name}}</h1>
				{% if ws.voteAverage > 0 %} {{ws.voteAverage|round|rating}} {% endif %} <br>
			{% else %}
				<h1>{{ws.name}} {% if ws.voteAverage > 0 %} {{ws.voteAverage|round|rating}} {% endif %}</h1>
			{% endif %}	

			<a href="#Contact" id="goToContact">{{ws.street|capitalize}} {{ws.postCode}} {{ws.city|capitalize}}</a>
		</div>
		<div class="col-lg-3 col-md-3" id="visite360">
			{% if ws.urlVisit360 != "" %}
			<a href="{{ path('becowo_core_visit_360', {'name' : ws.name}) }}" target="_blank">	
				<img src="{{ asset('images/icons/visite360.png') }}" alt="visite 360°" title="visite 360°">
			</a>
			{% endif %}
		</div>
	</div>	

	<div class="row text-center">
		<span id="bonus">{{ws.descriptionBonus}}</span>
	</div>	

{% if is_mobile() and not is_tablet() %}
	{% include 'Workspace/tabs-mobile.html.twig' %}
{% elseif ws.category.name == 'Café Wifi' %}
		{% include 'Workspace/no-tabs.html.twig' %}
	{% else %}
		{% include 'Workspace/tabs.html.twig' %}
{% endif %}	

{############################################# Réseaux #########################################}
{% if ws.network != null%}
<div class="row text-center">
	<div class="col-lg-12 col-md-12 hidden-xs">
		<h2>Les espaces du même réseau</h2>
			<div id="sliderNetwork">
			{% for w in wsSameNetworkWithFavoritePic %}
				<div class="slide">
					<a href="{{ path('becowo_core_workspace', {'region':w.ws.region.name, 'ville' : w.ws.city, 'name' : w.ws.name}) }}">	
						<span class="nom">{{ w.ws.name }}</span> <br>
						<center>
						<img src="{{ asset('images/Workspaces/') }}{{w.ws.name}}/{{w.ws.favoritePictureUrl}}" alt="{{w.ws.name}}" width="300px"> <br>
						</center>
						{% for amenity in w.amenities %}
							{% if loop.index < 9 %}
							<img src="{{ asset('images/icons/amenities/Bleu/') }}{{amenity.amenities.urlLogo}}" alt="{{amenity.amenities.name}}" width="30px" style="display: inline-block !important;"> 
							{% elseif loop.index == 9 %}
							<span style="font-size:16pt;font-weight:bold;color: var(--my-blue);">...</span>
							{% endif %}
						{% endfor %} <br>
						{{w.ws.street}} - {{w.ws.postCode}} {{w.ws.city}} <br><br>
					</a>
				</div>
			{% endfor %}
			</div>
	</div>
</div>
{% endif %}
{############################################# Commentaires #########################################}
<div class="row text-center">
	<div class="col-lg-12 col-md-12 col-xs-12">
		{{ render(controller('BecowoCoreBundle:Workspace:voteAndComment', {name: ws.name})) }}
	</div>
</div>

</div>{# end of container #}


{% endblock body %}
