{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ws.name}}
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

<span id="wsName" hidden="true">{{ws.name}}</span>   {# Important, permet de router pour les comment et vote#}

<div class="container-fluid" id="wsHeader">

{############################################# Caroussel #########################################}
	<div class="row text-center">
		{# <div class="col-lg-8 col-lg-offset-2"> #}
			{% include 'Workspace/carroussel2.html.twig' %}	
		{# </div>			 #}
	</div>

	<div class="row text-center">
		<div class="col-lg-3" id="visite360">
			{% if ws.urlVisit360 != "" %}
			<a href="{{ path('becowo_core_visit_360', {'name' : ws.name}) }}" target="_blank">	
				<img src="{{ asset('images/icons/visite360.png') }}" alt="visite 360°" title="visite 360°">
				<div id="txt">Visitez {{ws.name}} en 360°</div>
			</a>
			{% endif %}
		</div>
		<div class="col-lg-6 name">
			<h1>{{ws.name}} {% if averageVote > 0 %} {{averageVote|rating}} {% endif %}</h1>
			{{ws.street|capitalize}} {{ws.postCode}} {{ws.city|capitalize}}
		</div>
	</div>	

	<div class="row text-center">
		<span id="bonus">{{ws.descriptionBonus}}</span>
	</div>	

{############################################# Onglets #########################################}
<ul class="nav nav-tabs nav-inverse" id="myTab">
    <li><a data-toggle="tab" href="#Description">Description</a></li>
    <li><a data-toggle="tab" href="#Services">Services</a></li>
    <li><a data-toggle="tab" href="#Evènements">Evènements</a></li>
    <li><a data-toggle="tab" href="#Contact">Contact</a></li>
    <li id="resa"><a data-toggle="tab" href="#Réservation">Réservation</a></li>
</ul>
<div class="tab-content" id="myTabContent">
{############################ Description ############################}
    <div id="Description" class="tab-pane fade">
        <p>{{ws.description|raw|nl2br}}</p>
        <strong>Retrouvez toutes les informations nécessaires à votre réservation dans l'onglet "Réservation"</strong>
        <br>
        <br>
        <div class="row text-center">
	         {% for priceandoffice in pricesAndOffices %}
	         	{% if loop.index < 6 %} {# on n'affiche que les 5 premiers bureaux #}
         		<a href="#Réserver" id="goToResa-{{priceandoffice.WorkspaceHasOffice.id}}">
		        	<div id="office">
		        		{% if priceandoffice.WorkspaceHasOffice.UrlProfilePicture != '' %}
		        			<img src="{{ asset('images/Workspaces/') }}{{ws.name}}/{{priceandoffice.WorkspaceHasOffice.UrlProfilePicture}}" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		        		{% else %}
		        			<img src="{{ asset('images/icons/offices/BsurN/') }}{{priceandoffice.WorkspaceHasOffice.office.name}}.png" alt="{{priceandoffice.WorkspaceHasOffice.office.name}}">
		        		{% endif %} <br>
		        		{{priceandoffice.WorkspaceHasOffice.name}} <br>
		        		<strong>
		        			{% if priceandoffice.priceHour > 0 %}
			        			A partir de {{priceandoffice.priceHour}} € HT / heure
			        		{% elseif priceandoffice.priceHalfDay > 0 %}
			        			{{priceandoffice.priceHalfDay}} € HT / 1/2 journée
			        		{% elseif priceandoffice.priceDay > 0 %}
			        			{{priceandoffice.priceDay}} € HT / jour
			        		{% elseif priceandoffice.priceWeek > 0 %}
			        			{{priceandoffice.priceWeek}} € HT / semaine
			        		{% elseif priceandoffice.priceMonth > 0 %}
			        			{{priceandoffice.priceMonth}} € HT / mois
			        		{% endif %}
						</strong>
			        </div>
		    	</a>
		    	{% endif %}
	        {% endfor %} 
	       
        </div>
    </div>
{############################ Services ############################}
    <div id="Services" class="tab-pane fade">
    	<div class="row">
    		<div class="col-lg-8">
		        <p>Les services disponibles chez {{ws.name}}</p>
		        <br>
		        <ul>
					{% for amenity in ws.amenities %}
						<li>
							<img src="{{ asset('images/icons/amenities/Bleu/') }}{{amenity.urlLogo}}" alt="{{amenity.name}}" title="{{amenity.name}}"> 
							{{amenity.name}}
						</li>
					{% endfor %}
		        </ul>
    		</div>
			<div class="col-lg-4">
				{% include 'Workspace/teamMembers.html.twig' %} 
    		</div>
    	</div>
    </div>
{############################ Evenements ############################}
    <div id="Evènements" class="tab-pane fade">
    	{% if listEvents|length > 0 %}
    		<p>Retrouvez ici les événements organisés chez {{ws.name}}</p>
        	{% include 'Workspace/events.html.twig' %}
        {% else %}
        	<div class="row text-center">
        		<span style="font-size:14pt;">Aucun évènement n'est prévu pour le moment.</span>
        		<br><br>
        	</div>
    	{% endif %}
    </div>
{############################ Contact ############################}
    <div id="Contact" class="tab-pane fade">
    	<div class="row text-center">
    		<div class="col-lg-6">
				<div id="time">
					<center><i class="fa fa-map-signs fa-2x" aria-hidden="true"></i></center>
					{{ws.street|capitalize}} <br>
					{{ws.postCode}} {{ws.city|capitalize}} <br>
					<center><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></center>
					{{ws.openHoursInfo|nl2br}}<br>
					<center><i class="fa fa-globe fa-2x" aria-hidden="true"></i></center>
					<a href="{{ws.website}}" target="_blank">{{ws.name}}</a>
				</div>
				<button type="button"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contacter le Manager</button> <br>
    		</div>
    		<div class="col-lg-6">
		        {# La taille de la carte joue sur les options affichées : itinéraire... #}
				<div id="map">
					<iframe frameborder="0" style="border:0;width: inherit;height: inherit;" src="https://www.google.com/maps/embed/v1/place?q={{ws.name|replace({'&': "and"})}} {{ws.street}} {{ws.postcode}} {{ws.city}}&key=AIzaSyACES16ClzyOdiVa9Ohd-_unkM5rvvbo7o&zoom=15" ></iframe>

				{# 	<a href="http://maps.google.fr/maps?f=q&hl=fr&q={{ws.name}} {{ws.street}} {{ws.postcode}} {{ws.city}}" target="_blank">
					<button type="button">Agrandir le plan</button></a> #}
				</div>
    		</div>
    	</div>
    	<br>
    	<h4>Suivez {{ws.name}} sur les réseaux sociaux :</h4>
    	<div class="row text-center">
    		{% if ws.facebookLink != '' %}
    			<a href="{{ws.facebookLink}}" target="_blank">
    				<img src="{{ asset('images/RS/facebook.png') }}" alt="Profile facebook" title="Profile facebook {{ws.name}}">
    			</a>
    		{% endif %}
    		{% if ws.twitterLink != '' %}
    			<a href="{{ws.twitterLink}}" target="_blank">
    				<img src="{{ asset('images/RS/twitter.png') }}" alt="Profile Twitter" title="Profile Twitter {{ws.name}}">
    			</a>
    		{% endif %}
    		{% if ws.instagramLink != '' %}
    			<a href="{{ws.instagramLink}}" target="_blank">
    				<img src="{{ asset('images/RS/instagram.png') }}" alt="Profile Instagram" title="Profile Instagram {{ws.name}}">
    			</a>
    		{% endif %}
    	</div>
    </div>
{############################ Réserver ############################}
    <div id="Réservation" class="tab-pane fade">
        {{ render(controller('BecowoCoreBundle:Booking:bookForm', {name: ws.name})) }}
    </div>
</div>

{############################################# Commentaires #########################################}
<div class="row text-center">
	{{ render(controller('BecowoCoreBundle:Comment:view', {name: ws.name})) }}
</div>

</div>{# end of container #}



{% block javascripts %}    
{% endblock javascripts %}

{% endblock body %}
