{% extends 'BackOffice/bo-layout.html.twig' %}

{% block page %}


<div class="container-fluid">

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Facebook
	        </h1>
	    </div>
	</div>

	<div class="row">
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-calendar fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{FBinsightsLifetime[3]["Lifetime Total Likes"]}}</div>
	                        <div>Nb fans</div>
	                    </div>
	                </div>
	            </div>
	            <a href="">
	                <div class="panel-footer">
	                    <span class="pull-left">Voir détails</span>
	                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-yellow">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-shopping-cart fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{FBinsightsLifetime[1]["Lifetime Likes by Country"]|length}}</div>
	                        <div>Nb pays des fans</div>
	                    </div>
	                </div>
	            </div>
	            <a href="">
	                <div class="panel-footer">
	                    <span class="pull-left">Voir détails</span>
	                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-green">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-area-chart fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{FBinsightsLifetime[0]["Lifetime Likes by City"]|length}}</div>
	                        <div>Nb villes des fans</div>
	                    </div>
	                </div>
	            </div>
	            <a href="">
	                <div class="panel-footer">
	                    <span class="pull-left">Voir détails</span>
	                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div>

	</div>

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
	            Twitter
	        </h1>
	    </div>
	</div>

	<div class="row">
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-calendar fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{twitterAccountInfo.followers_count}}</div>
	                        <div>Nb followers</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-yellow">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-shopping-cart fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{twitterAccountInfo.friends_count}}</div>
	                        <div>Nb abonnements</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-green">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-area-chart fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{twitterAccountInfo.favourites_count}}</div>
	                        <div>Nb J'aime</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-red">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-area-chart fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{twitterAccountInfo.statuses_count}}</div>
	                        <div>Nb Tweet</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>
</div>

{% endblock page %}

{% block javascripts %}
{% endblock %}

