{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement accepté
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

<div class="container-fluid paiement">
	<div class="row">
		<h1>Votre paiement a été accepté</h1>
	</div>
	<div class="row">
		<div class="col-lg-7 col-md-7">
			<p>Merci pour votre réservation ! <br>
			<br>
			<strong>Réservation N°</strong> {{booking.bookingRef}} <br>
			<strong>Nom : </strong> {{ws.name}} <br>
			<strong>Adresse : </strong> {{ws.street}} {{ws.postCode}} {{ws.city}} <br>
			<strong>Espace réservé : </strong> {{booking.workspacehasoffice.name}} <br>
			<strong>Date : </strong>
			{% if booking.duration == 'Mois' %}
				du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} <br>
			{% elseif booking.duration == 'Journée' %}
				le {{booking.startDate|date("d/m/Y")}}<br>
			{% else %}
				le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
			{% endif %}
			<strong>Montant HT :</strong> {{booking.priceExclTax }} € <br>
			<strong>Montant TTC :</strong> {{booking.priceInclTax }} € <br>
			<br>
			Un email de confirmation vous a également été envoyé.
			</p>
		</div>
		<div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">
			<br><br>
			<img src="{{ asset('images/icons/creditAgricole/e-transactions.png') }}" alt="e-transactions">
		</div>
	</div>
	<hr>
	{% include "CommonViews/bandeauQuestion.html.twig" %}
</div>

{% endblock body %}
