{# TO DO : en BDD mettre les infos de preprod puis prod données par le Crédit Agricole #}

{# ATTENTION : l'ordre des champs est extrêmement important, il doit correspondre exactement à l'ordre des champs dans la chaîne hachée (PaiementController.php) #}

<form method="POST" action="https://preprod-tpeweb.e-transactions.fr/cgi/MYchoix_pagepaiement.cgi"> {# TO DO URL de prod  #}
	<input type="hidden" name="PBX_SITE" value="{{paiementInfos[0].p_pbxSite}}"> 
	<input type="hidden" name="PBX_RANG" value="{{paiementInfos[0].p_pbxRang}}"> 
	<input type="hidden" name="PBX_IDENTIFIANT" value="{{paiementInfos[0].p_pbxIdentifiant}}"> 
	<input type="hidden" name="PBX_TOTAL" value="{{montant}}">
	<input type="hidden" name="PBX_DEVISE" value="{{paiementInfos[0].p_pbxDevise}}"> 
	<input type="hidden" name="PBX_CMD" value="{{numCmd}}">  
	<input type="hidden" name="PBX_PORTEUR" value="{{userEmail}}">  
	<input type="hidden" name="PBX_RETOUR" value="{{paiementInfos[0].p_pbxRetour}}"> 
	<input type="hidden" name="PBX_HASH" value="{{paiementInfos[0].p_pbxHash}}"> 
	<input type="hidden" name="PBX_TIME" value="{{dateISO}}">
	<input type="hidden" name="PBX_HMAC" value="{{hmacCalculated}}">
	<input type="submit" value="Payer !"> 
</form> 



