{# ATTENTION : l'ordre des champs est extrêmement important, il doit correspondre exactement à l'ordre des champs dans la chaîne hachée (PaiementController.php) #}

{% extends "layout.html.twig" %}

{% block title %}  Paiement {% endblock %}

{% block meta %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %} 
<div id="bookingStatus" hidden="true">{{booking.status.id}}</div> {# to access via JS #}

<div id="bookingGuy">
	<img src="{{ asset('images/icons/booking-guy.png') }}" alt="Réservation">
	<div class="container-fluid" id="paiementPage">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12 panelForm">
				{# EMAIL non renseigné #}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if app.user.email == "" or app.user.name == "" or app.user.street == "" or app.user.postCode == "" or app.user.city == "" %}
						<div id="email-error">
							<div class="alert alert-danger alert-dismissable fade in">
							  <h4>Profil incomplet</h4>
							  <p>ATTENTION, il nous manque des informations pour finaliser votre commande, vous devez <a href="{{ path('fos_user_profile_edit') }}" style="color: var(--my-grey);text-decoration: underline;">compléter votre profil</a> avec vos informations de facturation (Nom, adresse, email).</p>
							</div>
						</div>
					{% endif %}
				{% endif %}


				<center><h3>Récapitulatif de votre réservation N° {{booking.bookingRef}} </h3></center>
				<br>
				<p>
				<strong>Location :</strong> {{booking.workspacehasoffice.name}} <br>
				<strong>Date :</strong>
				{% if booking.duration == 'Mois' %}
					du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} <br>
				{% elseif booking.duration == 'Journée' %}
					le {{booking.startDate|date("d/m/Y")}}<br>
				{% elseif booking.duration == 'Demi journée' %}
					le {{booking.startDate|date("d/m/Y")}} {{booking.durationDay}}<br>
				{% else %}
					le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
				{% endif %}
				<strong>Nombre de coworker(s) :</strong> {{booking.nbPeople}} 
				</p>
				<br>
				<p>Vous bénéficiez d'un code de réduction ? <br>
					<form id="applyReduction" method="post" action="{{ path("becowo_core_paiement_reduction", {bookingRef : booking.bookingRef }) }}">
						<input type="text" name="reduction_code">
						<button type="submit" class="btn btn-primary">Appliquer</button>
					</form>
					<div id="Reductioncontent">
						<strong>Prix HT :</strong> {{booking.priceExclTax|number_format(2)}} € <br>
						<strong>Prix TTC :</strong> {{booking.priceInclTax|number_format(2)}} € <br>
					</div>
				</p>
				<br>
				<p>En cliquant sur "Procéder au paiement" vous allez être redirigé vers le site sécurisé du Crédit agricole pour effectuer le paiement de votre réservation. <br>
				Nous vous enverrons une facture par email sous quelques jours.</p>
				<br><br>
				<center>
				{% if is_mobile() and not is_tablet() %}
					<form method="POST" action="{{creditAgricole.PBX_URL_MOBILE}}" id="form-payer">
				{% else %}
					<form method="POST" action="{{creditAgricole.PBX_URL}}" id="form-payer">
				{% endif %}	
					<input type="hidden" name="PBX_SITE" value="{{creditAgricole.PBX_SITE}}"> 
					<input type="hidden" name="PBX_RANG" value="{{creditAgricole.PBX_RANG}}"> 
					<input type="hidden" name="PBX_IDENTIFIANT" value="{{creditAgricole.PBX_IDENTIFIANT}}"> 
					{# On prend le prix en session s'il a changé après application d'un code de réduction #}
					<input type="hidden" name="PBX_TOTAL" value="{{app.session.get('booking').priceInclTax * 100}}">
					<input type="hidden" name="PBX_DEVISE" value="{{creditAgricole.PBX_DEVISE}}"> 
					<input type="hidden" name="PBX_CMD" value="{{booking.bookingRef}}">  
					<input type="hidden" name="PBX_PORTEUR" value="{{userEmail}}">  
					<input type="hidden" name="PBX_RETOUR" value="{{creditAgricole.PBX_RETOUR}}"> 
					<input type="hidden" name="PBX_HASH" value="{{creditAgricole.PBX_HASH}}"> 
					<input type="hidden" name="PBX_TIME" value="{{dateISO}}">
					<input type="hidden" name="PBX_HMAC" value="{{hmacCalculated}}">
					<a href="{{ path('becowo_core_booking', {id: app.session.get('booking').workspacehasoffice.id}) }}" id="cancel" class="hidden-xs"> Modifier</a>
					<input type="submit" value="Procéder au paiement" id="payer"> 
				</form> 
				</center>
				<br><br><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs panelRecap">
				<center>
				<strong>{{ws.name}}</strong> {% if averageVote > 0 %} {{averageVote|rating}} {% endif %}<br>
				{{ws.street|capitalize}} <br> 
				{{ws.postCode}} {{ws.city|capitalize}} <br>
				</center><br>

				<p>Le paiement en ligne est sécurisé par le Crédit Agricole</p>
				<center><img src="{{ asset('images/icons/creditAgricole/e-transactions.png') }}" alt="Crédit Agricole" width="150px"></center>
				<br>
				{# <p>
				Vous pourrez choisir votre mode de paiement :
				</p>
				<center>
				<img src="{{ asset('images/icons/creditAgricole/visa.png') }}" alt="Visa" width="80px"> 
				<img src="{{ asset('images/icons/creditAgricole/mastercard.png') }}" alt="Mastercard" width="80px"> 
				</center> #}
				<p>Tous les paiements sont sécurisés par 3D secure</p>
				<center><img src="{{ asset('images/icons/creditAgricole/3dsecure.png') }}" alt="3D Secure" width="200px" height="55px"></center>
				<br><br>
				<p>Pour en savoir plus sur le paiement par Internet, vous pouvez consulter l'article de <a href="http://www.lafinancepourtous.com/Banque-au-quotidien/Moyens-de-paiement/La-carte-bancaire/Payer-par-carte-bancaire-sur-Internet-avec-3D-Secure" target="_blank">La finance pour tous</a></p>
			</div>
		</div>
	</div>
<br><br>
</div>

{% endblock body %}

{% block javascripts %} 
	<script>
	// Si profil incomplet on bloque le bouton de confirmation
	if(document.getElementById('email-error') != null){
		document.getElementById('payer').disabled = true;
	}

	if(document.getElementById('bookingStatus').innerHTML != "1"){
		document.getElementById('payer').disabled = true;
	}

	//Appel du bon de réduction en AJAX
	$("#applyReduction").submit(function (e){
    e.preventDefault();
    $form = $(e.target);
    $.ajax($form.attr('action'), {
        data: $form.serialize(),
        type: "POST",
        success: function(data) { 
          $('#Reductioncontent').html(data.message);  
        },
        error: function() {
          $('#Reductioncontent').html('<span style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Une erreur est survenue. Veuillez réessayer plus tard </span>');   
          $('#Reductioncontent').addClass("error");
        }
	    });
	});
	</script>
{% endblock javascripts %} 
