{# ATTENTION : l'ordre des champs est extrêmement important, il doit correspondre exactement à l'ordre des champs dans la chaîne hachée (PaiementController.php) #}

{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %} 

<div id="bookingGuy">
	<img src="{{ asset('images/icons/booking-guy.png') }}" alt="Réservation">
	<div class="container-fluid" id="paiementPage">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 panelForm">

				<center><h3>Récapitulatif de votre réservation N° {{booking.bookingRef}} </h3></center>
				<br>
				<p>
				<strong>Location :</strong> {{booking.workspacehasoffice.name}} <br>
				<strong>Date :</strong>
				{% if booking.duration == 'Mois' %}
					du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} <br>
				{% elseif booking.duration == 'Journée' %}
					le {{booking.startDate|date("d/m/Y")}}<br>
				{% elseif booking.duration == 'Demi journée' %}
					le {{booking.startDate|date("d/m/Y")}} {{booking.durationDay}}<br>
				{% else %}
					le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
				{% endif %}
				<strong>Nombre de coworker(s) :</strong> {{booking.nbPeople}} <br>
				<strong>Prix HT :</strong> {{booking.priceExclTax|number_format(2)}} € <br>
				<strong>Prix TTC :</strong> {{booking.priceInclTax|number_format(2)}} € <br>
				</p>
				<br>
				<p>En cliquant sur "Procéder au paiement" vous allez être redirigé vers le site sécurisé du Crédit agricole pour effectuer le paiement de votre réservation. <br>
				Nous vous enverrons une facture par email sous quelques jours.</p>
				<br><br>
				<center>
				{% if is_mobile() %}
					<form method="POST" action="{{creditAgricole.PBX_URL_MOBILE}}" id="form-payer">
				{% else %}
					<form method="POST" action="{{creditAgricole.PBX_URL}}" id="form-payer">
				{% endif %}	
					<input type="hidden" name="PBX_SITE" value="{{creditAgricole.PBX_SITE}}"> 
					<input type="hidden" name="PBX_RANG" value="{{creditAgricole.PBX_RANG}}"> 
					<input type="hidden" name="PBX_IDENTIFIANT" value="{{creditAgricole.PBX_IDENTIFIANT}}"> 
					<input type="hidden" name="PBX_TOTAL" value="{{booking.priceInclTax * 100}}">
					<input type="hidden" name="PBX_DEVISE" value="{{creditAgricole.PBX_DEVISE}}"> 
					<input type="hidden" name="PBX_CMD" value="{{booking.bookingRef}}">  
					<input type="hidden" name="PBX_PORTEUR" value="{{userEmail}}">  
					<input type="hidden" name="PBX_RETOUR" value="{{creditAgricole.PBX_RETOUR}}"> 
					<input type="hidden" name="PBX_HASH" value="{{creditAgricole.PBX_HASH}}"> 
					<input type="hidden" name="PBX_TIME" value="{{dateISO}}">
					<input type="hidden" name="PBX_HMAC" value="{{hmacCalculated}}">
					<a href="{{app.request.headers.get('referer')}}" id="cancel"> Modifier</a>
					<input type="submit" value="Procéder au paiement" id="payer"> 
				</form> 
				</center>
				<br><br><br>
			</div>
			<div class="col-lg-3 col-md-3 panelRecap">
				<center>
				<strong>{{ws.name}}</strong> {% if averageVote > 0 %} {{averageVote|rating}} {% endif %}<br>
				{{ws.street|capitalize}} <br> 
				{{ws.postCode}} {{ws.city|capitalize}} <br>
				</center><br>

				<p>Le paiement en ligne est sécurisé par le Crédit Agricole</p>
				<center><img src="{{ asset('images/icons/creditAgricole/e-transactions.png') }}" alt="Crédit Agricole" width="150px"></center>
				<br>
				{# <p>
				Vous pourrez choisir votre mode de paiement :
				</p>
				<center>
				<img src="{{ asset('images/icons/creditAgricole/visa.png') }}" alt="Visa" width="80px"> 
				<img src="{{ asset('images/icons/creditAgricole/mastercard.png') }}" alt="Mastercard" width="80px"> 
				</center> #}
				<p>Tous les paiements sont sécurisés par 3D secure</p>
				<center><img src="{{ asset('images/icons/creditAgricole/3dsecure.png') }}" alt="3D Secure" width="200px" height="55px"></center>
				<br><br>
				<p>Pour en savoir plus sur le paiement par Internet, vous pouvez consulter l'article de <a href="http://www.lafinancepourtous.com/Banque-au-quotidien/Moyens-de-paiement/La-carte-bancaire/Payer-par-carte-bancaire-sur-Internet-avec-3D-Secure" target="_blank">La finance pour tous</a></p>
			</div>
		</div>
	</div>
<br><br>
</div>

{% endblock body %}
