<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	 <meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map #}
	<title>{% block title %}Becowo{% endblock %}</title>
	
    {% include 'css-CDN.html.twig' %}
	
	{% block stylesheets %}
		
	{% endblock %}


</head>
<body>


<header>
	<div class="container-fluid">
		
		<div class="row">
			<div id="logo" class="col-lg-1 col-lg-offset-1">
				<a href="{{ path('becowo_core_homepage') }}"><img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo" width="80px" height="80px"></a>
			</div>
			<div id="title" class="col-lg-8">
				<h1>Becowo</h1>
				<h4>Enfin une bonne raison d'aller au travail !</h4>
			</div>
			<div class="col-lg-2">
				{######################################### Menu login ######################################################}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}				
					<div class="btn-group">
			    		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    {# {% if app.user.profilePicture.url is defined %}
					    	<img src="{{ asset('images/ProfilePictures/')}}{{app.user.profilePicture.url}}" alt="{{app.user.profilePicture.alt}}" width="50px" height="50px">
					    {% else %} #}
					    	Bonjour {{ app.user.username }} 
						{# {% endif %} #}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a></li>
					    <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> Changer mon mot de passe</a></li>
					    <li><a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a></li>
					    {% if is_granted('ROLE_MANAGER') %}
							<li><a href="{{ path('becowo_manager_profile_identite') }}"><i class="fa fa-wrench"></i> Espace Manager</a></li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('easyadmin') }}"><i class="fa fa-lock"></i> Espace Admin</a></li>
						{% endif %}
					    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a></li>
					  </ul>
					</div>
				{% else %}
				    <a href="{{ path('fos_user_security_login') }}">Connexion</a> | 
				    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
				{% endif %}

				
				{######################## Barre de RS ################################"""#}		
				{% include 'CommonViews/RS/all_RS_small.html.twig' %}
			</div>

				
		</div>  {# fin row #}

		<div class="row" id="rowMenu" >
			<div class="col-lg-8 col-lg-offset-1">
			<div class="btn-group">
			  	<div class="btn-group">
			    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Nos offres</button>
			    </div>

				<div class="btn-group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Déclarer un espace <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
				      <li><a href="#">Je suis gérant</a></li>
				      <li><a href="#">Je suis coworker</a></li>
				    </ul>
				</div>

				<div class="btn-group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      Comment ça marche ? <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
				      <li><a href="#">Je suis gérant</a></li>
				      <li><a href="#">Je suis coworker</a></li>
				    </ul>
				</div>

				
			</div>
		</div>
			
			{# <div class="col-lg-2 col-lg-offset-1">
				<a href="{{ path('becowo_core_offers') }}"><button type="button" class="btn btn-primary" >Manager <br> découvrez nos offres</button></a>
			</div>
			<div class="col-lg-2 col-lg-offset-1">
				<a href="{{ path('becowo_core_declare_ws') }}"><button type="button" class="btn btn-primary" >Coworker <br> déclarez un espace</button></a>
			</div> #}
		</div> {# fin row #}
		{# <div class="row text-center">
			
		</div> #}
	</div> {# fin container #}
</header>


{% block body %}

{% endblock %}

<span id="top-link-block" class="hidden">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-angle-double-up fa-4x" aria-hidden="true"></i>
    </a>
</span><!-- /top-link-block -->

{######################################################Footer ######################################################}
    
	<footer class="navbar">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_contact') }}">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_apropos') }}">A propos</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}">FAQ</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_cgv') }}">CGV</a></li>
			    <li><a href="{{ path('becowo_core_mentions') }}">Mentions légales</a></li>
			    <li><a href="{{ path('becowo_core_paiement') }}">Paiement en ligne</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="http://coworkingeverywhere.com/" target="_blank">Blog</a></li>
			    <li><a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
		</div>
		</div>
	</div>
	</footer>


	{% include 'js-CDN.html.twig' %}
    
{% block javascripts %}
	

{% endblock %}
  	
</body>
</html>
