<!DOCTYPE html>
<html lang="fr">
<head>
	<meta name="robots" content="noindex">
	<meta charset="utf-8">
	 <meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map #}
	<title>{% block title %}Becowo{% endblock %}</title>
	
    {# {% include 'css-CDN.html.twig' %}#}
    {% include 'css-local.html.twig' %} 
	
	{% block stylesheets %}
		
	{% endblock %}

</head>
<body>

{% include "CommonViews/flashMessage.html.twig" %}

	{# Plugin FB #}
<div id="fb-root"></div>

<header>
	<div class="row text-center">
		<div class="col-lg-1">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="logo">
		        <img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo">
		    </a>
		</div>
		<div class="col-lg-4 identity">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="title">Becowo <div class="beta">Bêta</div></a> <br>
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
        </div>
        <div class="col-lg-7 menu">
		    <a title="Accueil" href="{{ path('becowo_core_homepage') }}">Accueil</a> <i class="fa fa-circle" aria-hidden="true"></i>
			<a title="La communauté" href="{{ path('becowo_core_community') }}">communauté </a>	<i class="fa fa-circle" aria-hidden="true"></i>
			<div class="btn-group">
				<a href="" data-toggle="dropdown">Comment ça marche ? </a> 
				<ul role="menu" class="dropdown-menu dropdown-menu-default">
			        <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_coworkers') }}">Pour les coworkers</a>
				    </li>
				    <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_espaces') }}">Pour les espaces</a>
				    </li>
				    <li class="divider"></li>
				    <li>
			            <a title="Proposer un espace" href="#declare" id="goToDeclare">Proposer un espace</a>
				    </li>
			    </ul>
			</div>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}	
				<div class="btn-group loginMenu">
		          <a href="" data-toggle="dropdown" class="log-menu">
		          	Bonjour {{ app.user.firstname }} <i class="fa fa-caret-down" aria-hidden="true"></i>
		          </a>
		          <ul class="dropdown-menu log-menu-content">
		            <li>
		            	<a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a>
		            </li>
				    <li>
				    	<a data-toggle="modal" href="#myModalChangeMDP"><i class="fa fa-key"></i> Changer mon mot de passe</a>
				    </li>
				    <li>
				    	<a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a>
				    </li>
				    {% if is_granted('ROLE_MANAGER') %}
						<li>
							<a href="{{ path('becowo_manager_profile_identite') }}" target="_blank"><i class="fa fa-wrench"></i> Espace Manager</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('easyadmin') }}" target="_blank"><i class="fa fa-lock"></i> Espace Admin</a>
						</li>
					{% endif %}
				    <li>
				    	<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a>
				    </li>
		          </ul>
		        </div>
	        {% else %}
				<a data-toggle="modal" href="#myModalLogin" class="log">Connexion</a> 
			{% endif %}      
		</div>      
	</div>

{# Les modal doivent se charger en même temps pour pouvoir passer de l'une à l'autre #}
<!-- Modale Login -->
<div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body" id="myModalLoginBody">
                {{ render(url('fos_user_security_login')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale Register -->
<div class="modal-open modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body" id="myModalRegisterBody">
                {{ render(url('fos_user_registration_register')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale MDP -->
<div class="modal fade" id="myModalMDP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body"  id="myModalMDPBody">
                {{ render(url('fos_user_resetting_request')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale change MDP -->
<div class="modal fade" id="myModalChangeMDP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body"  id="myModalChangeMDPBody">
                {{ render(url('fos_user_change_password')) }}
            </div>
        </div>
    </div>
</div>
</header>


{% block body %}

{% endblock %}

<span id="top-link-block" class="hidden">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-angle-double-up fa-4x" aria-hidden="true"></i>
    </a>
</span><!-- /top-link-block -->

{######################################################Footer ######################################################}
    
	<footer class="navbar">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-4 col-md-4 col-xs-12">
			<br>
			<strong>A PROPOS DE BECOWO</strong>
			<br><br>
			<ul>
			    <li><a href="{{ path('becowo_core_quisommesnous') }}">Qui sommes nous ?</a></li>
			    <li><a href="{{ path('becowo_core_contact') }}">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}">FAQ</a></li>
			    <li><a href="{{ path('becowo_core_cgu') }}">CGU</a></li>
				<li><a href="{{ path('becowo_core_mentions') }}">Mentions légales</a></li>
			    <li><a href="{{ path('becowo_core_cookies') }}">Gestion des cookies</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-4 col-md-4 col-xs-12">
			<br>
			<strong>BECOWO ET VOUS</strong>
			<br>
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
			<ul> 
			    <li><a href="http://www.blog.becowo.com/" target="_blank">Le blog</a></li>
			    <li><a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a></li>
			    <li><a href="http://m.me/becowo" target="_blank">Tchater via messenger</a></li>
			    <li><a href="{{ path('becowo_core_paiement') }}">Paiement en ligne by <img src="{{ asset('images/icons/creditAgricole/ca.png') }}" alt="Crédit Agricole"></a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-4 col-md-4 col-xs-12">
			<br>
			<strong>LES VILLES</strong>
			<br><br>
			<ul>
               	<li>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Lille&is_v=1#filtersBar">LILLE</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Roubaix&is_v=1#filtersBar">ROUBAIX</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Paris&is_v=1#filtersBar">PARIS</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Lyon&is_v=1#filtersBar">LYON</a> <br>               	
               	</li>
			</ul>
		</div>
		</div>
	</div>
	</footer>


    
	{#{% include 'js-CDN.html.twig' %}#}
	 {% include 'js-local.html.twig' %} 
{% block javascripts %}
	

{% endblock %}
  	
</body>
</html>
