<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
<head>
	<title>{% block title %}Becowo{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="coworking, coworker, bureau, salle, reunion, conference, tiers-lieux">
	<meta name="language" content="fr">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map #}

	{% if app.environment != 'prod' %}
		<meta name="robots" content="noindex,nofollow" />
	{% endif %}

	{% block meta %}
		<meta name="description" content="Réservez un espace de travail et intégrez une communauté de coworkers">
		<meta property="og:title" content="Becowo" />
		<meta property="og:url" content="https://www.becowo.com" />
		<meta property="og:image" content="https://becowo.com/images/Emails/Logo_becowo.png" />
		<meta property="og:description" content="Réservez un espace de travail et intégrez une communauté de coworkers" />
	{% endblock %}
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	
    {% include 'css-CDN.html.twig' %}
    {# {% include 'css-local.html.twig' %}  #}
	
	{% block stylesheets %}
		
	{% endblock %}

	{# https://heapanalytics.com/app/install : follow click events #}
	<script type="text/javascript">
	    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
	      heap.load({{heapProjectNumber}});
	      {% if app.user.email is defined %}
	      	heap.identify("{{app.user.email}}");
	      {% endif %}
	</script>

</head>
{% if app.request.get('_route') == 'becowo_core_booking' %}
	{# On force la page à se recharger sinon si le user paye puis fait back avec le navigateur, il récup le mauvais booking en session #}
	<body onunload="">
{% else %}
	<body>
{% endif %}

{% include "CommonViews/flashMessage.html.twig" %}

{# Plugin FB #}
<div id="fb-root"></div>
<div id="google_analytics_ID" hidden="true">{{google_analytics_ID}}</div>

<header>
	{# screen LG and MD only #}
	<div class="row text-center">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="logo">
		        <img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo">
		    </a>
		</div>
		<div class="col-lg-4 col-md-3 hidden-sm hidden-xs identity">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="title">Becowo <div class="beta">Bêta</div></a> <br>
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
        </div>
        <div class="col-lg-5 col-md-6 hidden-sm hidden-xs menu">
		    <a title="Accueil" href="{{ path('becowo_core_homepage') }}">Accueil</a> <i class="fa fa-circle" aria-hidden="true"></i>
			<a title="La communauté" href="{{ path('becowo_core_community') }}">communauté </a>	<i class="fa fa-circle" aria-hidden="true"></i>
			<div class="btn-group">
				<a href="" data-toggle="dropdown">Comment ça marche ? </a> 
				<ul role="menu" class="dropdown-menu dropdown-menu-default">
			        <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_coworkers') }}">Pour les coworkers</a>
				    </li>
				    <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_espaces') }}">Pour les espaces</a>
				    </li>
				    <li class="divider"></li>
				    <li>
			            <a title="Proposer un espace" href="{{ path('becowo_core_offers') }}" >Proposer un espace</a>
				    </li>
			    </ul>
			</div>
		</div>    
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs connectMenu">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}	
				<div class="btn-group loginMenu">
		          <a href="" data-toggle="dropdown" class="log-menu">
		          	Bonjour <i class="fa fa-caret-down" aria-hidden="true"></i>
		          </a>
		          <ul class="dropdown-menu log-menu-content">
		            <li>
		            	<a href="{{ path('fos_user_profile_edit') }}" rel="nofollow"><i class="fa fa-user"></i> Modifier mon profil</a>
		            </li>
		            {% if app.user.signedUpWith == null %}
				    <li>
				    	<a data-toggle="modal" href="#myModalChangeMDP"><i class="fa fa-key"></i> Changer mon mot de passe</a>
				    </li>
					{% endif %}
				    <li>
				    	<a href="{{ path('becowo_core_booking_myreservations') }}" rel="nofollow"><i class="fa fa-bookmark"></i> Mes réservations</a>
				    </li>
				    {% if is_granted('ROLE_MANAGER') %}
						<li>
							<a href="{{ path('becowo_manager_profile_identite', {id: app.user.workspaces[0].id}) }}" target="_blank" rel="nofollow"><i class="fa fa-wrench"></i> Espace Manager</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('easyadmin') }}" target="_blank" rel="nofollow"><i class="fa fa-lock"></i> Espace Admin</a>
						</li>
						<li>
							<a href="{{ path('becowo_back_office_homepage') }}" target="_blank" rel="nofollow"><i class="fa fa-lock"></i> Back Office</a>
						</li>
						{# <li>
							<a href="{{ path('becowo_manager_mep') }}" target="_blank"><i class="fa fa-lock"></i> MEP</a>
						</li> #}
					{% endif %}
				    <li>
				    	<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a>
				    </li>
		          </ul>
		        </div>
	        {% else %}
				<a data-toggle="modal" href="#myModalLogin" class="log">Connexion</a> 
			{% endif %}      
		</div>  
	</div>
	{# screen SM only #}
	<div class="row text-center">
		<div class="hidden-lg hidden-md col-sm-2 hidden-xs">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="logo">
		        <img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo">
		    </a>
		</div>
		<div class="hidden-lg hidden-md col-sm-4 hidden-xs identity">
			<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="title">Becowo <div class="beta">Bêta</div></a> <br>
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
        </div>
        <div class="hidden-lg hidden-md col-sm-4 hidden-xs menu">
		    <a title="Accueil" href="{{ path('becowo_core_homepage') }}">Accueil</a> <br>
			<a title="La communauté" href="{{ path('becowo_core_community') }}">communauté </a>	<br>
			<div class="btn-group">
				<a href="" data-toggle="dropdown">Comment ça marche ? </a> 
				<ul role="menu" class="dropdown-menu dropdown-menu-default">
			        <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_coworkers') }}">Pour les coworkers</a>
				    </li>
				    <li>
			            <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_espaces') }}">Pour les espaces</a>
				    </li>
				    <li class="divider"></li>
				    <li>
			            <a title="Proposer un espace" href="{{ path('becowo_core_offers') }}" >Proposer un espace</a>
				    </li>
			    </ul>
			</div>
		</div>    
		<div class="hidden-lg hidden-md col-sm-2 hidden-xs connectMenu">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}	
				<div class="btn-group loginMenu">
		          <a href="" data-toggle="dropdown" class="log-menu">
		          	Bonjour <i class="fa fa-caret-down" aria-hidden="true"></i>
		          </a>
		          <ul class="dropdown-menu log-menu-content">
		            <li>
		            	<a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a>
		            </li>
		            {% if app.user.signedUpWith == null %}
				    <li>
				    	<a data-toggle="modal" href="#myModalChangeMDP"><i class="fa fa-key"></i> Changer mon mot de passe</a>
				    </li>
					{% endif %}
				    <li>
				    	<a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a>
				    </li>
				    {% if is_granted('ROLE_MANAGER') %}
						<li>
							<a href="{{ path('becowo_manager_profile_identite', {id: app.user.workspaces[0].id}) }}" target="_blank"><i class="fa fa-wrench"></i> Espace Manager</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('easyadmin') }}" target="_blank"><i class="fa fa-lock"></i> Espace Admin</a>
						</li>
						{# <li>
							<a href="{{ path('becowo_manager_mep') }}" target="_blank"><i class="fa fa-lock"></i> MEP</a>
						</li> #}
					{% endif %}
				    <li>
				    	<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a>
				    </li>
		          </ul>
		        </div>
	        {% else %}
				<a data-toggle="modal" href="#myModalLogin" class="log">Connexion</a> 
			{% endif %}      
		</div>  
	</div>
	{# screen XS only #}
	<nav class="navbar navbar-default navbar-static-top visible-xs" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	        	<a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="logo">
			        <img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo">
			    </a>
			    <a title="Accueil" href="{{ path('becowo_core_homepage') }}" class="title">Becowo</a>
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                Becowo
	                <li><a href="{{ path('becowo_core_homepage') }}">Accueil</a></li>
	                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                	<li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
	                	<li><a href="{{ path('fos_user_security_logout') }}">Me déconnecter</a></li>
	                {% else %}
	                	<li><a data-toggle="modal" href="#myModalLogin">CONNEXION / INSCRIPTION</a></li>
	                {% endif %}
	                <li><a href="http://www.blog.becowo.com" target="_blank">Découvrir le blog</a></li>
	                La communauté
	                <li><a href="{{ path('becowo_core_community') }}">Les coworkers</a></li>
	                <li><a href="{{ path('becowo_core_community_events') }}">Les évènements</a></li>
	                Comment ça marche ?
	                <li><a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_coworkers') }}">Pour les coworkers</a></li>
	                <li><a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_espaces') }}">Pour les espaces</a></li>
	                <li><a title="Proposer un espace" href="{{ path('becowo_core_offers') }}" >Proposer un espace</a></li>
	            </ul>
	        </div>
	    </div>
	</nav>


{# Les modal doivent se charger en même temps pour pouvoir passer de l'une à l'autre #}
<!-- Modale Login -->
<div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body" id="myModalLoginBody">
                {{ render(url('fos_user_security_login')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale Register -->
<div class="modal-open modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body" id="myModalRegisterBody">
                {{ render(url('fos_user_registration_register')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale MDP oublié -->
<div class="modal fade" id="myModalMDP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body"  id="myModalMDPBody">
                {{ render(url('fos_user_resetting_request')) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale change MDP -->
<div class="modal fade" id="myModalChangeMDP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-body"  id="myModalChangeMDPBody">
                {{ render(url('fos_user_change_password')) }}
            </div>
        </div>
    </div>
</div>
</header>


{% block body %}

{% endblock %}

<span id="top-link-block" class="hidden">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-angle-double-up fa-4x" aria-hidden="true"></i>
    </a>
</span><!-- /top-link-block -->

{######################################################Footer ######################################################}
    
	<footer class="navbar">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
			<br>
			<strong>A PROPOS DE BECOWO</strong>
			<br><br>
			<ul>
			    <li><a href="{{ path('becowo_core_quisommesnous') }}">Qui sommes nous ?</a></li>
			    <li><a href="{{ path('becowo_core_contact') }}" rel="nofollow">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}" rel="nofollow">FAQ</a></li>
			    <li><a href="{{ path('becowo_core_cgu') }}" rel="nofollow">CGU</a></li>
				<li><a href="{{ path('becowo_core_mentions') }}" rel="nofollow">Mentions légales</a></li>
			    <li><a href="{{ path('becowo_core_cookies') }}" rel="nofollow">Gestion des cookies</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<br>
			<strong>BECOWO ET VOUS</strong>
			<br>
			{% if is_mobile() and not is_tablet() %}
				{% include 'CommonViews/RS/all_RS_mobile.html.twig' %}
			{% else %}
				{% include 'CommonViews/RS/all_RS_small.html.twig' %}
			{% endif %}
			<ul> 
			    <li><a href="http://www.blog.becowo.com/" target="_blank">Le blog</a></li>
			    <li><a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a></li>
			    <li><a href="http://m.me/becowo" target="_blank">Tchater via messenger</a></li>
			    <li><a href="{{ path('becowo_core_paiement') }}" rel="nofollow">Paiement en ligne by <img src="{{ asset('images/icons/creditAgricole/ca.png') }}" alt="Crédit Agricole"></a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
			<br>
			<strong>LES VILLES</strong>
			<br><br>
			<ul>
               	<li>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Lille&is_v=1#filtersBar" rel="nofollow">LILLE</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Roubaix&is_v=1#filtersBar" rel="nofollow">ROUBAIX</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Paris&is_v=1#filtersBar" rel="nofollow">PARIS</a> <br>
               		<a href="{{ path('becowo_core_homepage') }}?q=&hPP=6&idx={{algolia.index_workspace}}&p=0&dFR%5Bcity%5D%5B0%5D=Lyon&is_v=1#filtersBar" rel="nofollow">LYON</a> <br>               	
               	</li>
			</ul>
		</div>
		</div>
	</div>
	</footer>


    
	{% include 'js-CDN.html.twig' %}
	 {# {% include 'js-local.html.twig' %}  #}
{% block javascripts %}
	

{% endblock %}
  	
</body>
</html>
