<!DOCTYPE html>
<html lang="fr">
<head>
	<meta name="robots" content="noindex">
	<meta charset="utf-8">
	 <meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map #}
	<title>{% block title %}Becowo{% endblock %}</title>
	
    {# {% include 'css-CDN.html.twig' %} #}
    {% include 'css-local.html.twig' %}
	
	{% block stylesheets %}
		
	{% endblock %}

</head>
<body>


<header class="header">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a title="Accueil" class="navbar-brand" href="{{ path('becowo_core_homepage') }}">
                    <img src="{{ asset('images/icons/Logo_becowo_tagline2.png') }}" alt="Becowo">
            		
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown ">
                        <a title="Ou travailler" href="{{ path('becowo_core_homepage') }}">
                            Ou travailler ?
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a title="Qui rencontrer" href="{{ path('becowo_core_community') }}">
                            Qui rencontrer ?
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a title="Nos offres" href="{{ path('becowo_core_offers') }}">
                            Nos offres
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche') }}">
                            Comment ça marche ?
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a title="blog" href="http://www.blog.becowo.com/" target="_blank">
                            Le blog
                        </a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}		
						<li class="dropdown ">
				          <a href="" class="dropdown-toggle" data-toggle="dropdown">
				          	Bonjour {{ app.user.username }} <b class="caret"></b>
				          </a>
				          <ul class="dropdown-menu dropdown-menu-default">
				            <li>
				            	<a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a>
				            </li>
						    <li>
						    	<a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> Changer mon mot de passe</a>
						    </li>
						    <li>
						    	<a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a>
						    </li>
						    {% if is_granted('ROLE_MANAGER') %}
								<li>
									<a href="{{ path('becowo_manager_profile_identite') }}" target="_blank"><i class="fa fa-wrench"></i> Espace Manager</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a href="{{ path('easyadmin') }}" target="_blank"><i class="fa fa-lock"></i> Espace Admin</a>
								</li>
							{% endif %}
						    <li>
						    	<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a>
						    </li>
				          </ul>
				        </li>
					{% else %}
						<li class="dropdown "  id="login">
	                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
	                    </li>
				    
				{% endif %}
                    
                </ul>
            </div><!-- /navbar-collapse -->
        </div>
    </div>

</header>



{% block body %}

{% endblock %}

<span id="top-link-block" class="hidden">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-angle-double-up fa-4x" aria-hidden="true"></i>
    </a>
</span><!-- /top-link-block -->

{######################################################Footer ######################################################}
    
	<footer class="navbar">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_contact') }}">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_apropos') }}">A propos</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}">FAQ</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_cgu') }}">Condigitions générales d'utilisation</a></li>
			    <li><a href="{{ path('becowo_core_cookies') }}">Gestion des cookies</a></li>
			    <li><a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="http://www.blog.becowo.com/" target="_blank">Blog</a></li>
			    <li><a href="{{ path('becowo_core_paiement') }}">Paiement en ligne by <img src="{{ asset('images/icons/creditAgricole/ca.png') }}" alt="Crédit Agricole"></a></li>
			    <li><a href="http://m.me/becowo" target="_blank">Tchater via messenger</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
		</div>
		</div>
	</div>
	</footer>


	{# {% include 'js-CDN.html.twig' %} #}
	{% include 'js-local.html.twig' %}
    
{% block javascripts %}
	

{% endblock %}
  	
</body>
</html>
