<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	 <meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map #}
	<title>{% block title %}Becowo{% endblock %}</title>
	
    {% include 'css-CDN.html.twig' %}
	
	{% block stylesheets %}
		
	{% endblock %}


</head>
<body>


<header>
	<div class="container-fluid">
		<div class="row text-center">
			<div id="btn_manager" class="col-lg-3">
				
			</div>
			<div id="logo" class="col-lg-6">
				<a href="{{ path('becowo_core_homepage') }}"><img src="{{ asset('images/icons/Logo_becowo.png') }}" alt="Becowo" width="100px" height="100px"></a>
			</div>
{######################################### Menu login #####################################################"""#}
			<div id="login" class="col-lg-3">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}				
			    	<div class="dropdown">
			    		<button data-toggle="dropdown" class="btn btn-link btn-lg dropdown-toggle" type="button">
					    {# {% if app.user.profilePicture.url is defined %}
					    	<img src="{{ asset('images/ProfilePictures/')}}{{app.user.profilePicture.url}}" alt="{{app.user.profilePicture.alt}}" width="50px" height="50px">
					    {% else %} #}
					    	Bonjour {{ app.user.username }} 
						{# {% endif %} #}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a></li>
					    <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> Changer mon mot de passe</a></li>
					    <li><a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a></li>
					    {% if is_granted('ROLE_MANAGER') %}
							<li><a href="{{ path('becowo_manager_profile_identite') }}"><i class="fa fa-wrench"></i> Espace Manager</a></li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('easyadmin') }}"><i class="fa fa-lock"></i> Espace Admin</a></li>
						{% endif %}
					    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a></li>
					  </ul>
					</div>
				{% else %}
				    <a href="{{ path('fos_user_security_login') }}">Connexion</a> | 
				    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
				{% endif %}
				<br>
{######################################### Barre de RS #####################################################"""#}		
				{% include 'CommonViews/RS/all_RS_small.html.twig' %}
			</div> {# Div login #}
				
		</div>  {# fin row #}

		<div class="row text-center" id="title" >
			<div class="col-lg-3">
				<br>
				<a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a>
			</div>
			<div class="col-lg-6">
				<h1>Becowo</h1>
			</div>
			<div class="col-lg-3">
				<br>
				<a href="{{ path('becowo_core_declare_ws') }}">Coworker, déclarez un espace</a>
			</div>
		</div> {# fin row #}
		<div class="row text-center">
			<h2>Enfin une bonne raison d'aller au travail !</h2>
			<h5><a href="{{ path('becowo_core_ambassadeur') }}">Devenez ambassadeur !</a></h5>
		</div>
	</div> {# fin container #}
</header>


{% block body %}

{% endblock %}

<span id="top-link-block" class="hidden">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-angle-double-up fa-4x" aria-hidden="true"></i>
    </a>
</span><!-- /top-link-block -->

{######################################################Footer ######################################################}
    
	<footer class="navbar">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_contact') }}">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_apropos') }}">A propos</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}">FAQ</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_cgv') }}">CGV</a></li>
			    <li><a href="{{ path('becowo_core_mentions') }}">Mentions légales</a></li>
			    <li><a href="{{ path('becowo_core_paiement') }}">Paiement en ligne</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="http://coworkingeverywhere.com/" target="_blank">Blog</a></li>
			    <li><a href="{{ path('becowo_core_offers') }}">Manager, découvrez nos offres</a></li>
			    <li><a href="{{ path('becowo_core_ambassadeur') }}">Coworker, devenez ambassadeur</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			{% include 'CommonViews/RS/all_RS_small.html.twig' %}
		</div>
		</div>
	</div>
	</footer>


	{% include 'js-CDN.html.twig' %}
    
{% block javascripts %}
	

{% endblock %}
  	
</body>
</html>
