<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0"> {# Pour Google Map#}
	<title>{% block title %}Becowo{% endblock %}</title>
	{% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    {# CSS Perso#}
    <link rel="stylesheet" href="{{ asset('css/CoreBundle.css') }}">
    {# Star rating #}
    <link rel="stylesheet" href="{{ asset('css/star-rating.min.css') }}">
    {# Contact And Social Widget #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ asset('css/SocialMediaWidget.css') }}" type="text/css" media="all" />
  {% endblock %}
</head>
<body>

{% if is_granted('ROLE_MANAGER') %}
  <a href="{{ path('becowo_core_manager') }}">Espace Manager</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('becowo_core_admin') }}">Espace Admin</a>
{% endif %}

<header>
	<div class="container-fluid">
		<div class="row text-center">
			<div id="logo" class="col-lg-2">
				<a href="{{ path('becowo_core_homepage') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="Becowo" width="100px" height="80px"></a>
			</div>
			<div id="btn_manager" class="col-lg-2">
				<a href="{{ path('becowo_core_offers') }}" class="btn btn-lg btn-info">Manager <br> Découvrez nos offres</a>
			</div>
			<div id="title" class="col-lg-4">
				<h1>Becowo</h1>
				<h3>Enfin une bonne raison d'aller au travail !</h3>
			</div>
			<div id="btn_coworker" class="col-lg-2">
				<a href="#" class="btn btn-lg btn-info">Coworker <br> Déclarez un espace</a>
			</div>
{######################################### Menu login #####################################################"""#}
			<div class="col-lg-2 col-centered">
				<div class="row">
					<div id="login" class="col-lg-12">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							
					    	<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    {% if app.user.profilePicture.url is defined %}
							    	<img src="{{ asset('images/ProfilePictures/')}}{{app.user.profilePicture.url}}" alt="{{app.user.profilePicture.alt}}" width="50px" height="50px">
							    {% else %}
							    	Bonjour {{ app.user.username }}
								{% endif %}
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Modifier mon profil</a></li>
							    <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> Changer mon mot de passe</a></li>
							    <li><a href="{{ path('becowo_core_booking_myreservations') }}"><i class="fa fa-bookmark"></i> Mes réservations</a></li>
							    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Me déconnecter</a></li>
							  </ul>
							</div>
						{% else %}
						    <button type="button" class="btn btn-primary" onclick="my_modal('Connexion')">Connexion</button>
						    <button type="button" class="btn btn-primary" onclick="my_modal('Inscription')">Inscription</button>
						{% endif %}
					</div>
{######################################### Barre de RS #####################################################"""#}

					<div class="col-lg-12">{% include 'CommonViews/RS/all_RS_small.html.twig' %}</div>
				</div>
			</div>
		</div>	
		<div class="row text-center">
			<h5><a href="#">Devenez ambassadeur !</a></h5>
		</div>
	</div>
</header>


	{% block body %}
    {% endblock %}


{######################################################Footer ######################################################}
    
	<footer class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="row">
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="{{ path('becowo_core_contact') }}">Contactez-nous</a></li>
			    <li><a href="{{ path('becowo_core_apropos') }}">A propos</a></li>
			    <li><a href="{{ path('becowo_core_faq') }}">FAQ</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="#">CGV</a></li>
			    <li><a href="#">Mentions légales</a></li>
			    <li><a href="#">Paiement en ligne</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<ul>
			    <li><a href="http://coworkingeverywhere.com/" target="_blank">Blog</a></li>
			    <li><a href="#">Manager, declarez votre espace</a></li>
			    <li><a href="#">Coworker, devenez ambassadeur</a></li>
			</ul>
		</div>
		<div id="footer_menu" class="col-lg-3">
			<div class="col-lg-12">{% include 'CommonViews/RS/all_RS_small.html.twig' %}</div>
		</div>
		</div>
	</div>
	</footer>

	{% block javascripts %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
	    <script src="{{ asset('js/carroussel.js') }}"></script>
	    <script src="{{ asset('js/main.js') }}"></script>
	    <!-- AddThisEvent in calendar -->
		<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
		{# Star rating #}
		<script src="{{ asset('js/star-rating.min.js') }}"></script>
		{# pour le bundle friendsofsymfony/jsrouting-bundle #}
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
		{# Contact and social widget #}
		<script type="text/javascript" src="{{ asset('js/SocialMediaWidget.js') }}"></script>

	<script>

      function my_modal($url){

	   	if ($url == 'Connexion') {
        	BootstrapDialog.show({
        		title: 'Connexion',
            	message: $('<div></div>').load('{{ path('fos_user_security_login') }}'),
            	draggable: true
        	});
    	}
    	else if ($url == 'Inscription') {
    		BootstrapDialog.show({
    			title: 'Inscription',
            	message: $('<div></div>').load('{{ path('fos_user_registration_register') }}'),
            	draggable: true
        	});
    	}
      }
    </script>

  	{% endblock %}
  	
</body>
</html>