{% trans_default_domain 'FOSUserBundle' %}

{# On save en session soit l'URL d'ou vient le user soit la homepage pour le redériger correctement après login #}
{% if app.request.headers.get('referer') == '' %}
	{{ app.session.set('previousURL', path('becowo_core_homepage')) }}
{% else %}
	{{ app.session.set('previousURL', app.request.headers.get('referer')) }}
{% endif %}

<div class="container-fluid form-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row text-center" id="form-login">
				<div class="col-lg-5">
					<h3>Rejoignez Becowo !</h3>
		    		<br>
		    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		            	{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
		            	<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
		        	{% endif %}
		
					{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
					<div class="form-group">
					  	{{ form_widget(form.username, {'attr': {'placeholder': 'form.username'|trans}}) }}
					    {{ form_errors(form.username) }}
					
				    	{{ form_widget(form.email, {'attr': {'placeholder': 'form.email'|trans}}) }}
				    	{{ form_errors(form.email) }}
				    
				    	{{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.password'|trans}}) }}
				    	{{ form_errors(form.plainPassword.first) }}
				    
				    	{{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.password_confirmation'|trans}}) }}
				    	{{ form_errors(form.plainPassword.second) }}
				    </div>
					<button type="submit" class="btn" id="_submit" name="_submit"> {{ 'registration.submit'|trans }}</button>
					  
					{{ form_end(form) }}
				</div>
				<div class="col-lg-2">
					<center>
					<img src="{{ asset('images/icons/Logo_becowo.png') }}" id="logo">
					<br>
					<img src="{{ asset('images/icons/or.png') }}" id="or">
					</center>
				</div>
				<div class="col-lg-5" id="rs-login">
					<center>
					<h3>Utilisez votre réseau social préféré !</h3>
					<br>
			    	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('linkedin')}}" id="li"><i class="fa fa-linkedin"></i> LinkedIn</a><br>
			    	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('facebook')}}" id="fb"><i class="fa fa-facebook"></i> Facebook</a><br>
			    	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('twitter')}}" id="tw"><i class="fa fa-twitter"></i> Twitter</a>
			    	<br><br>
			    	<div id="lienRegister">Vous êtes déjà inscrit, <a href="{{ path('fos_user_security_login') }}">connectez-vous</a> !
			    	</center>
				</div>
			</div>
		</div>
	</div>
</div>
