{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Inscription{% endblock %}

{% block fos_user_content %}

<div class="container-fluid form-box" style="padding: 0;">
	<div class="row text-center">
		<div class="col-lg-12">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            	Connecté en tant que {{ app.user.username }} |
            	<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        	{% endif %}
        	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('linkedin')}}" id="li">
        		<i class="fa fa-linkedin"></i> Inscription avec LinkedIn
        	</a><br>
			<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('facebook')}}" id="fb">
				<i class="fa fa-facebook"></i> Inscription avec Facebook
			</a><br>
			<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('twitter')}}" id="tw">
				<i class="fa fa-twitter"></i> Inscription avec Twitter
			</a>
			<div class="separatorH"><span class="txt">Ou</span><hr></div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			{{form_start(form, {'method': 'POST', 'action': path("fos_user_registration_register"), 'attr':{'class': 'register', 'id' : 'formRegister'}})}}

			<div class="form-group">
			  	{{ form_widget(form.username, {'required': false, 'attr': {'placeholder': 'Pseudo'}}) }}
			    {{ form_errors(form.username) }}
			
		    	{{ form_widget(form.email, {'required': false, 'attr': {'placeholder': 'Adresse e-mail'}}) }}
		    	{{ form_errors(form.email) }}
		    
		    	{{ form_widget(form.plainPassword.first, {'required': false, 'attr': {'placeholder': 'Mot de passe'}}) }}
		    	{{ form_errors(form.plainPassword.first) }}
		    
		    	{{ form_widget(form.plainPassword.second, {'required': false, 'attr': {'placeholder': 'Confirmer le mot de passe'}}) }}
		    	{{ form_errors(form.plainPassword.second) }}

		    	{{ form_widget(form.sendNewsletter) }}
		    	{{ form_errors(form.sendNewsletter) }}

		    	En créant un compte, j'accepte les <a href="{{ path('becowo_core_cgu') }}">conditions générales d'utilisation</a> de Becowo.
		    </div>
			<button type="submit" class="btn" id="_submit" name="_submit">Créer un compte</button>
				  
			{{ form_end(form) }}
		</div>
	</div>
	<hr>
	<div class="row" style="line-height: 50px;">
		<div class="col-lg-8" style="padding:0;">Vous êtes déjà inscrit ?</div>
		<div class="col-lg-4" id="lienRegister" style="padding-left: 0;">
			<button type="button" data-toggle="modal" data-target="#myModalLogin" data-dismiss="modal">Connexion</button>
		</div>
	</div>
</div>


{% endblock fos_user_content %}
