{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Nos offres
{% endblock %}

{% block body %}

{% include "CommonViews/flashMessage.html.twig" %}

<div id="top-image">
    <img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">
    <span>Des offres flexibles et adaptées pour votre espace de coworking</span>
    <div class="container-fluid" id="offres">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Link</h1>
                        <h4>Gratuit</h4>
                        {# source : http://www.easy-ware.be/wp-content/uploads/2015/06/bonhomme-cable.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/lien.jpg') }}" alt="Offre link"></div>
                        <ul>
                            <li>Référencement</li>
                        </ul>
                    </div>
                    <div class="panel-footer"><button type="button" data-toggle="modal" data-target="#myModalOffres">Je suis interessé</button></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Zen</h1>
                        <h4>Prix sur demande</h4>
                        {# source : http://autoentrepreneurinfo.com/images/auto-entrepreneur-compte-bancaire-entreprise.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/cb.jpg') }}" alt="Offre zen"></div>
                        <ul>
                            <li>Référencement</li>
                            <li>Réservation en ligne</li>
                            <li><strong>Paiement en ligne sécurisé</strong></li>
                            <li>Evènements, contacts, vote</li>
                            <li>Module d'administration</li>
                            <li>Personnalisation de votre page</li>
                            <li>Suivi des réservations</li>
                        </ul>
                    </div>
                    <div class="panel-footer"><button type="button" data-toggle="modal" data-target="#myModalOffres">Je suis interessé</button></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Option Data</h1>
                        <h4>Bientôt disponible</h4>
                        {# source : http://fr.123rf.com/images-libres-de-droits/bonhomme_blanc_objectifs.html?mediapopup=14533010 #}
                        <div id="logo"><img src="{{ asset('images/icons/stat.jpg') }}" alt="Offre zen +"></div>
                        <ul>
                            <li>Statistiques de Becowo et de votre page</li>
                            <li>Vues sur votre page</li>
                            <li>Profil de l'audience</li>
                            <li>Comportement du visiteur</li>
                        </ul>
                    </div>
                    <div class="panel-footer">Bientôt disponible</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body" id="panel-body">
                        <h1>Visite à 360°</h1>
                        <h4>A partir de 199 € HT*</h4>
                        {# http://previews.123rf.com/images/johan2011/johan20111107/johan2011110700023/9976654-3d-little-human-character-with-a-camera--Stock-Photo-people.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/photo.jpg') }}" alt="visite 360°" width="200px" height="50px"></div>
                        <ul>
                            <li>Réalisation de visite virtuelle à 360°</li>
                            <li>Prise des photos de l’espace</li>
                            <li>Personnalisation de la visite virtuelle</li>
                            <li>Hébergement sur notre site</li>
                            <li>Visibilité sur votre page</li>
                            <li>Cession de droits d'auteur</li>
                            <li><a href="https://roundme.com/tour/89706/view/227184/" target="_blank">Voir un exemple de visite virtuelle</a></li>
                        </ul>
                    </div>
                    <div class="panel-footer"><button type="button" data-toggle="modal" data-target="#myModalOffres">Je suis interessé</button></div>
                </div>
            </div>
        </div>
        <div class="row" id="pourquoi">
            <div id="nb">* Prix valable pour les Hauts de France et l’Ile de France, pour 3 portails (devis personnalisé en fonction de l’agencement)</div>

            <br><br>

            <h1>Pourquoi rejoindre Becowo ?</h1>

            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Visibilité</h3>
                    <p>Géolocalisation, tri par critères, gage de qualité, simplicité</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Communauté</h3>
                    <p>Toucher une communauté active, se rapprocher des coworkers, échanger, connaitre</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Gestion</h3>
                    <p>Simplifier la gestion au quotidien, uniformiser les outils</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Suivi</h3>
                    <p>Suivez votre clientèle, être à l'écoute</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Entraide</h3>
                    <p>Rompre avec l'isolement, partage des compétences</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Réseau</h3>
                    <p>Développer son réseau professionnel, rencontrer, se diversifier</p>
                </div>
            </div>
            
        </div>
        <div class="row" id="services">
            <h1>Les services déjà disponibles</h1>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Pour TOUS</h3>
                    <ul>
                        <li>Disponibilité Hauts-de France et Ile de France </li>
                        <li>Espaces de coworking de qualité</li>
                        <li>Visite des espaces en photos et même à 360°</li>
                        <li>Mise en avant des services proposés</li>
                        <li>Suivi des évènements organisés</li>
                        <li>Réservation et paiement en ligne</li>
                        <li>Un blog, pour suivre l’actualité sur le travail flexible <a title="blog" href="http://www.blog.becowo.com/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Pour les COWORKERS</h3>
                    <ul>
                        <li>Qualité, simplicité, efficacité</li>
                        <li>Réservation instantanée</li>
                        <li>Paiement sécurisé</li>
                        <li>Noter et commenter son expérience</li>
                        <li>Intégrer une communauté active</li>
                        <li>Ne plus être isolé</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Pour les ESPACES</h3>
                    <ul>
                        <li>Simplicité, transparence, visibilité</li>
                        <li>Gestion du contenu</li>
                        <li>Gestion des réservations</li>
                        <li>Publication des événements organisés</li>
                        <li>Revue des commentaires et des notes</li>
                    </ul>
                </div>
            </div>
            <h3>Plus de services à venir bientôt</h3>
            
        </div>
        {% include "CommonViews/bandeauQuestion.html.twig" %}
    </div>

</div>

<div class="modal fade" id="myModalOffres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Becowo - Nos Offres</h4>
            </div>
            <div class="modal-body">
                <p>Vous souhaitez souscrire à une offre, rien de plus simple. <br>
                Pour cela, merci de bien vouloir renseigner les informations ci-dessous. <br>
                Nous vous recontacterons dans les plus brefs délai.</p>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <h3>Votre espace de coworking</h3>
                <div class="row">
                    <div class="col-lg-5 labels">
                        Le nom * :
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.wsName) }}
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-5 labels">
                        Adresse : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.street) }} 
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-5 labels">
                        Code postal :
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.postCode) }} 
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-5 labels">
                        Ville :
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.city) }}
                    </div>  
                </div>
                <div class="row"> 
                    <div class="col-lg-5 labels">
                        Nombre de places : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.nbDesk) }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 labels">
                        Offre choisie : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.offer) }}
                    </div>  
                </div>

                <h3>Vos coordonnées</h3>
                <div class="row"> 
                    <div class="col-lg-5 labels">
                        Votre Prénom et Nom : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.contactName) }} 
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-5 labels">
                        Votre email * : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.email) }} 
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-5 labels">
                        Téléphone : 
                    </div>
                    <div class="col-lg-6 boxs">
                        {{ form_row(form.phone) }} 
                    </div>
                </div>
                <h3>Un commentaire à ajouter ?</h3>
                <div class="row"> 
                    <div class="col-lg-10 col-lg-offset-1">
                        {{ form_row(form.comments) }}
                    </div>

                    {{ form_rest(form) }}
                </div>
                <i>* : Ces informations sont obligatoires</i>
            </div>
            <div class="modal-footer">
                <button class="btn valider" type="submit"><i class="icon icon-check icon-lg"></i> Valider</button>
                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
