{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Nos offres
{% endblock %}

{% block body %}

{% include "CommonViews/flashMessage.html.twig" %}

<div class="container-fluid" id="offres">
<h1>Nos offres</h1>
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Link <span>Gratuit</span></h3>
            </div>
            <div class="panel-body">
                {# source : http://www.easy-ware.be/wp-content/uploads/2015/06/bonhomme-cable.jpg #}
                <img src="{{ asset('images/icons/lien.jpg') }}" alt="Offre link" title="bonhomme lien"><br>
                <ul>
                    <li>Référencement de votre espace sur le site de Becowo</li>
                    <li>Affichage de vos coordonnées</li>
                    <li>Les coworkers peuvent voter et commenter</li>
                    <li>Présentation de votre équipe sur la page dédiée de votre espace</li>
                </ul>
            </div>
            <div class="panel-footer"><a href="">Je suis interessé</a></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Zen <span>Prix sur demande</span></h3>
            </div>
            <div class="panel-body">
                {# source : http://autoentrepreneurinfo.com/images/auto-entrepreneur-compte-bancaire-entreprise.jpg #}
                <img src="{{ asset('images/icons/cb.jpg') }}" alt="Offre zen" title="bonhomme carte bleu"><br>
                <ul>
                    <li>Référencement de votre espace sur le site de Becowo</li>
                    <li><strong>Réservation et paiement en ligne sécurisé</strong></li>
                    <li>Publication de vos évènements</li>
                    <li>Accès à la plateforme d'administration</li>
                    <ul>
                        <li>Vous avez la main sur le contenu du votre page pour personnaliser le texte, les photos et les prix</li>
                        <li>Suivi des réservations</li>
                    </ul>
                </ul>
            </div>
            <div class="panel-footer"><a href="">Je suis interessé</a></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Option Data <span>Bientôt disponible</span></h3>
            </div>
            <div class="panel-body">
                {# source : http://fr.123rf.com/images-libres-de-droits/bonhomme_blanc_objectifs.html?mediapopup=14533010 #}
                <img src="{{ asset('images/icons/stat.jpg') }}" alt="Offre zen +" title="bonhomme statistiques"><br>
                <ul>
                    <li>Accès aux statistiques sur les visiteurs de Becowo (détails sur l’audience, critères de recherche utilisés, etc)</li>
                    <li>Information sur le profil des coworkers qui ont effectué une réservatio</li>
                </ul>
            </div>
            <div class="panel-footer">Bientôt disponible</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Visite virtuelle à 360° <span>A partir de 199 € HT*</span></h3>
            </div>
            <div class="panel-body" id="panel-body-small">
                <div class="row">
                    <div class="col-lg-6">
                        Nous réalisons pour vous la visite virtuelle à 360° de votre espace :
                        <ul>
                            <li>Prise des photos de l’espace</li>
                            <li>Personnalisation et enrichissement de la visite virtuelle</li>
                            <li>Prise en charge de l’hébergement sur notre site</li>
                            <li>La visite est directement visible sur votre page Becowo</li>
                            <li>Cession de droits d'auteur</li>
                            <li><a href="https://roundme.com/tour/89706/view/227184/" target="_blank">Voir un exemple de visite virtuelle</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <img src="{{ asset('images/icons/visite360.png') }}" alt="visite 360°" title="visite 360°">
                    </div>
                </div>
            </div>
            <div class="panel-footer"><a href="">Je suis interessé</a></div>
        </div>
    </div>
</div>

* Prix valable pour les Hauts de France et l’Ile de France, pour 3 portails (devis personnalisé en fonction de l’agencement)

<h1>Pourquoi rejoindre Becowo ?</h1>
<h3>Becowo est une plateforme web de référencement d’espaces de travail partagés qui poursuit plusieurs objectifs :</h3>

<ul>
    <li>Accroitre la visibilité d’espaces de travail atypiques et de qualité</li>
    <li>Valoriser les initiatives autour du coworking et du travail flexible en général</li>
    <li>Développer à travers le monde une communauté de coworkers audacieux</li>
    <li>Privilégier les échanges et l’entraide parmi les coworkers et les partenaires de B ecowo </li>
    <li>Permettre à chacun de développer son réseau professionnel</li>
    <li>Optimiser la gestion d’un espace de travail </li>
</ul>

<h1>Les services déjà disponibles</h1>
<br>
<ul>
    <li>Référencement d’espaces de travail payant dans les Hauts-de France et l’Ile de France </li>
    <li>Description des services, photos et visite virtuelle des espaces </li>
    <li>Réservation et paiement en ligne</li>
    <li>Un blog, pour suivre l’actualité sur le travail flexible</li>
</ul>

<h3>Pour les coworkers</h3>
<br>
<ul>
    <li>Possibilité de réserver un espace</li>
    <li>Possibilité de noter un espace et de laisser un commentaire</li>
    <li>Consultation du profil des autres coworkers</li>
</ul>
<h3>Pour les espaces</h3>
<br>
<ul>
    <li>Gestion de la page espace : photos, descriptions, équipe, horaires, … </li>
    <li>Gestion des réservations </li>
    <li>Publication des événements organisés</li>
    <li>Revue des commentaires et notes données par les coworkers</li>
</ul>

<h1>Une question ? Contactez-nous ! </h1>
<center>06.11.70.63.82</center>
<br><br>
</div>


{#   <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
        <div id="offer1" class="offers">
        <h3>Offre Zen</h3>
        <ul>
            <li>Prise en charge des réservations</li>
            <li>Paiement en ligne</li>
            <li>Gestion des agendas</li>
            <li>Back-office en ligne de gestion de votre profil</li>
            <li>Mise en avant de votre annonce</li>
            <li>Statistiques sur les coworkers</li>
            <br>
        </ul>
        <button type="button"><a href="{{ path('becowo_core_offers_contact', { 'name': 'Zen' }) }}">Je suis intéressé</a></button>
        <br>
        <h5>Conditions</h5>
        <ul class="conditions">
            <li>15% de commission</li>
            <li>Facture au mois</li>
        </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div id="offer2" class="offers">
        <h3>Offre Link</h3>
        <ul>
            <li>Visibilité sur notre site</li>
            <li>Affichage de vos coordonnées</li>
            <li>Lien vers votre site</li>
            <li>Formulaire de contact</li>
            <li>Statistiques sur les pages vues</li>
            <br><br>
        </ul>
        <button type="button"><a href="{{ path('becowo_core_offers_contact', { 'name': 'Link' }) }}">Je suis intéressé</a></button>
        <br>
        <h5>Conditions</h5>
        <ul class="conditions">
            <li>Contrat d'affiliation</li>
            <br>
        </ul>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <div id="offer3" class="offers">
        <h3>Offre Zen +</h3>
        <ul>
            <li>Offre Zen</li>
            <li>Visite virtuelle de l'espace à 360°</li>
            <br>
        </ul>
        <button type="button"><a href="{{ path('becowo_core_offers_contact', { 'name': 'Zen +' }) }}">Je suis intéressé</a></button>
        <br>
        <h5>Conditions</h5>
        <ul class="conditions">
            <li>100€ HT</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="offer4" class="offers">
        <h3>Offre Link +</h3>
        <ul>
            <li>Offre Link</li>
            <li>Mise en avant sponsorisée de votre annonce</li>
            <br>
        </ul>
        <button type="button"><a href="{{ path('becowo_core_offers_contact', { 'name': 'Link +' }) }}">Je suis intéressé</a></button>
        <br>
        <h5>Conditions</h5>
        <ul class="conditions">
            <li>10€ HT / jour</li>
        </ul>
      </div>
    </div>
  </div>
</div> #}
{% endblock %}
