{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Nos offres
{% endblock %}

{% block body %}

{% include "CommonViews/flashMessage.html.twig" %}

<div id="top-image">
    <img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

    <div class="container-fluid" id="offres">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Link</h1>
                        <h4>Gratuit</h4>
                        {# source : http://www.easy-ware.be/wp-content/uploads/2015/06/bonhomme-cable.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/lien.jpg') }}" alt="Offre link"></div>
                        <ul>
                            <li>Référencement</li>
                        </ul>
                    </div>
                    <div class="panel-footer"><a href="">Je suis interessé</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Zen</h1>
                        <h4>Prix sur demande</h4>
                        {# source : http://autoentrepreneurinfo.com/images/auto-entrepreneur-compte-bancaire-entreprise.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/cb.jpg') }}" alt="Offre zen"></div>
                        <ul>
                            <li>Référencement</li>
                            <li>Réservation en ligne</li>
                            <li><strong>Paiement en ligne sécurisé</strong></li>
                            <li>Evènements, contacts, vote</li>
                            <li>Module d'administration</li>
                            <li>Personnalisation de votre page</li>
                            <li>Suivi des réservations</li>
                        </ul>
                    </div>
                    <div class="panel-footer"><a href="">Je suis interessé</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>Option Data</h1>
                        <h4>Bientôt disponible</h4>
                        {# source : http://fr.123rf.com/images-libres-de-droits/bonhomme_blanc_objectifs.html?mediapopup=14533010 #}
                        <div id="logo"><img src="{{ asset('images/icons/stat.jpg') }}" alt="Offre zen +"></div>
                        <ul>
                            <li>Statistiques de Becowo et de votre page</li>
                            <li>Vues sur votre page</li>
                            <li>Profil de l'audience</li>
                            <li>Comportement du visiteur</li>
                        </ul>
                    </div>
                    <div class="panel-footer">Bientôt disponible</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-body" id="panel-body">
                        <h1>Visite à 360°</h1>
                        <h4>A partir de 199 € HT*</h4>
                        {# http://previews.123rf.com/images/johan2011/johan20111107/johan2011110700023/9976654-3d-little-human-character-with-a-camera--Stock-Photo-people.jpg #}
                        <div id="logo"><img src="{{ asset('images/icons/photo.jpg') }}" alt="visite 360°" width="200px" height="50px"></div>
                        <ul>
                            <li>Réalisation de visite virtuelle à 360°</li>
                            <li>Prise des photos de l’espace</li>
                            <li>Personnalisation de la visite virtuelle</li>
                            <li>Hébergement sur notre site</li>
                            <li>Visibilité sur votre page</li>
                            <li>Cession de droits d'auteur</li>
                            <li><a href="https://roundme.com/tour/89706/view/227184/" target="_blank">Voir un exemple de visite virtuelle</a></li>
                        </ul>
                    </div>
                    <div class="panel-footer"><a href="">Je suis interessé</a></div>
                </div>
            </div>
        </div>
        <div class="row" id="pourquoi">
            <div id="nb">* Prix valable pour les Hauts de France et l’Ile de France, pour 3 portails (devis personnalisé en fonction de l’agencement)</div>

            <br><br>

            <h1>Pourquoi rejoindre Becowo ?</h1>

            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Visibilité</h3>
                    <p>Géolocalisation, tri par critères, gage de qualité, simplicité</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Communauté</h3>
                    <p>Toucher une communauté active, se rapprocher des coworkers, échanger, connaitre</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Géstion</h3>
                    <p>Simplifier la gestion au quotidien, uniformiser les outils</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Suivi</h3>
                    <p>Suivez votre clientèle, être à l'écoute</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Entraide</h3>
                    <p>Rompre avec l'isolement, partage des compétences</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2">
                    <h3>Réseau</h3>
                    <p>Développer son réseau professionnel, rencontrer, se diversifier</p>
                </div>
            </div>
            
        </div>
        <div class="row" id="services">
            <h1>Les services déjà disponibles</h1>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Pour TOUS</h3>
                    <ul>
                        <li>Disponibilité Hauts-de France et Ile de France </li>
                        <li>Espaces de coworking de qualité</li>
                        <li>Visite des espaces en photos et même à 360°</li>
                        <li>Mise en avant des services proposés</li>
                        <li>Suivi des évènements organisés</li>
                        <li>Réservation et paiement en ligne</li>
                        <li>Un blog, pour suivre l’actualité sur le travail flexible <a title="blog" href="http://www.blog.becowo.com/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Pour les COWORKERS</h3>
                    <ul>
                        <li>Qualité, simplicité, efficacité</li>
                        <li>Réservation instantanée</li>
                        <li>Paiement sécurisé</li>
                        <li>Noter et commenter son expérience</li>
                        <li>Intégrer une communauté active</li>
                        <li>Ne plus être isolé</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Pour les ESPACES</h3>
                    <ul>
                        <li>Simplicité, transparence, visibilité</li>
                        <li>Gestion du contenu</li>
                        <li>Gestion des réservations</li>
                        <li>Publication des événements organisés</li>
                        <li>Revue des commentaires et des notes</li>
                    </ul>
                </div>
            </div>
            <h3>Plus de services à venir bientôt</h3>
            
        </div>
        <div class="row text-center" id="question">
            <div class="col-lg-2">
                <img src="{{ asset('images/icons/questions-vert.png') }}" alt="question">
            </div>
            <div class="col-lg-8">
                <h1>Une question ? Une suggestion ? Contactez-nous ! </h1>
                <h3><i class="fa fa-mobile" aria-hidden="true"></i> Par téléphone ou SMS au : <a href="tel:+33611706382">06 11 70 63 82</a></h3>
                <h3><img src="{{ asset('images/icons/messenger.png') }}" alt="messenger" id="m"> Par messenger en <a href="http://m.me/becowo" target="_blank">cliquant ici</a></h3>
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/icons/questions-rose.png') }}" alt="question">
            </div>
        </div>
    </div>

</div>

{% endblock %}
