{% extends "Community/layout.html.twig" %}

{% block title %}
  Les évènements
{% endblock %}

{% block content %}
<h1>Les Evènements</h1>
Total : {{ listEvents.getTotalItemCount }} <br>

<div class="row" id="filtersBar">

      <div id="filterWs" class="dropdown">
        Filtrer par : 
			<button class="dropbtn" id="filterWsBtn">Coworking</button>
          <div class="dropdown-content">
          	{% for ws in WSList %}
          		<a href="{{ path('becowo_core_community_events', { 'WsName':ws.name}) }}"><label> {{ws.name|capitalize}}</label> </a>
          		<br>
            {% endfor %}
          </div>
      </div>
      <span id="sort">
        Trier par : 
        {{ knp_pagination_sortable(listEvents, 'Titre', 'e.title') }}
      </span>
</div>

<div class="row events">
{% for event in listEvents %}   

  <div class="row event">
    {% if event.CategoryName != null %}
      <div class="photo" style="background-image:url('{{ asset('images/icons/events/')}}{{event.CategoryName}}.png');
        width:200px;
        height:150px;
        background-position:center;
        background-size: cover;
        margin-left: 15px;
        margin-top: 10px;">&nbsp;</div>
    {% else %}
      <div class="photo" style="background-image:url('{{event.picture}}');
        width:200px;
        height:150px;
        background-position:center;
        background-size: cover;
        margin-left: 15px;
        margin-top: 10px;">&nbsp;</div>
    {% endif %}
    <div class="info">
      <span class="title">{{event.title|capitalize}}</span>
      <br>
      <span class="place">
        <a href="{{ path('becowo_core_workspace', { 'region':event.WsRegion, 'ville' : event.WsCity, 'name': event.WsName }) }}">
          <i class="fa fa-home" aria-hidden="true"></i> {{event.WsName}} à {{event.WsCity}}
        </a>
      </span>
      <br>
      <span class="time">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        {{ event.startDate|localizeddate('full', 'none')|title }} {{event.startDate|date("H:i")}} - {{event.endDate|date("H:i")}}   
      </span>
      <br><br>
      <p>
        {% if event.description|length > 200 %}
          {{event.description|slice(0,200)}}...
        {% else %}
          {{event.description}}
        {% endif %}
        <a href="#" data-toggle="modal" data-target="#myModalEvent-{{event.id}}">[voir plus]</a> 
      </p>
    </div>
    
    {% if event.facebookId != null %}
      <a href="http://facebook.com/{{event.facebookId}}" target="_blank" class="participate"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Participer</a> 
    {% endif %}
          
 
  	<!-- Modale -->
  	<div class="modal fade modalEvent" id="myModalEvent-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	    <div class="modal-dialog">
	        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">{{event.title|capitalize}}</h4>
            </div>
            <div class="modal-body" style="overflow-y: scroll;">
              {% if event.CategoryName != null %}
                <div class="photo" style="background-image:url('{{ asset('images/icons/events/')}}{{event.CategoryName}}.png');
                  width:200px;
                  height:150px;
                  background-position:center;
                  background-size: cover;
                  margin-left: 15px;
                  margin-top: 10px;">&nbsp;</div>
              {% else %}
                <div class="photo" style="background-image:url('{{event.picture}}');
                  width:200px;
                  height:150px;
                  background-position:center;
                  background-size: cover;
                  margin-left: 15px;
                  margin-top: 10px;">&nbsp;</div>
              {% endif %}
              <div class="info">
                <br>
                <span class="title">{{event.title|capitalize}}</span>
                <br>
                <span class="place">
                  <a href="{{ path('becowo_core_workspace', { 'region':event.WsRegion, 'ville' : event.WsCity, 'name': event.WsName }) }}">
                    <i class="fa fa-home" aria-hidden="true"></i> {{event.WsName}} à {{event.WsCity}}
                  </a>
                </span>
                <br>
                <span class="time">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  {{ event.startDate|localizeddate('full', 'none')|title }} {{event.startDate|date("H:i")}} - {{event.endDate|date("H:i")}}   
                </span>
                <br><br>
              </div>
              <br><br>
                <p>{{event.description|nl2br}}</p>
            </div>
            <div class="modal-footer">
              <center>
                {% if event.facebookId != null %}
                  <a href="http://facebook.com/{{event.facebookId}}" target="_blank" style="font-size:16pt;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Participer</a> 
                {% endif %}
              </center>
            </div>
	        </div>
  	    </div>
  	</div>

  </div>
{% endfor %}
</div>
  <div class="navigation text-center">
      {{ knp_pagination_render(listEvents) }}
  </div>

{% endblock content %}
