{% extends "Community/layout.html.twig" %}

{% block title %}
  Les évènements
{% endblock %}

{% block content %}

Total : {{ listEvents.getTotalItemCount }} <br>

	<div class="row" id="filtersBar">

        <div id="filterWs" class="dropdown">
				<button class="dropbtn" id="filterCityBtn">Choisir un espace de coworking</button>
            <div class="dropdown-content">
            	{% for ws in WSList %}
            		<label><a href="{{ path('becowo_core_community_events', { 'WsName':ws.name}) }}"> {{ws.name|capitalize}} </a></label>
            		<br>
              {% endfor %}
            </div>
        </div>
		Filtrer par : 
		{{ knp_pagination_sortable(listEvents, 'Titre', 'e.title') }}
	</div>


  <div class="row text-center">
    {% for event in listEvents %}    
    <div class="panel panel-default" id="panelEvent">
      <div class="panel-heading">
        {% if event.CategoryName != null %}
          <img src="{{ asset('images/icons/events/')}}{{event.CategoryName}}.png" alt="{{event.CategoryName}}" style="width: 100%;">
        {% else %}
          <img src="{{event.picture}}" alt="{{event.title}}" style="width: 100%;">
        {% endif %}
      </div>
      <div class="panel-body">
        <div class="title">
          {{event.title|capitalize}} 
        </div>
          <a href="{{ path('becowo_core_workspace', { 'region':event.WsRegion, 'ville' : event.WsCity, 'name': event.WsName }) }}">
            <i class="fa fa-home" aria-hidden="true"></i> {{event.WsName}}
          </a>
        <div class="row">
          <center>
            {{ event.startDate|localizeddate('full', 'none')|title }} <br>
            {{event.startDate|date("H:i")}} - {{event.endDate|date("H:i")}}
          </center>
          <p>
          {% if event.description|length > 200 %}
            {{event.description|slice(0,200)}}...
          {% else %}
            {{event.description}}
          {% endif %}
          <a href="#" data-toggle="modal" data-target="#myModalEvent-{{event.id}}">[voir plus]</a> </p>
        </div>
      </div>
       <div class="panel-footer">
            
            <button type="button" class="btnFooter btn-lg">
            <div title="Add to Calendar" class="addthisevent">
              Ajouter à mon calendrier
              <span class="start">{{event.startDate|date("d/m/Y H:i:s")}}</span>
              <span class="end">{{event.endDate|date("d/m/Y H:i:s")}}</span>
              <span class="timezone">Europe/Paris</span>
              <span class="title">{{event.title}}</span>
              <span class="description">{{event.description}}</span>
              <span class="location">{{event.WsName}} {{event.WsStreet}} {{event.WsPostCode}} {{event.WsCity}}</span>
              <span class="organizer">Organizer</span>
              <span class="organizer_email">Organizer e-mail</span>
              <span class="all_day_event">false</span>
              <span class="date_format">DD/MM/YYYY</span>
            </div>
            </button>
      </div> 
    </div>


  	<!-- Modale -->
  	<div class="modal fade modalEvent" id="myModalEvent-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	    <div class="modal-dialog">
  	        <div class="modal-content">
  	            <div class="modal-header">
  	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	                <h4 class="modal-title">{{event.title|capitalize}}</h4>
  	            </div>
  	            <div class="modal-body" style="overflow-y: scroll;">
  	                <center>
                      {% if event.CategoryName != null %}
                        <img src="{{ asset('images/icons/events/')}}{{event.CategoryName}}.png" alt="{{event.CategoryName}}" style="width: 100%;">
                      {% else %}
                        <img src="{{event.picture}}" alt="{{event.title}}" style="width: 100%;">
                      {% endif %}
                    </center>
  	                <br>
  	                <span class="title"> {{event.title|capitalize}} <br>
  	                <a href="{{ path('becowo_core_workspace', { 'region':event.WsRegion, 'ville' : event.WsCity, 'name': event.WsName }) }}">
                      <i class="fa fa-home" aria-hidden="true"></i> {{event.WsName}}
  			          </a></span> 
  	                <center>
  	                  {{ event.startDate|localizeddate('full', 'none')|title }} <br>
  	                  {{event.startDate|date("H:i")}} - {{event.endDate|date("H:i")}}
  	                </center>
  	                <br>
  	                  <p>{{event.description|nl2br}}</p>
  	            </div>
  	        </div>
  	    </div>
  	</div>

  	{% endfor %}
    <br>
  <div class="navigation text-center">
      {{ knp_pagination_render(listEvents) }}
  </div>
	</div>

{% endblock content %}
