{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Changer de mot de passe{% endblock %}

{% block fos_user_content %}

<div class="container-fluid form-box" style="padding: 0;">
	<div class="row text-center">
		<div class="col-lg-12">
			<h3>Changer mon mot de passe</h3>

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<br>
				Connecté en tant que {{ app.user.username }} |
				<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
				<br><br>
			{% endif %}

			{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'id': 'formChangeMDP','class': 'fos_user_change_password' } }) }}

			<div class="form-group">
				  	{{ form_widget(form.current_password, {'required': false, 'attr': {'placeholder': 'Mot de passe actuel'}}) }}
				    {{ form_errors(form.current_password) }}

				    {{ form_widget(form.plainPassword.first, {'required': false, 'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
				    {{ form_errors(form.plainPassword.first) }}

			    	{{ form_widget(form.plainPassword.second, {'required': false, 'attr': {'placeholder': 'Confirmer le mot de passe'}}) }}
			    	{{ form_errors(form.plainPassword.second) }}
			</div>

			{{ form_rest(form) }}
			<button type="submit" class="btn" id="_submit" name="_submit">Modifier mon mot de passe</button>

			{{ form_end(form) }}
		</div>
	</div>
</div>

{% endblock fos_user_content %}
