
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<div class="row">
	{{ form_errors(form) }}

    {{ form_row(form.workspaceHasOffice)}} <br>
    {{ form_row(form.startDate)}} <br>
    {{ form_row(form.endDate)}} <br>
    {{ form_row(form.priceExclTax)}} <br>
    {{ form_row(form.priceInclTax)}} <br>
    {{ form_row(form.duration)}} <br>
    {{ form_row(form.duration_day)}} <br>
    {{ form_row(form.nbPeople)}} <br>
    {{ form_row(form.status)}} <br>

</div>
<hr>
<div class="row text-center">
    <button class="btn btn-success" type="submit"><i class="icon icon-check icon-lg"></i> Valider</button>
    <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
