{% extends 'Manager/manager-layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.theme.min.css') }}">
<style>

.openspace{
    background-color: #35414f;
    border-color: #35414f;
    color: white;
}
.desk{
    background-color: #93c3cd;
    border-color: #93c3cd;
    color: white;
}
.meeting{
    background: #30966f;
    border-color: #30966f;
    color: white;
}
.conference{
    background-color: #db4865;
    border-color: #db4865;
    color: white;
}
.fc-time:after{
    content: "h"
}
.legende span{
    border-radius: 3px;
    padding: 5px;
}
.modal-header, .modal-header .close, .modal-footer button{
    background-color: #35414f;
    color: #e1e463;
}
.modal-body{
    color: #2c4359;
    font-size: 12pt;
}
.modal-footer button:focus, .modal-footer button:hover{
    color: #e1e463;
}
.fc-scroller {
   overflow-y: hidden !important;
}
.fc-content{
    cursor: pointer;
}
#divLoading
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url("{{ asset('images/icons/loading.gif') }}");
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

</style>
{% endblock css %}

{% block page %}

{# <div class="row">
    <div class="col-lg-12">
        <h1>Les réservations</h1>
        <hr>
    </div>
</div> #}
<div class="row legende">
    Légende : 
    <span class="openspace">Espace partagé</span> 
    <span class="desk">Bureau</span> 
    <span class="meeting">Salle de réunion</span> 
    <span class="conference">Salle de conférence</span>
</div>
<br>
<div id="calendar"></div>
<div id="divLoading"></div>

<div class="modal fade" id="myModalBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <strong>Détails de la réunion : </strong> <br>
                Date : <span class="debut"></span> - <span class="fin"></span> <br>
                Durée : <span class="duration"></span> <span class="duration_day"></span> <br>
                Prix : <span class="price_excl_tax"></span> € HT (soit <span class="price_incl_tax"></span> € TTC) <br>
                Nombre de coworker(s) : <span class="nb_people"></span> <br>
                Message : <span class="message"></span> <br>
                <br>
                <strong>Identité du <a href="#" target="_blank" id="url_coworker">coworker</a> : </strong><br>
                Prénom : <span class="memberFirstname"></span> <br>
                Nom : <span class="memberName"></span> <br>
                Email : <span class="memberEmail"></span> <br>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
        </div>
    </div>
</div>

<br><br>
Les statuts suivent l'ordre suivant : <br>
<img src="{{ asset('images/icons/becowo status process.jpg')}}" alt="Process réservation Becowo">

{% endblock page%}

{% block javascripts %}
 
<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/locale/fr.js"></script> 

<script>
        
$(document).ready(function() {

    $('#calendar').fullCalendar({
        // get events
        events: {
            url: "{{ path('becowo_manager_get_booking', {id: workspace.id}) }}",
            type: 'POST',
            data: {
                // custom_param1: 'something',
                // custom_param2: 'somethingelse'
            },
            success: function() {
              $('#divLoading').hide();         
            },
            error: function() {
                alert('there was an error while fetching events!');
            }
        },
        // settings
        header:
            {
                center: 'month,agendaWeek,agendaDay'
            },
        footer:
            {
                left:   'title',
                center: 'month,agendaWeek,agendaDay',
                right:  'today prev,next'
            },
        weekNumbers: true,
        theme: true, // use CSS theme constructed on http://jqueryui.com/themeroller
        fixedWeekCount: false,
        // Clic on event
        eventClick: function(calEvent, jsEvent, view) {

            var mymodal = $('#myModalBooking');
            mymodal.find('.modal-title').text(calEvent.title);
            mymodal.find('.debut').text(moment(calEvent.start).format('LLLL'));
            mymodal.find('.fin').text(moment(calEvent.end).format('LLLL'));
            mymodal.find('.duration').text(calEvent.duration);
            mymodal.find('.duration_day').text(calEvent.duration_day);
            mymodal.find('.price_incl_tax').text(calEvent.price_incl_tax);
            mymodal.find('.price_excl_tax').text(calEvent.price_excl_tax);
            mymodal.find('.nb_people').text(calEvent.nb_people);

            if(calEvent.message != null)
            {
                mymodal.find('.message').text(calEvent.message);
            }

            if(calEvent.memberId != null)
            {
                mymodal.find('.memberFirstname').text(calEvent.memberFirstname);
                mymodal.find('.memberName').text(calEvent.memberName);
                mymodal.find('.memberEmail').text(calEvent.memberEmail);

                var url = '{{ path("becowo_member_community_coworker", {'city': 'paramCity', 'job': 'paramJob', 'id': 'paramId'}) }}'; 
                url = url.replace("paramCity", calEvent.memberCity.replace('-', ' '));
                url = url.replace("paramJob", calEvent.memberJob.replace('-', ' ').replace('/', ' '));
                url = url.replace("paramId", calEvent.memberId);

                mymodal.find('a[id="url_coworker"]').attr('href', url);
            }
            

            mymodal.modal('show');

        }
    })

});

</script>

{% endblock %}
