{% extends 'Manager/manager-layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/manager/jquery.datetimepicker.min.css') }}">
<style>

.all{
    background-color: #737F9E;
    border-color: #737F9E;
    color: white;  
}
.openspace{
    background-color: #35414f;
    border-color: #35414f;
    color: white;
}
.desk{
    background-color: #93c3cd;
    border-color: #93c3cd;
    color: white;
}
.meeting{
    background: #30966f;
    border-color: #30966f;
    color: white;
}
.conference{
    background-color: #db4865;
    border-color: #db4865;
    color: white;
}
.fc-time:after{
    content: "h"
}
.legende label{
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.legende input{
    margin-left: 5px;
    margin-right: 5px;
}
.modal-header, .modal-header .close, .modal-footer button{
    background-color: #35414f;
    color: #e1e463;
}
.modal-body{
    color: #2c4359;
    font-size: 12pt;
}
.modal-footer button:focus, .modal-footer button:hover{
    color: #e1e463;
}
.fc-scroller {
   overflow-y: hidden !important;
}
.fc-content{
    cursor: pointer;
}
#divLoading
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url("{{ asset('images/icons/loading.gif') }}");
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#myModalGoogle .modal-dialog{
    width: 70%;
}
#myModalGoogle .modal-body h4{
    color: #2c4359;
    font-size: 12pt;
}
a, a:hover, a:active, a:focus, button{
  outline: none !important;
}
.filters{
    margin-top: 5px;
}
.form-group{
    display: inline-flex;
    margin-left: 10px;
    width: 90%;
}
.form-group label{
    margin-right: 20px;
    width: 50%;
}
.fc-day:hover:after {
    content: url("{{ asset('images/icons/plus.png') }}");
    display: block;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 40%;
}
.payWait .fc-title:after, .payOk .fc-title:after{
    content: url("{{ asset('images/icons/dot_orange.png') }}");
    margin-left: 10px;
}
.bookOk .fc-title:after{
    content: url("{{ asset('images/icons/dot_green.png') }}");
    margin-left: 10px;
}
.payRefused .fc-title:after, .bookRefused .fc-title:after{
    content: url("{{ asset('images/icons/dot_red.png') }}");
    margin-left: 10px;
}

</style>
{% endblock css %}

{% block page %}


<div class="row legende">
    <div class="col-lg-8 filters">
        <label for="all" class="all"><input type="radio" name="room" id="all" value="all" checked>Tous</label>
        <label for="1" class="openspace"><input type="radio" name="room" id="1" value="1">Espace partagé</label>
        <label for="2" class="desk"><input type="radio" name="room" id="2" value="2">Bureau</label>
        <label for="3" class="meeting"><input type="radio" name="room" id="3" value="3">Salle de réunion</label>
        <label for="4" class="conference"><input type="radio" name="room" id="4" value="4">Salle de conférence</label>
    </div>
    <div class="col-lg-4">
        <button type="button" data-toggle="modal" class="btn btn-lg" data-target="#myModalGoogle"><i class="fa fa-question-circle" aria-hidden="true"></i> Synchroniser son agenda google</button>
 
        <div class="modal fade" id="myModalGoogle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Synchroniser son agenda google</h4>
                    </div>
                    <div class="modal-body">
                        4 étapes simples pour synchroniser votre agenda google avec Becowo : <br>
                        <br>
                        <h4><strong>Etape 1</strong> : Se connecter au google Agenda à partager </h4>
                        <h4><strong>Etape 2</strong> : Ouvrir le menu de l’agenda et cliquer sur « Paramètres de l’agenda »</h4>
                        <img src="{{ asset('images/icons/googleAgenda/etape2.png') }}" alt="Etape 2">
                        <h4><strong>Etape 3</strong> : Noter l’ID de l’agenda pour nous le <strong>transmettre par mail</strong> puis cliquer sur « Modifier les paramètres de partage »</h4>
                        <img src="{{ asset('images/icons/googleAgenda/etape3.png') }}" alt="Etape 3">
                        <h4><strong>Etape 4</strong> : Dans la partie « Partager avec des personnes en particulier », saisir l’adresse email « becowo@protean-keyword-132623.iam.gserviceaccount.com » et choisir « Apporter des modifications aux évènements » dans le menu déroulant, cliquer sur « Enregistrer la personne » puis enregistrer</h4>
                        <img src="{{ asset('images/icons/googleAgenda/etape4.png') }}" alt="Etape 4">
                        <br><br>
                        Nous vous préviendrons dès que la synchronisation sera en place (sous 24h).
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-inverse" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div id="calendar"></div>
<div id="divLoading"></div>

<div class="modal fade" id="myModalBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <strong>Détails de la réunion : </strong> <br>
                Date : <span class="debut"></span> - <span class="fin"></span> <br>
                Durée : <span class="duration"></span> <span class="duration_day"></span> <br>
                Prix : <span class="price_excl_tax"></span> € HT (soit <span class="price_incl_tax"></span> € TTC) <br>
                Nombre de coworker(s) : <span class="nb_people"></span> <br>
                Message : <span class="message"></span> <br>
                <br>
                <strong>Identité du <a href="#" target="_blank" id="url_coworker">coworker</a> : </strong><br>
                Prénom : <span class="memberFirstname"></span> <br>
                Nom : <span class="memberName"></span> <br>
                Email : <span class="memberEmail"></span> <br>
            </div>
            <div class="modal-footer">
                <button class="btn modify" type="button" data-toggle="modal" data-target="#myModalEditBooking-" data-dismiss="modal"><i class="glyphicon glyphicon-pencil icon-lg"></i> Modifier</button>
                <button class="btn" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalCreateBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Ajouter une réservation</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('BecowoManagerBundle:Booking:add', {id: workspace.id})) }}
            </div>
        </div>
    </div>
</div>

{% for internalBook in internalBooking %}
    <div class="modal fade" id="myModalEditBooking-{{internalBook.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Modifier une réservation</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('BecowoManagerBundle:Booking:edit', {wsId: workspace.id, bookId: internalBook.id })) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock page%}

{% block javascripts %}
 
<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script> 
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/locale/fr.js"></script> 
<script type="text/javascript" src="{{ asset('js/manager/jquery.datetimepicker.full.min.js') }}"></script>

<script>
        
$(document).ready(function() {

    $('#calendar').fullCalendar({
        // get events
        events: {
            url: "{{ path('becowo_manager_get_booking', {id: workspace.id}) }}",
            type: 'POST',
            success: function() {
              $('#divLoading').hide();         
            },
            error: function() {
                alert('there was an error while fetching events!');
            }
        },
        // settings
        header:
            {
                center: 'month,agendaWeek,agendaDay'
            },
        footer:
            {
                left:   'title',
                center: 'month,agendaWeek,agendaDay',
                right:  'today prev,next'
            },
        weekNumbers: true,
        theme: true, // use CSS theme constructed on http://jqueryui.com/themeroller
        fixedWeekCount: false,
        // Clic on event
        eventClick: function(calEvent, jsEvent, view) {

            var mymodal = $('#myModalBooking');
            mymodal.find('.modal-title').text(calEvent.title + ' (' + calEvent.status + ')');
            mymodal.find('.debut').text(moment(calEvent.start).format('LLLL'));
            mymodal.find('.fin').text(moment(calEvent.end).format('LLLL'));
            mymodal.find('.duration').text(calEvent.duration);

            if(calEvent.duration_day != null)
            {
                mymodal.find('.duration_day').text(calEvent.duration_day);
            }

            mymodal.find('.price_incl_tax').text(calEvent.price_incl_tax);
            mymodal.find('.price_excl_tax').text(calEvent.price_excl_tax);
            mymodal.find('.nb_people').text(calEvent.nb_people);

            if(calEvent.message != null)
            {
                mymodal.find('.message').text(calEvent.message);
            }

            if(calEvent.memberId != null)
            {
                mymodal.find('.memberFirstname').text(calEvent.memberFirstname);
                mymodal.find('.memberName').text(calEvent.memberName);
                mymodal.find('.memberEmail').text(calEvent.memberEmail);

                var url = '{{ path("becowo_member_community_coworker", {'city': 'paramCity', 'job': 'paramJob', 'id': 'paramId'}) }}'; 
                url = url.replace("paramCity", calEvent.memberCity.replace('-', ' '));
                url = url.replace("paramJob", calEvent.memberJob.replace('-', ' ').replace('/', ' '));
                url = url.replace("paramId", calEvent.memberId);

                mymodal.find('a[id="url_coworker"]').attr('href', url);

                mymodal.find('.modify').hide();
            }else
            {
                mymodal.find('.modify').show();
            }

            var currentContent = mymodal.find('.modal-footer').html();
            var newContent = currentContent.replace("#myModalEditBooking-", "#myModalEditBooking-" + calEvent.id);
            mymodal.find('.modal-footer').html(newContent);
            
            mymodal.modal('show');
           

        },
        // pour le filtre et ajouter le statut en class
        eventRender: function eventRender( event, element, view ) {
            element.addClass(event.statusCode);

            return ['all', event.officeId].indexOf($('input:radio[name=room]:checked').val()) >= 0
        },
        // clic sur une case vide
        dayClick: function(date, jsEvent, view, resourceObj) {

            // alert('Date: ' + date.format());
            $('#myModalCreateBooking').modal('show');

        }
    })

    jQuery('#booking-add-form_startDate').datetimepicker({
        format:'Y-m-d H:i'
    });
    jQuery('#booking-add-form_endDate').datetimepicker({
        format:'Y-m-d H:i'
    });
    jQuery('#booking-edit-form_startDate').datetimepicker({
        format:'Y-m-d H:i'
    });
    jQuery('#booking-edit-form_endDate').datetimepicker({
        format:'Y-m-d H:i'
    });
    $.datetimepicker.setLocale('fr');

    $('input[name="room"]:radio').change(function () {
        $('#calendar').fullCalendar('rerenderEvents');
    })

});


</script>

{% endblock %}
