{% extends 'manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>Le calendrier</h1>
		<hr>
	</div>
</div>


{####################################################### Horaires #####################################################}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="row">
	<div class="col-lg-12">
		<div class="read-horaires">
		<h4>Les horaires
			<small>Indiquez ici les heures d'ouvertures et de fermetures de votre espace</small>
			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('horaires')"></button>
		</h4>
		<br>
		<div class="well well-sm">
			{{workspace.openHoursInfo|nl2br}} <br>
		</div>
		<br>
		<div class="well well-sm">
			Ouvert 24/7 : 
				{% if workspace.isAlwaysOpen %} 
					<img src={{ asset('/images/icons/box_checked.gif')}} alt="checked">
				{% else %}
					<img src={{ asset('/images/icons/box_unchecked.gif')}} alt="unchecked">
				{% endif %}
		</div></div>
		<div class="write-horaires">
		<h4>Les horaires
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('horaires')"></button>
		</h4>  
		    {{ form_errors(form.openHoursInfo) }}
		    {{ form_widget(form.openHoursInfo, {'attr': {'class': 'form-control'}}) }}  <br>

		    {{ form_errors(form.isAlwaysOpen) }}
		    {{ form_widget(form.isAlwaysOpen, {'attr': {'class': 'form-control'}}) }}  
		</div>
	</div>
</div>
<br>
{{ form_rest(form) }}
{{ form_end(form) }}
{####################################################### Calendrier #####################################################}
{{ form_start(formCalendar, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(formCalendar) }}
<div class="row">
	<div class="col-lg-12">
		<h4>Calendrier
			<small>Listez les dates de fermeture de votre espace</small>
		</h4>
		<div class="well well-sm">
			{% for d in closedDates %}
				{{d.closedDate|date('d/m/Y')}} 
				<a data-toggle="modal" href="#myModal-{{d.id}}" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				{# Modale #}
				<div class="modal fade" id="myModal-{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalDelete" aria-hidden="true">
				    <div class="modal-dialog" style="width: 30%;">
				        <div class="modal-content">
				            <div class="modal-header btn-danger">
				                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
				                <h4 class="modal-title">Supprimer</h4>
				            </div>
				            <div class="modal-body">
				                <p>Etes vous sûr de vouloir supprimer ? </p>
				            </div>
				            <div class="modal-footer">
				                <a href="{{ path('becowo_manager_profile_calendar_delete', { 'id': d.id, wsId: workspace.id }) }}" class="btn btn-danger"><i class="icon icon-check icon-lg"></i> Supprimer</a>
				                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Annuler</button>
				            </div>
				        </div>
				    </div>
				</div>

				<br>
			{% endfor %}
		</div>
		<div class="read-calendar">
			<button type="button" class="btn btn-primary" onclick="goWrite('calendar')">Ajouter une date</button>
		</div>
		<div class="write-calendar">
		    {{ form_errors(formCalendar.closedDate) }}
		    {{ form_widget(formCalendar.closedDate, {'attr': {'class': 'form-control'}}) }}  
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('calendar')"></button>
		</div>
	</div>
</div>
<br>
{{ form_rest(formCalendar) }}
{{ form_end(formCalendar) }}

{########################################## Timetable #########################################}
{{ form_start(formTime, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(formTime) }}
<div class="row">
	<div class="col-lg-12">
		<div class="read-timetable">
		<h4>Horaires
			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('timetable')"></button>
		</h4><div class="well well-sm">
			Ouverture : {{ timetable.openHour|date("H:i") }}  <br>
			Fermeture : {{ timetable.closeHour|date("H:i") }} <br>
			Ouvert le Samedi : 
				{% if timetable.isOpenSaturday %} 
					<img src={{ asset('/images/icons/box_checked.gif')}} alt="checked">
				{% else %}
					<img src={{ asset('/images/icons/box_unchecked.gif')}} alt="unchecked">
				{% endif %} <br>
			Ouvert le Dimanche : 
				{% if timetable.isOpenSunday %} 
					<img src={{ asset('/images/icons/box_checked.gif')}} alt="checked">
				{% else %}
					<img src={{ asset('/images/icons/box_unchecked.gif')}} alt="unchecked">
				{% endif %}
		</div></div>
		<div class="write-timetable">
		<h4>Horaires
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('timetable')"></button>
		</h4>  
		    {{ form_errors(formTime.openHour) }}
		    {{ form_widget(formTime.openHour, {'attr': {'class': 'form-control'}}) }}  
		    {{ form_errors(formTime.closeHour) }}
		    {{ form_widget(formTime.closeHour, {'attr': {'class': 'form-control'}}) }} 
		    {{ form_errors(formTime.isOpenSaturday) }}
		    {{ form_widget(formTime.isOpenSaturday, {'attr': {'class': 'form-control'}}) }} 
		    {{ form_errors(formTime.isOpenSunday) }}
		    {{ form_widget(formTime.isOpenSunday, {'attr': {'class': 'form-control'}}) }} 
		</div>
	</div>
</div>
{{ form_rest(formTime) }}
{{ form_end(formTime) }}

{% endblock %}

{% block javascripts %}
	<script>

	goRead("horaires");
	goRead("calendar");
	goRead("timetable");
	</script>
{% endblock %}
