{% extends 'manager/manager-layout.html.twig' %}

{% block page %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Bureaux #####################################################}

 <table class="table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Début</th>
			<th>Fin</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for event in events %}
			<tr>
			 	<td>{{event.title}}</td>
			 	<td>{{event.description}}</td>
				<td>{{event.startDate|date("d/m/Y h:m")}}</td>
				<td>{{event.endDate|date("d/m/Y h:m")}}</td>
				<td><a href="{{ path('becowo_manager_profile_events_delete', { 'id': event.id }) }}"><button type="button" class="btn btn-danger fa fa-trash-o"></button></a></td> 
			</tr>
		{% endfor %}
	</tbody>
</table> 


{#########################################################################################################}
<div class="row">
    <div class="col-lg-5">
    	<div class="read-events">
    		<button type="button" class="btn btn-primary" onclick="goWrite('events')">Ajouter un évènement</button>
    	</div>
    	<div class="write-events">
			{{ form_rest(form) }}
			{{ form_end(form) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('events')"></button> 
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>

	goRead("events");
	</script>
{% endblock %}
