{% extends 'Manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>Les évènements</h1>
		<i class="fa fa-info-circle" aria-hidden="true"></i> Si vos évènements sont publiés sur votre page Facebook, alors ils sont automatiquement importés dans Becowo
		<hr>
	</div>
</div>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Bureaux #####################################################}

 <table class="table">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Début</th>
			<th>Fin</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for event in events %}
			<tr>
			 	<td>{{event.title}}</td>
			 	<td>{{event.description}}</td>
				<td>{{event.startDate|date("d/m/Y h:m")}}</td>
				<td>{{event.endDate|date("d/m/Y h:m")}}</td>
				<td><a data-toggle="modal" href="#myModal-{{event.id}}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td> 
			</tr>

			
			{# Modale #}
			<div class="modal fade" id="myModal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog" style="width: 30%;">
			        <div class="modal-content">
			            <div class="modal-header btn-danger">
			                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
			                <h4 class="modal-title">Supprimer</h4>
			            </div>
			            <div class="modal-body">
			                <p>Etes vous sûr de vouloir supprimer ? </p>
			            </div>
			            <div class="modal-footer">
			                <a href="{{ path('becowo_manager_profile_events_delete', { 'id': event.id, 'wsId': workspace.id }) }}" class="btn btn-danger"><i class="icon icon-check icon-lg"></i> Supprimer</a>
			                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Annuler</button>
			            </div>
			        </div>
			    </div>
			</div>

		{% endfor %}
	</tbody>
</table> 


{#########################################################################################################}
<div class="row">
    <div class="col-lg-5">
    	<div class="read-events">
    		<button type="button" class="btn btn-primary" onclick="goWrite('events')">Ajouter un évènement</button>
    	</div>
    	<div class="write-events">
			{{ form_rest(form) }}
			{{ form_end(form) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('events')"></button> 
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>

	goRead("events");
	</script>
{% endblock %}
