{% extends 'Manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>{{workspace.name}}</h1>
		<hr>
	</div>
</div>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Header & Logo #####################################################}
<div class="row">
	<div class="col-lg-12">
		<div class="read-name">
		<h4>Nom de l'espace
			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('name')"></button>
		</h4><div class="well well-sm">
			{{workspace.name}}
		</div></div>
		<div class="write-name">
		<h4>Nom de l'espace
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('name')"></button>
		</h4>  
		    {{ form_errors(form.name) }}
		    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}  
		</div>
	</div>
</div>

{####################################################### Adresse #####################################################}
<br>
<div class="row">
	<div class="col-lg-12">
    	<div class="read-adresse">
    		<h4>Adresse
    			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('adresse')"></button>
			</h4><div class="well well-sm">
			{{workspace.street}}<br>{{workspace.postCode}}, {{workspace.city}} <br>
			{{workspace.region.name}}, {{workspace.country.name}}
			</div></div>
		<div class="write-adresse">
    		<h4>Adresse
		    	<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
				<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('adresse')"></button> 
			</h4>
		    {{ form_row(form.street) }}
		    {{ form_row(form.postCode) }}
		    {{ form_row(form.city) }}
		    {{ form_row(form.region) }}		    
		    {{ form_row(form.country) }}
		    Pour les identifier les coordonnées géographiques, rendez-vous sur <a href="http://www.coordonnees-gps.fr/" target="_blanck">www.coordonnees-gps.fr</a>
		    {{ form_row(form.longitude) }}
		    {{ form_row(form.latitude) }}
		</div>
	</div>
</div>
{####################################################### Les sites #####################################################}
<br>
<div class="row">
	<div class="col-lg-12">
    	<div class="read-sites">
    		<h4>Vos sites
    			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('sites')"></button>
			</h4><div class="well well-sm">
			Site : {{workspace.website}}<br>
			Facebook : {{workspace.facebookLink}}<br>
			Twitter : {{workspace.twitterLink}}<br>
			Instagram : {{workspace.instagramLink}}<br>
			</div></div>
		<div class="write-sites">
    		<h4>Vos sites
		    	<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
				<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('sites')"></button> 
			</h4>
		    {{ form_row(form.website) }}
		    {{ form_row(form.facebookLink) }}
		    {{ form_row(form.twitterLink) }}
		    {{ form_row(form.instagramLink) }}	
		</div>
	</div>
</div>
{############################################### Description des services #################################################}
<br>
<div class="row">
	<div class="col-lg-12">
    	<div class="read-amenitiesDesc">
    		<h4>Description des services
    			<small>Décrivez ici vos services, (onglet Services de votre page)</small>
    			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('amenitiesDesc')"></button>
			</h4><div class="well well-sm">
			{{workspace.amenitiesDesc}}<br>
			</div></div>
		<div class="write-amenitiesDesc">
    		<h4>Description des services
    			<small>Décrivez ici vos services, (onglet Services de votre page)</small>
		    	<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
				<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('amenitiesDesc')"></button> 
			</h4>
		    {{ form_row(form.amenitiesDesc) }}	
		</div>
	</div>
</div>
{############################################### First Booking Free #################################################}
<br>
<div class="row">
	<div class="col-lg-12">
    	<div class="read-firstBookingFree">
    		<h4>Réservation découverte gratuite <br>
    			<small>Indiquez si vous autorisez une journée de découverte gratuite pour nos coworkers et indiquez les conditions d'accueil. </small>
    			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('firstBookingFree')"></button>
			</h4><div class="well well-sm">
			Réservation gratuite autorisée : 
			{% if workspace.isAlwaysOpen %} 
				<img src={{ asset('/images/icons/box_checked.gif')}} alt="checked">
			{% else %}
				<img src={{ asset('/images/icons/box_unchecked.gif')}} alt="unchecked">
			{% endif %}  <br>
			Description : <br>
			{{workspace.firstBookingFreeDesc|nl2br}}<br>
			</div></div>
		<div class="write-firstBookingFree">
    		<h4>Réservation découverte gratuite <br>
    			<small>Indiquez si vous autorisez une journée de découverte gratuite pour nos coworkers et indiquez les conditions d'accueil.</small>
		    	<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
				<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('firstBookingFree')"></button> 
			</h4>
			{{ form_row(form.firstBookingFree) }} <br>
		    {{ form_row(form.firstBookingFreeDesc) }}	
		</div>
	</div>
</div>
{############################################### Description pour l'arrivée #################################################}
<br>
<div class="row">
	<div class="col-lg-12">
    	<div class="read-arrivalDesc">
    		<h4>Procédure d'arrivée
    			<small>Décrivez ici les informations à donner au coworker pour entrer dans les lieux (envoyé dans le mail de confirmation de la réservation) </small>
    			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('arrivalDesc')"></button>
			</h4><div class="well well-sm">
			{{workspace.arrivalDesc}}<br>
			</div></div>
		<div class="write-arrivalDesc">
    		<h4>Procédure d'arrivée
    			<small>Décrivez ici les informations à donner au coworker pour entrer dans les lieux (envoyé dans le mail de confirmation de la réservation) </small>
		    	<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
				<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('arrivalDesc')"></button> 
			</h4>
		    {{ form_row(form.arrivalDesc) }}	
		</div>
	</div>
</div>
{#########################################################################################################}
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script>

	goRead("name");
	goRead("description");
	goRead("descriptionBonus");
	goRead("adresse");
	goRead("sites");
	goRead("amenitiesDesc");
	goRead("firstBookingFree");
	goRead("arrivalDesc");
	</script>
{% endblock %}
