{% extends 'manager/manager-layout.html.twig' %}

{% block page %}
<div class="container-fluid">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de {{app.user.workspace.name}}
        </h1>
    </div>
</div><!-- /.row -->

{% include "CommonViews/flashMessage.html.twig" %}



{########################################### Logo ######################################################}

<div class="row">
	<div class="col-lg-12">
		<h4>Votre logo :</h4>
		<img src="{{ asset('images/Workspaces/') }}{{app.user.workspace.name}}/{{logo.url}}" alt="{{logo.alt}}">
		<div class="read-logo">
			<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('logo')"></button>
		</div>
		<div class="write-logo">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
			{{ form_errors(form) }}
			{{ form_rest(form) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('logo')"></button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
<br>

{#######################################################################################################}


{% endblock %}

{% block javascripts %}
	<script>

	goRead("logo");
	</script>
{% endblock %}
