{% extends 'manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>Les bureaux</h1>
		<hr>
	</div>
</div>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Bureaux #####################################################}

<table class="table">
	<thead>
		<tr>
			<th>Type de bureau</th>
			<th>Nom</th>
			<th>Photo</th>
			<th>Capacité</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for office in offices %}
			<tr>
			 	<td>{{office.office.name}}</td>
			 	<td>{{office.name}}</td>
			 	{% if office.urlProfilePicture != '' %}
					<td><img src="{{ asset('images/Workspaces/') }}{{app.user.workspace.name}}/{{office.urlProfilePicture}}" alt="{{office.office.name}}" width="80px" height="50px"></td>
				{% else %}
					<td></td>
				{% endif %}
				<td>{{office.deskQty}}</td>
				<td><a data-toggle="modal" href="#myModal-{{office.id}}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td> 
			</tr>

			{# Modale #}
			<div class="modal fade" id="myModal-{{office.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog" style="width: 30%;">
			        <div class="modal-content">
			            <div class="modal-header btn-danger">
			                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
			                <h4 class="modal-title">Supprimer</h4>
			            </div>
			            <div class="modal-body">
			                <p>Etes vous sûr de vouloir supprimer ? </p>
			            </div>
			            <div class="modal-footer">
			                <a href="{{ path('becowo_manager_profile_offices_delete', { 'id': office.id }) }}" class="btn btn-danger"><i class="icon icon-check icon-lg"></i> Supprimer</a>
			                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Annuler</button>
			            </div>
			        </div>
			    </div>
			</div>
		{% endfor %}
	</tbody>
</table>


{#########################################################################################################}
<div class="row">
    <div class="col-lg-4">
    	<div class="read-offices">
    		<button type="button" class="btn btn-primary" onclick="goWrite('offices')">Ajouter un bureau</button>
    	</div>
    	<div class="write-offices">
			{{ form_rest(form) }}
			{{ form_end(form) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('offices')"></button> 
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>

	goRead("offices");
	</script>
{% endblock %}
