{% extends 'manager/manager-layout.html.twig' %}

{% block page %}
<div class="container-fluid">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de {{app.user.workspace.name}}
        </h1>
    </div>
</div><!-- /.row -->

{% include "CommonViews/flashMessage.html.twig" %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Bureaux #####################################################}

<table class="table">
	<thead>
		<tr>
			<th>Type de bureau</th>
			<th>Quantité</th>
			<th>Public ?</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for office in offices %}
			<tr>
			 	<td>{{office.office.name}}</td>
				<td>{{office.deskQty}}</td>
				<td>{% if office.office.isPublic %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
				<td>{{office.office.description}}</td> 
				<td><a href="{{ path('becowo_manager_profile_offices_delete', { 'id': office.id }) }}"><button type="button" class="btn btn-danger fa fa-trash-o"></button></a></td> 
			</tr>
		{% endfor %}
	</tbody>
</table>


	


{#########################################################################################################}
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script>

	goRead("amenities");
	</script>
{% endblock %}
