{% extends 'manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>Les photos</h1>
		<hr>
	</div>
</div>

{########################################### Pictures ######################################################}

<div class="row">
	<div class="col-lg-12">
		{% for pic in pics %}
		<div class="show-image">
			<img src="{{ asset('images/Workspaces/') }}{{app.user.workspace.name}}/{{pic.url}}" alt="{{pic.alt}}">
			<a href="{{ path('becowo_manager_profile_pictures_delete', {id: pic.id}) }}">Supprimer</a>
			<br>
		</div>
		{% endfor %}
	</div>
</div>	
<br>	
<div class="row">
	<div class="col-lg-12">	
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
		<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('pics')"></button>
		{{ form_end(form) }} 
	</div>
</div>
{#######################################################################################################}


{% endblock %}
