{% extends 'Manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
	<div class="col-lg-12">
		<h1>L'équipe</h1>
		<hr>
	</div>
</div>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Team #####################################################}

 <table class="table">
	<thead>
		<tr>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Email</th>
			<th>Fonction</th>
			<th>Photo</th>
			<th>Description</th>
			<th>Téléphone</th>
			<th>Email réservation</th>
			<th>Email contact</th>
		</tr>
	</thead>
	<tbody>
		{% for whm in WsHasMembers %}
			<tr>
				<td>{{whm.teamMember.firstname}}</td>
				<td>{{whm.teamMember.name}}</td>
				<td>{{whm.teamMember.email}}</td>
				<td>{{whm.teamMember.job}}</td>
				{% if whm.teamMember.urlProfilePicture != '' %}
					<td><img src="{{ asset('images/Workspaces/') }}{{workspace.name}}/{{whm.teamMember.urlProfilePicture}}" alt="{{whm.teamMember.urlProfilePicture}}" width="50px" height="50px"></td>
				{% else %}
					<td></td>
				{% endif %}
				<td>{{whm.teamMember.description}}</td>
				<td>{{whm.teamMember.phone}}</td>
				<td>{% if whm.receiveEmailBooking == true %}Oui{% else %}Non{% endif %}</td>
				<td>{% if whm.receiveEmailContact == true %}Oui{% else %}Non{% endif %}</td>
				<td><a data-toggle="modal" href="#myModal-{{whm.id}}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
			</tr>
			
			{# Modale #}
			<div class="modal fade" id="myModal-{{whm.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog" style="width: 30%;">
			        <div class="modal-content">
			            <div class="modal-header btn-danger">
			                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
			                <h4 class="modal-title">Supprimer</h4>
			            </div>
			            <div class="modal-body">
			                <p>Etes vous sûr de vouloir supprimer ? </p>
			            </div>
			            <div class="modal-footer">
			                <a href="{{ path('becowo_manager_profile_team_delete', { 'id': whm.id, wsId: workspace.id }) }}" class="btn btn-danger"><i class="icon icon-check icon-lg"></i> Supprimer</a>
			                <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Annuler</button>
			            </div>
			        </div>
			    </div>
			</div>

		{% endfor %}
	</tbody>
</table> 


{#########################################################################################################}
<div class="row">
    <div class="col-lg-5">
    	<div class="read-member">
    		<button type="button" class="btn btn-primary" onclick="goWrite('member')">Ajouter un membre à l'équipe</button>
    	</div>
    	<div class="write-member">
			{{ form_rest(form) }}
			{{ form_end(form) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('member')"></button> 
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>

	goRead("member");
	</script>
{% endblock %}
