<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Becowo - Manager</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="{{ asset('css/manager/sb-admin.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    {# https://datatables.net/  Sort & filter HTML tables #}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link href="{{ asset('css/manager/profile.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock css %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('becowo_core_workspace', {'region': app.user.workspace.region.name, 'ville' : app.user.workspace.city, 'name': app.user.workspace}) }}" target="_blank">Voir ma page {{app.user.workspace}} sur Becowo</a>
            </div>
            <!-- Top Menu Items
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Mon Profil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Me déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                <h3><i class="fa fa-user" aria-hidden="true"></i> Profile</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_identite' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_identite') }}"> Identite</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_pictures' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_pictures') }}"> Les photos</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_calendar' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_calendar') }}"> Le calendrier</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_amenities' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_amenities') }}"> Les services</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_offices' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_offices') }}"> Les bureaux</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_prices' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_prices') }}"> Les prix</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_events' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_events') }}"> Les évènements</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_team' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_team') }}"> L'équipe</a>
                    </li>
                <h3><i class="fa fa-fw fa-calendar"></i> Réservations</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_booking' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_booking') }}"> Les réservations</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_booking_add' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_booking_add') }}"> Ajouter une réservation</a>
                    </li>
                <h3><i class="fa fa-users" aria-hidden="true"></i> Communauté</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_community' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_community', {'networkId': 1}) }}"> Les réseaux</a>
                    </li>
                <h3><i class="fa fa-comments" aria-hidden="true"></i> Les avis</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_vote' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_vote') }}"> Les votes</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_comment' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_comment') }}"> Les commentaires</a>
                    </li>
                <h3><i class="fa fa-fw fa-paperclip"></i> Documents</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_contracts' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_contracts') }}"> Contrats</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_bills' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_bills') }}"> Factures</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    <div id="page-wrapper">
        <div class="container-fluid">

        {% include "CommonViews/flashMessage.html.twig" %}

        {% block page %}
        {% endblock page %}
    </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {# https://datatables.net/  Sort & filter HTML tables #}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {# Pour gérer affichage des form en lecture/edition #}
    <script src="{{ asset('js/manager/readWrite.js') }}"></script>
    {# Autocomplete search field used with Algolia #}
    <script type="text/javascript" src="{{ asset('js/jquery.textcomplete.min.js') }}"></script>
    <!-- Algolia Search API Client - latest version -->
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    {# Algolia JS for full search control widgets : https://www.algolia.com/doc/guides/search/instant-search/ #}
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    {% block javascripts %}
    {% endblock %}
</body>

</html>
