<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex,nofollow" />

    <title>Becowo - Manager</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    {# https://datatables.net/  Sort & filter HTML tables #}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    

{# Change CSS file for IE compatibility  #}
{% if 'MSIE' in app.request.server.get("HTTP_USER_AGENT") or 'Trident/' in app.request.server.get("HTTP_USER_AGENT") or 'Edge/' in app.request.server.get("HTTP_USER_AGENT") or ('Safari' in app.request.server.get("HTTP_USER_AGENT") and 'Chrome' not in app.request.server.get("HTTP_USER_AGENT")) %}
    <link href="{{ asset('css/manager/profileForIE.css') }}" rel="stylesheet">
    <link href="{{ asset('css/manager/sb-adminForIE.css') }}" rel="stylesheet">
{% else %}
    <link href="{{ asset('css/manager/profile.css') }}" rel="stylesheet">
    <link href="{{ asset('css/manager/sb-admin.css') }}" rel="stylesheet">
{% endif %}

    {% block css %}
    {% endblock css %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="{{ path('becowo_core_workspace', {'region': workspace.region.name, 'ville' : workspace.city, 'name': workspace.name}) }}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> Voir ma page {{workspace.name}} sur Becowo</a>
            </div>
            {# Top Menu Items #}
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choisir un espace <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for ws in app.user.workspaces %}
                            <li><a href="{{ path('becowo_manager_profile_identite', {id: ws.id}) }}">{{ws.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                <h3><i class="fa fa-user" aria-hidden="true"></i> Profile</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_identite' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_identite', {id: workspace.id}) }}"> Identite</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_pictures' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_pictures', {id: workspace.id}) }}"> Les photos</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_calendar' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_calendar', {id: workspace.id}) }}"> Le calendrier</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_amenities' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_amenities', {id: workspace.id}) }}"> Les services</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_offices' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_offices', {id: workspace.id}) }}"> Les bureaux</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_prices' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_prices', {id: workspace.id}) }}"> Les prix</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_events' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_events', {id: workspace.id}) }}"> Les évènements</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_profile_team' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_profile_team', {id: workspace.id}) }}"> L'équipe</a>
                    </li>
                <h3><i class="fa fa-fw fa-calendar"></i> Réservations</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_booking' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_booking', {id: workspace.id}) }}"> Les réservations</a>
                    </li>
                <h3><i class="fa fa-users" aria-hidden="true"></i> Communauté</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_community' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_community', {networkId: 1, id: workspace.id}) }}"> Les réseaux</a>
                    </li>
                <h3><i class="fa fa-comments" aria-hidden="true"></i> Les avis</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_vote' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_vote', {id: workspace.id}) }}"> Les votes</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_comment' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_comment', {id: workspace.id}) }}"> Les commentaires</a>
                    </li>
                <h3><i class="fa fa-fw fa-paperclip"></i> Documents</h3>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_contracts' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_contracts', {id: workspace.id}) }}"> Contrats</a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'becowo_manager_bills' %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ path('becowo_manager_bills', {id: workspace.id}) }}"> Factures</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    <div id="page-wrapper">
        <div class="container-fluid">

        {% include "CommonViews/flashMessage.html.twig" %}

        {% block page %}
        {% endblock page %}
    </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {# https://datatables.net/  Sort & filter HTML tables #}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {# Pour gérer affichage des form en lecture/edition #}
    <script src="{{ asset('js/manager/readWrite.js') }}"></script>
    {# Autocomplete search field used with Algolia #}
    <script type="text/javascript" src="{{ asset('js/jquery.textcomplete.min.js') }}"></script>
    <!-- Algolia Search API Client - latest version -->
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    {# Algolia JS for full search control widgets : https://www.algolia.com/doc/guides/search/instant-search/ #}
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    {% block javascripts %}
    {% endblock %}
</body>

</html>
