{% extends 'manager/manager-layout.html.twig' %}

{% block css %}
	<link href="{{ asset('css/manager/profile.css') }}" rel="stylesheet">
{% endblock css %}

{% block page %}
<div class="container-fluid">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de {{app.user.workspace.name}}
        </h1>
    </div>
</div><!-- /.row -->

{% include "CommonViews/flashMessage.html.twig" %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

{####################################################### Header & Logo #####################################################}
<div class="row text-center">
	<div class="col-lg-3">
		<img src="{{ asset('images/Workspaces/') }}{{app.user.workspace.name}}/{{pictureLogo[0].url}}" alt="{{pictureLogo[0].alt}}">
	</div>
	<div class="col-lg-6">
		<div class="read-name">
			<h1>
				{{app.user.workspace.name}}
				<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('name')"></button>
			</h1>
		</div>
		<div class="write-name">
		    {{ form_errors(form.name) }}
		    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			<button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('name')"></button>    
		</div>
	</div>
</div>
<br>
{####################################################### Descriptions / Bonus #####################################################}
<div class="row">
    <div class="col-lg-10">
    	<h4>A propos de cet espace</h4>
    	<div class="read-description">
    		{{app.user.workspace.description}}
    		<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('description')"></button>
    	</div>
    	<div class="write-description">
		    {{ form_errors(form.description) }}
		    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		    <button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('description')"></button>   
		</div>
	</div>
	<div class="col-lg-10">
    	<div class="read-descriptionBonus"><div class="well well-sm">
    		{{app.user.workspace.descriptionBonus}}
    		<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('descriptionBonus')"></button>
    	</div></div>
    	<div class="write-descriptionBonus">
		    {{ form_errors(form.descriptionBonus) }}
		    {{ form_widget(form.descriptionBonus, {'attr': {'class': 'form-control'}}) }}
		    <button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('descriptionBonus')"></button>  
		</div>
	</div>
{############################################# Services #########################################}
<div class="row">
	<div class="col-lg-9">
		<div class="read-amenities">
		<h4>Les services
		<button type="button" class="btn btn-primary btn-xs fa fa-pencil" onclick="goWrite('amenities')"></button></h4>
			<ul>
				{% for amenity in app.user.workspace.amenities %}
					<li>{{amenity.name}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="write-amenities">
			<h4>Les services
		    <button type="submit" class="btn btn-success btn-xs fa fa-check"></button>
			<button type="button" class="btn btn-danger btn-xs fa fa-times" onclick="goRead('amenities')"></button> </h4>
		    {{ form_errors(form.amenities) }}
		    {{ form_widget(form.amenities, {'attr': {'class': 'form-control'}}) }} 
		    <br><br>
		</div>
	</div>
</div>

{#########################################################################}
	{{ form_end(form) }}
</div>

	
</div>
{% endblock page%}

{% block javascripts %}
	<script>

	goRead("name");
	goRead("description");
	goRead("descriptionBonus");
	goRead("amenities");

	function goWrite($element)
	{
		var x = document.getElementsByClassName("read-"+$element);
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		}
		var x = document.getElementsByClassName("write-"+$element);
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "block";
		}
	}

	function goRead($element)
	{
		var x = document.getElementsByClassName("read-"+$element);
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "block";
		}
		var x = document.getElementsByClassName("write-"+$element);
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		}
	}

	</script>
{% endblock %}
