{% extends 'manager/manager-layout.html.twig' %}

{% block page %}
<div class="container-fluid">

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de {{app.user.workspace.name}}
        </h1>
    </div>
</div><!-- /.row -->

{% include "CommonViews/flashMessage.html.twig" %}

<div class="row">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="col-lg-12">
    	{{ form_errors(form) }}
	</div>
    <div class="col-lg-10">
    	<h4>A propos de cet espace</h4> 
    	<div class="read">
    		{{app.user.workspace.description}}
    	</div>
    	<div class="write">
		    {{ form_errors(form.description) }}
		    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="col-lg-1">
		<div class="read">
			<button type="button" class="btn btn-primary" onclick="goWrite()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
		</div>
		<div class="write">
			<button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
			<button type="submit" class="btn btn-danger" onclick="goRead()"><i class="fa fa-times" aria-hidden="true"></i></button>    
		</div>
	</div>
	<div class="col-lg-10">
    	<div class="read"><div class="well well-sm">
    		{{app.user.workspace.descriptionBonus}}
    	</div></div>
    	<div class="write">
		    {{ form_errors(form.descriptionBonus) }}
		    {{ form_widget(form.descriptionBonus, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
	<div class="col-lg-1">
		<div class="read">
			<button type="button" class="btn btn-primary" onclick="goWrite()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
		</div>
		<div class="write">
			<button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
			<button type="submit" class="btn btn-danger" onclick="goRead()"><i class="fa fa-times" aria-hidden="true"></i></button>    
		</div>
	</div>


	{{ form_end(form) }}
</div>
	
</div>
{% endblock page%}

{% block javascripts %}
	<script>

	goRead();

	function goWrite()
	{
		var x = document.getElementsByClassName("read");
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		}
		var x = document.getElementsByClassName("write");
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "block";
		}
	}

	function goRead()
	{
		var x = document.getElementsByClassName("read");
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "block";
		}
		var x = document.getElementsByClassName("write");
		var i;
		for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		}
	}

	</script>
{% endblock %}
