<link href="{{ app.request.basepath }}/css/carroussel.css" rel="stylesheet" type="text/css">

<div data-twttr-rendered="true" data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="container-fluid">
      <div class="well" >
        <div class="row">
          <div class="col-lg-9">
            <div class="pull-left single-container">
              <img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/01.jpg" id="DataDisplay"/>
            </div>

          </div>
          <div class="col-lg-3">

            <div id="myCarousel" class="carousel vertical slide pull-left" >
              <div class="row">
                <div class="col-lg-12">
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ app.request.basepath }}/images/carroussel-up.png"></a>
                </div>
              </div>
              

              <!-- Carousel items -->
              <div class="custom-carousel-inner carousel-inner">
                <div class="item active">
                  <div class="row-fluid">
                    <table>
                      <tr>
                        <td><div class="span3"><a href="#x" class="small-thumbnail"><img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/01.jpg" alt="Image" data-display="{{ app.request.basepath }}/images/Workspaces/Mutualab/01.jpg" style="max-width:100%; width:200px;"></a></div></td>
                      </tr>
                      <tr>
                        <td><div class="span3"><a href="#x" class="small-thumbnail"><img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/02.jpg" alt="Image" data-display="{{ app.request.basepath }}/images/Workspaces/Mutualab/02.jpg" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                      <tr>
                        <td><div class="span3"><a href="#x" class="small-thumbnail"><img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/03.jpg" alt="Image" data-display="{{ app.request.basepath }}/images/Workspaces/Mutualab/03.jpg" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                    </table>
                  </div><!--/row-fluid-->
                </div><!--/item-->
                <div class="item">
                  <div class="row-fluid">
                    <table>
                      <tr>
                        <td><div class="span3"><a href="#x" class="small-thumbnail"><img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/04.jpg" alt="Image" data-display="{{ app.request.basepath }}/images/Workspaces/Mutualab/04.jpg" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                      <tr>
                        <td><div class="span3"><a href="#x" class="small-thumbnail"><img src="{{ app.request.basepath }}/images/Workspaces/Mutualab/05.jpg" alt="Image" data-display="{{ app.request.basepath }}/images/Workspaces/Mutualab/05.jpg" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                      {# <tr>
                        <td><div class="span3"><a href="#x" style = " width:50px; " class="small-thumbnail"><img src="image/6.gif" alt="Image" data-display="image/6.gif" style="max-width:100%; width:50px;"></a></div></td>
                      </tr> #}
                    </table>
                  </div><!--/row-fluid-->
                </div><!--/item-->

                {# <div class="item">
                  <div class="row-fluid">
                    <table>
                      <tr>
                        <td><div class="span3"><a href="#x" style = " width:50px; " class="small-thumbnail"><img src="image/7.gif" alt="Image" data-display="image/7.gif" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                      <tr>
                        <td><div class="span3"><a href="#x" style = " width:50px; " class="small-thumbnail"><img src="image/8.gif" alt="Image" data-display="image/8.gif" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                      <tr>
                        <td><div class="span3"><a href="#x" style = " width:50px; " class="small-thumbnail"><img src="image/9.gif" alt="Image" data-display="image/9.gif" style="max-width:100%; width:50px;"></a></div></td>
                      </tr>
                    </table>
                  </div><!--/row-fluid-->
                </div><!--/item-->#}
              </div><!--/carousel-inner-->  

              <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ app.request.basepath }}/images/carroussel-down.png"></a>    
            </div><!--/myCarousel-->
            
          </div><!--/col3-->
        </div>
      </div><!--/well-->
    </div>
  </div>
