<div id="accordion1" class="panel-group">

  {% for event in listEvents %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">{{event.title}} - {{event.startDate|date("d/m/Y")}}</a>
        </h4>
      </div>
      <div class="panel-collapse in" id="collapseOne">
        <div class="panel-body">
          De {{event.startDate|date("H:i")}} à {{event.endDate|date("H:i")}}
          <p>{{event.description}}</p></div>
      </div>
    </div>
  {% endfor %}
</div>