<div id="accordion1" class="panel-group">

  {% for event in listEvents %}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">{{event.title}} - {{event.startDate|date("d/m/Y")}}</a>
        </h4>
      </div>
      <div class="panel-collapse in" id="collapseOne">
        <div class="panel-body">
          De {{event.startDate|date("H:i")}} à {{event.endDate|date("H:i")}}
          <p>{{event.description}}</p>
        </div>
        <div title="Add to Calendar" class="addthisevent">
          Ajouter à mon calendrier
          <span class="start">{{event.startDate|date("d/m/Y H:i:s")}}</span>
          <span class="end">{{event.endDate|date("d/m/Y H:i:s")}}</span>
          <span class="timezone">Europe/Paris</span>
          <span class="title">{{event.title}}</span>
          <span class="description">{{event.description}}</span>
          <span class="location">{{ws.name}} {{ws.street}} {{ws.postcode}} {{ws.city}}</span>
          <span class="organizer">Organizer</span>
          <span class="organizer_email">Organizer e-mail</span>
          <span class="all_day_event">false</span>
          <span class="date_format">DD/MM/YYYY</span>
        </div>
        
      </div>
    </div>
  {% endfor %}
</div>