{% extends "BecowoCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ws.name}}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-3">
				Ici logo de l'espace
			</div>
			<div class="col-lg-6">
				<h1>{{ws.name}}</h1>
			</div>
			<div class="col-lg-3">
				<div class="well">
					<label for="vote1" class="control-label">Connectivité</label>
					<input id="vote1" name="vote1" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-show-caption="false" data-size="xs">
				</div>
			</div>
		</div>
{############################################# Caroussel #########################################}
		<div class="row">
			<div class="col-lg-12">
				{% include 'BecowoCoreBundle:Workspace:carroussel.html.twig' %}
			</div>
		</div>
{############################################# Description #########################################}
		<div class="row">
			<div class="col-lg-10">
				<h4>A propos de cet espace</h4>
				<p>{{ws.description}}</p>
				<div class="well well-sm">
					{{ws.descriptionBonus}}
				</div>
			</div>
{############################################# Horaires #########################################}
			<div class="col-lg-2">
				<div class="well">
					<h5>Logo clock</h5>
					TO DO<br>
					TO DO<br>
					TO DO<br>
					<br>
					<a href="{{ws.website}}" target="_blank">{{ws.website}}</a><br>
					<br>
					<button type="button" class="btn btn-primary">Contacter le Manager</button>
				</div>
			</div>
		</div>
		<hr>
{############################################# Services #########################################}
		<div class="row">
			<div class="col-lg-9">
				<h4>Les services</h4>
				<ul>
					{% for amenity in ws.amenities %}
						<li>{{amenity.name}}</li>
					{% endfor %}
				</ul>
			</div>
{############################################# Panel Map #########################################}
			<div class="col-lg-3">
				{# La taille de la carte joue sur les options affichées : itinéraire... #}
				<div class="well">
					<div class="embed-responsive embed-responsive-16by9">
						<span id="address_ws"> {{ws.name}} {{ws.street}} {{ws.postcode}} {{ws.city}}</span>
				    	<iframe id="map_ws" class="embed-responsive-item" allowfullscreen></iframe>
					</div><br>
					{{ws.street|capitalize}} <br>
			  		{{ws.postcode}} {{ws.city}} <br>
				</div>
			</div>
		</div>
		<hr>
{############################################# Offices #########################################}
		<div class="row">
			<div class="col-lg-9">
				<h4>Les Bureaux</h4>
				<ul>
					{% for office in ws.office %}
						<li>{{office.name}}</li>
					{% endfor %}
				</ul>
			</div>
{############################################# Panel Event #########################################}
			<div class="col-lg-3">
				<div class="well">
					<h4>Evenements</h4>
					<p>Ne manquez pas les évènements chez {{ws.name}}</p>
					{% include 'BecowoCoreBundle:Workspace:events.html.twig' %}
				</div>
			</div>
		</div>
		<hr>
{############################################# Team #########################################}
		<div class="row">
			<div class="col-lg-2">
				<div class="well">
					<center>
					<h4>L'équipe à votre service</h4>
					{% include 'BecowoCoreBundle:Workspace:teamMembers.html.twig' %}
					</center>
				</div>
			</div>
		</div>

	</div>

{% endblock %}