{% extends "layout.html.twig" %}

{% block title %}
  Profil - {{member.firstname}} {{member.name}}
{% endblock %}

{% block body %}



<div class="container-fluid" id="PublicProfile">
	<div class="row name">
		{% if member.firstname == '' and member.name == ''%}
			<a href="{{ path('becowo_core_community') }}">La communauté</a> / Anonyme
		{% else %}
			<a href="{{ path('becowo_core_community') }}">La communauté</a> / {{member.firstname}} {{member.name}}
		{% endif %}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == member.id %}
			<span class="edit"><i class="fa fa-pencil" aria-hidden="true"></i> <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></span>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="picture">
				{% if member.urlProfilePicture is defined %}
					<div style="background-image:url('{{ asset('images/ProfilePictures/')}}{{member.urlProfilePicture}}'); 
				    width:200px; 
				    height:200px; 
				    background-position:center;
				    background-size: cover;
				    margin: 0 auto;">&nbsp;</div>
			    {% else %}
					<div style="background-image:url('{{ asset('images/ProfilePictures/avatar.png')}}'); 
				    width:200px; 
				    height:200px; 
				    background-position:center;
				    background-size: cover;
				    margin: 0 auto;">&nbsp;</div>
				{% endif %}
			</div>
			<div class="tweet">
				<i class="fa fa-quote-left" aria-hidden="true"></i> 
				{{member.personnalTweet}} 
				<i class="fa fa-quote-right" aria-hidden="true"></i>	
			</div>
			<div class="identity">
				<i class="fa fa-building-o" aria-hidden="true"></i> {{member.society}} <br>
				<i class="fa fa-briefcase" aria-hidden="true"></i> {{member.job}} <br>
				<i class="fa fa-home" aria-hidden="true"></i> {{member.city}} <br>
				<i class="fa fa-external-link" aria-hidden="true"></i> <a href="{{member.website}}" target="_blank">{{member.website}}</a>	<br>
				{% if member.emailIsPublic %}
					<i class="fa fa-envelope" aria-hidden="true"></i> {{member.email}}
				{% else %}
					<br> <span class="noEmail"> {{member.firstname}} ne souhaite pas publier son email. Vous pouvez cependant lui laisser un message que nous lui transmettrons.</span>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<a data-toggle="modal" href="#myModalContactMember" class="log">Contacter {{member.firstname}}</a>
					{% else %}
						<a data-toggle="modal" href="#myModalLogin" data-dismiss="modal">Pour contacter {{member.firstname}}, vous devez être connecté</a>
					{% endif %}
					<!-- Modale -->
					<div class="modal fade" id="myModalContactMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					     <div class="modal-dialog"> 
					        <div class="modal-content">
					        	<div class="modal-header">
					                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
					                <h4 class="modal-title">Contacter {{member.firstname}}</h4>
					            </div>
					            <div class="modal-body">
					                {{ form_start(form) }}
					                Votre nom : {{ form_row(form.name) }} <br>
					                Votre email : {{ form_row(form.email) }} <br>
					                Objet : <br> {{ form_row(form.subject) }} <br>
					                Message : {{ form_row(form.message) }} <br>
					                {{ form_rest(form) }}
					                <div class="row text-center"><button type="submit"> Envoyer</button></div>
					                
          							{{ form_end(form) }}
					            </div>
					        </div>
					    </div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-lg-6 col-md-6 middle" >
			<div class="bio">
				<h2>Bio</h2>
				<p>{{member.description|nl2br}}</p>
			</div>
			<div class="skills">
				<h2>Compétences</h2>
				{% set skills = member.skills|split(',')%}
				{% for skill in skills %}
				    <span class="label skill">{{skill}}</span>
				{% endfor %}
			</div>
			<div>
				<h2>Centres d'intérêts</h2>
				{% set hobbies = member.hobbies|split(',') %}
				{% for hobbie in hobbies %}
				    <span class="label hobbie">{{hobbie}}</span>
				{% endfor %}
			</div>
			<div>
				<h2>Avec Becowo j'aimerais : </h2>
				{% set wishes = member.wishes|split(',') %}
				{% for wishe in wishes %}
				    <span class="label wishe">{{wishe}}</span>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-3 col-md-3">
			<div class="rs">
				{% if member.facebookLink == '' and member.linkedinLink == '' and member.twitterLink == '' and member.instagramLink == '' %} 
				{% else %}
					<h2>Suivez-moi !</h2>
				{% endif %}
				{% if member.facebookLink != '' %} 
					<a href="{{member.facebookLink}}" target="_blank">
						<img src="{{ asset('images/RS/facebook.png') }}" alt="Facebook">
					</a>
				{% endif %}

				{% if member.linkedinLink != '' %} 
					<a href="{{member.linkedinLink}}" target="_blank">
						<img src="{{ asset('images/RS/linkedin.png') }}" alt="LinkedIn">
					</a>
				{% endif %}

				{% if member.twitterLink != '' %} 
					<a href="{{member.twitterLink}}" target="_blank">
						<img src="{{ asset('images/RS/twitter.png') }}" alt="Twitter">
					</a>
				{% endif %}

				{% if member.instagramLink != '' %} 
					<a href="{{member.instagramLink}}" target="_blank">
						<img src="{{ asset('images/RS/instagram.png') }}" alt="Instagram">
					</a>
				{% endif %}
			</div>
			<div class="coworking">
				{% if wsBooked|length > 0 %}
				<h2>Mes coworking</h2>
					{% for ws in wsBooked %}
						<a href="{{ path('becowo_core_workspace', { 'region':ws.region, 'ville' : ws.city, 'name': ws.name }) }}">{{ws.name}}</a> <br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="network">
				{% if listCommunityNetwork|length > 0 %}
				<h2>Mes Réseaux</h2>
					{% for network in listCommunityNetwork %}
						{{network.communityNetwork.name}} <br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="taux">
				<h2>Taux de remplissage</h2>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{member.fillRate}}" aria-valuemin="0" aria-valuemax="100" style="width: {{member.fillRate}}%;">
				        {{member.fillRate}} %
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
