{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Connexion{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
	
	</body>
	</html>

<div class="container-fluid form-box">
	<div class="row text-center">
		<div class="col-lg-12">
			<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('linkedin')}}" id="li">
				<i class="fa fa-linkedin"></i> Connexion avec LinkedIn
			</a><br>
			<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('facebook')}}" id="fb">
				<i class="fa fa-facebook"></i> Connexion avec Facebook
			</a><br>
			<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('twitter')}}" id="tw">
				<i class="fa fa-twitter"></i> Connexion avec Twitter
			</a><br>
			<div class="separatorH"><span class="txt">Ou</span><hr></div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			{% if error %}
			<span class="help-block">
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-exclamation-sign"></span> 
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</li>
			</ul>
			</span>
			{% endif %}
		</div>
		<form action="{{ path("fos_user_security_check") }}" method="post" id="formLogin">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <div class="form-group">
	        <input type="text" id="username" name="_username"  placeholder="Email ou Nom d'utilisateur" value="{{ last_username }}" />
	    
	        <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" />
	    </div>

	    <div class="row text-center" id="remember">
	    	<div class="col-lg-6 col-md-6" style="padding-right:0;">
	       		<label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	       		{{ 'security.login.remember_me'|trans }}</label>
	    	</div>
	    	<div class="col-lg-6 col-md-6" style="padding-left:0;">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            	{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            	<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            {% else %}
            	<a data-toggle="modal" data-target="#myModalMDP" data-dismiss="modal">Mot de passe oublié ?</a>
            	{# <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a> #}
        	{% endif %}
	    	</div>
		</div>

	    <button type="submit" class="btn" id="_submit" name="_submit"> {{ 'security.login.submit'|trans }}</button>
		</form>
	</div>
	<hr>
	<div class="row" style="line-height: 50px;">
		<div class="col-lg-8" style="padding:0;">Vous n'avez pas de compte ?</div>
		<div class="col-lg-4" id="lienRegister" style="padding-left: 0;">
			<button type="button" data-toggle="modal" data-target="#myModalRegister" data-dismiss="modal">Inscription</button>
		</div>
	</div>
</div>


{% endblock fos_user_content %}
