{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{# On save en session soit l'URL d'ou vient le user soit la homepage pour le redériger correctement après login #}
{% if app.request.headers.get('referer') == '' %}
	{{ app.session.set('previousURL', path('becowo_core_homepage')) }}
{% else %}
	{{ app.session.set('previousURL', app.request.headers.get('referer')) }}
{% endif %}

<div class="container-fluid form-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row text-center" id="form-login">
				<div class="col-lg-5">
					<h3>Se connecter à Becowo</h3>
					<br>
					{% if error %}
		    		<span class="help-block">
		    		<ul class="list-unstyled">
		    			<li><span class="glyphicon glyphicon-exclamation-sign"></span> 
		    				{{ error.messageKey|trans(error.messageData, 'security') }}
		    			</li>
		    		</ul>
	    			</span>
					{% endif %}
					<form action="{{ path("fos_user_security_check") }}" method="post">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				    <div class="form-group">
				        <input type="text" id="username" name="_username"  placeholder="{{ 'security.login.username'|trans }}..." value="{{ last_username }}" required="required" />
				    
				        <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}..." required="required" />
				    </div>

				    <button type="submit" class="btn" id="_submit" name="_submit"> {{ 'security.login.submit'|trans }}</button>

				    <div class="row text-center" id="remember">
				    	<div class="col-lg-5">
				       		<label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				       		{{ 'security.login.remember_me'|trans }}</label>
				    	</div>
				    	<div class="col-lg-7">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			            	{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
			            	<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
			            {% else %}
			            	<a href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe</a>
			        	{% endif %}
				    	</div>
					</div>
					</form>
				</div>
				<div class="col-lg-2">
					<center>
					<img src="{{ asset('images/icons/Logo_becowo.png') }}" id="logo">
					<br>
					<img src="{{ asset('images/icons/or.png') }}" id="or">
					</center>
				</div>
				<div class="col-lg-5" id="rs-login">
					<center>
					<h3>Utilisez votre réseau social préféré !</h3>
					<br>
			    	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('linkedin')}}" id="li"><i class="fa fa-linkedin"></i> LinkedIn</a><br>
			    	<a class="btn btn-link-2" href="{{ hwi_oauth_login_url('facebook')}}" id="fb"><i class="fa fa-facebook"></i> Facebook</a><br><a class="btn btn-link-2" href="{{ hwi_oauth_login_url('twitter')}}" id="tw"><i class="fa fa-twitter"></i> Twitter</a>
			    	<br><br>
			    	<div id="lienRegister">Vous n'avez pas de compte, <a href="{{ path('fos_user_registration_register') }}">inscrivez-vous</a> !</div>
			    	</center>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock fos_user_content %}
