{# {% extends '::layout.html.twig' %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/FosUserBundle/form-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
{% endblock %}

{% block body %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">X</span>
            </button>
              {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
</div>
{% endblock %}
