{% extends "layout.html.twig" %}

{% block title %}
  Reset mot de passe
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row text-center">
		<div class="col-lg-4 col-lg-offset-4">
			<br><br>
			<h2>Saisir un nouveau mot de passe</h2>
			<br>
			{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

			{# {{ form_widget(form) }} #}
			{{ form_widget(form.plainPassword.first, {'required': false, 'attr': {'placeholder': 'Nouveau mot de passe'}} )}}
			{{ form_errors(form.plainPassword.first)}}
			<br>
			{{ form_widget(form.plainPassword.second, {'required': false, 'attr': {'placeholder': 'Confirmer le mot de passe'}} )}}
			{{ form_errors(form.plainPassword.second)}}
			<br>
			<input type="submit" class="btn" value="Modifier le mot de passe" />
			{{ form_rest(form) }}
			{{ form_end(form) }}
			<br><br>
		</div>
	</div>
</div>
    
{% endblock body %}
