{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Communauté
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}


<div class="container-fluid" id="community">
	<h1>Rencontrer les autres coworkers de la communauté Becowo</h1>
	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<img src="{{ asset('images/icons/community.png')}}" alt="community">
			<p class="texte1">Vous trouverez ici les membres de la communauté Becowo, n'hésiter pas à aller jeter un œil à leur profil en cliquant sur leur photo</p>
			{# <p class="texte2">Découvrez nos profils de freelances, entrepreneurs, indépendants, journalistes etc</p> #}
		</div>
		<div class="col-lg-9 col-xs-12">
			{% for member in members %}
				{% if loop.index % 4 == 0 or loop.index == 1 %} <div class="row"> {% endif %}
					<div class="col-lg-4 col-md-4 col-xs-11 col-xs-offset-1">
						<div class="member">
							<a href="{{ path('becowo_member_public_profile', {'id' : member.id}) }}">
								{% if member.profilePicture.url is defined %}
									<div style="background-image:url('{{ asset('images/ProfilePictures/')}}{{member.profilePicture.url}}'); 
									    width:200px; 
									    height:200px; 
									    background-position:center;
									    background-size: cover;">&nbsp;</div>
								{% else %}
									<div style="background-image:url('{{ asset('images/ProfilePictures/avatar.png')}}'); 
									    width:200px; 
									    height:200px; 
									    background-position:center;
									    background-size: cover;">&nbsp;</div>
								{% endif %}
								<span class="label label-info hidden-xs">{{member.job}}</span>
								<div class="name hidden-xs">{{member.firstname}} {{member.name}}</div>
								<div class="name visible-xs">{{member.firstname}} {{member.name}} - {{member.job}}</div>
							</a>
						</div>
					</div>
				{% if loop.index % 3 == 0 or loop.last %} </div> {% endif %}
			{% endfor %}
		</div>
	</div>
</div>


{% endblock body %}
