<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<div class="phrase">
		Réservez un espace de travail et <br>intégrez une communauté de coworkers
	</div> 
	<div class="homeButtons hidden-xs">
		<a href="#filtersBar" id="goToFilters">Réserver un <br> espace de travail</a>
		<a href="{{ path('becowo_core_community') }}" class="deux">Rencontrer la <br> communauté</a>
		<a href="http://www.blog.becowo.com" target="_blank">Découvrir <br>le blog</a>
	</div>

	<div class="homeButtons hidden-lg hidden-md">
		<a href="#filtersBar" id="goToFilters">Réserver un <br> espace de travail</a>
		<a href="{{ path('becowo_core_community') }}">Rencontrer la <br> communauté</a>
	</div>

	{# <div class="homeRS">
		<a href="https://www.facebook.com/becowo" target="_blank"><img src="{{ asset('images/RS/facebook.png') }}" alt="Facebook"></a>
		<br>
		<a href="https://www.instagram.com/becowo_and_you/" target="_blank"><img src="{{ asset('images/RS/instagram.png') }}" alt="Instagram"></a>
		<br>
		<a href="https://www.linkedin.com/company/becowo"  target="_blank"><img src="{{ asset('images/RS/linkedin.png') }}" alt="Linkedin"></a>
		<br>
		<a href="https://twitter.com/becowo_and_you" target="_blank"><img src="{{ asset('images/RS/twitter.png') }}" alt="Twitter"></a>
	</div> #}
</div>
