{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}

<img src="{{ asset('images/Home4.jpg') }}" alt="Becowo" width="100%">

<h2>Réservez un espace de travail et intégrez une communauté de coworkers</h2>

{############################################ Map ##############################################}
<nav class="navbar navbar-default" role="navigation" id="BarreRecherche">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex2-collapse">
    	<form id="bh-sl-user-location" method="post" action="#">
	        <ul class="nav navbar-nav">
	        	{# <li>
	        		<button id='findMe' type="button">Géolocalisez moi</button>
	        	</li> #}
		        <li>
			        <input type="text" class="form-control" placeholder="Saisir une adresse ici" id="bh-sl-address" name="bh-sl-address">
			        <button id='findMe' type="button"> <u>Me géolocaliser</u></button></input>
			    </li>
			    <li>      
			    	<select id="bh-sl-maxdistance" name="bh-sl-maxdistance" class="form-control">
						<option value="10">10 Km</option>
						<option value="20">20 Km</option>
						<option value="30">30 Km</option>
						<option value="40">40 Km</option>
					</select>
		        </li>
		        <li class="dropdown bh-sl-filters-container">
		          	<button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Catégories </button>
		          	<ul class="dropdown-menu bh-sl-filters" id="category-filters-container1" >
					    <li><input type="checkbox" name="category" value="Coworking" id="choice1"/><label for="choice1"> Espace de coworking</label></li>
						<li><input type="checkbox" name="category" value="cafe" id="choice2"/><label for="choice2"> Café</label></li>
						<li><input type="checkbox" name="category" value="coffice" id="choice3"/><label for="choice3"> Coffice</label></li>
						<li role="separator" class="divider"></li>
			            <li><input type="checkbox" name="category" value="creche" id="choice4"/><label for="choice4"> Crèche</label></li>
			            <li><input type="checkbox" name="category" value="Salle de musculation" id="choice5"/><label for="choice5"> Salle de musculation</label></li>
				    </ul>
		        </li>
	        	<li class="dropdown bh-sl-filters-container">
		          	<button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Equipements </button>
		          	<ul class="dropdown-menu bh-sl-filters" id="category-filters-container2" class="bh-sl-filters">
						<li><input type="checkbox" name="feature" value="Casier sécurisé" id="choiceA"><label for="choiceA"> Casier sécurisé</label></li>
						<li><input type="checkbox" name="feature" value="Thé Café" id="choiceB"><label for="choiceB"> Thé Café</label></li>
						<li><input type="checkbox" name="feature" value="Imprimante" id="choiceC"><label for="choiceC"> Imprimante</label></li>
						<li><input type="checkbox" name="feature" value="Wifi" id="choiceD"><label for="choiceD"> Wifi</label></li>
						<li><input type="checkbox" name="feature" value="Espace Cuisine" id="choiceE"><label for="choiceE"> Espace Cuisine</label></li>
					</ul>
		        </li>
		       {#  <li>
		        	<span id="PriceSliderMin">20</span> €
		        	<input id="PriceSlider" type="text" class="span2" value="" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="[20,90]"/>
		        	<span id="PriceSliderMax">90</span> €
		        </li> #}
		        <li>
		        	<button type="submit" class="btn btn-default" id="BtnSearch">Rechercher</button>
	        	</li>
	        	
	        		
	        	
	        </ul>
        </form>
    </div>
  </div>
</nav>
{#  #}

<div class="bh-sl-container container-fluid">
    {############# Map #############}
    <div id="bh-sl-map-container" class="bh-sl-map-container">
		<div class="row">
			<div id="map-results-container" class="container-fluid">
				<div id="bh-sl-map" class="bh-sl-map col-lg-6"></div>
				<div class="bh-sl-loc-list col-lg-6">
					<ul class="list list-unstyled"></ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container-fluid -->


<div class="container-fluid">

{############################################ Vidéo ##############################################}
<div class="row" id="vid">
	<div class="col-lg-4 col-lg-offset-1">
	 	<div id="hideVideo" class="collapse in">
			<video id="video" height="200px" controls="controls">
				<source src="{{ asset('video/coworking.mp4') }}" type="video/mp4"> 
			</video>
		</div> 
	</div>
	<div class="col-lg-3">
		<p>Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides. Oportunum est, ut arbitror, explanare nunc causam, quae ad </p>
		<button type="button" class="btn btn-primary">Comment ça marche ?</button>
	</div>
	<div class="col-lg-1" id="separateur"></div>
	<div class="col-lg-3" id="Instagram">
		<h4>Quoi de neuf sur Instagram ?</h4>
		<script src="https://snapwidget.com/js/snapwidget.js"></script>
		<iframe src="https://snapwidget.com/embed/code/207854" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
	</div>
</div>
{############################################ Nouveaux espaces #############################################
<div class="col-lg-8" id="NewEspaces">
	Ne récupérer que les 3 derniers workspaces
	<h2>Les nouveaux espaces</h2>
	<div id="vignette_espace_mini" class="container-fluid">
		<div class="row text-center">
			{% for newWs in workspaces %}
				{% if loop.index < 4 %}
	 				<div class="col-lg-4">
				  		<h3>{{newWs.name}}</h3>
				  		{% for pic in picturesByWs[newWs.name] if pic.isFavorite %}
			  				<img src="{{ asset('images/Workspaces/') }}{{newWs.name}}/{{pic.url}}" alt="{{pic.alt}}" width="200px" height="120px">
	  					{% endfor %}
	  				</div>
				{% endif %}
			{% endfor %}
</div></div></div>#}
{############################################ Coup de coeur #############################################
<div class="col-lg-4" id="coupCoeur">
	<h2>Coup de coeur</h2>
	<div id="vignette_espace_mini" class="container-fluid">
 		<div class="row text-center">
			{% if workspaceFavorite %}
	 			<div class="row text-center">
			  		<h3>{{workspaceFavorite.workspace.name}}</h3>
	  			</div>
			  	<div class="row text-center">
			  		{% for pic in picturesByWs[workspaceFavorite.workspace.name] if pic.isFavorite %}
		  				<img src="{{ asset('images/Workspaces/') }}{{workspaceFavorite.workspace.name}}/{{pic.url}}" alt="{{pic.alt}}" width="200px" height="120px">
			  		{% endfor %}
			  	</div>
			{% endif %}
		</div>
	</div>
</div></div></div>#}

{############################################ Derniers inscrits #############################################
<div class="container-fluid" id="NewMembers">
	<h2>Ils ont rejoint la communauté</h2>
	<div id="members">
		{% for member in members if member.ProfilePicture.url is defined %}
			<span><a href="{{ path('becowo_member_public_profile', {'username' : member.username}) }}">
				{% if member.signedUpWith != '' %}
			        <img src="{{member.ProfilePicture.url}}" alt="{{member.ProfilePicture.alt}}" width="115px" height="115px" class="img-circle" title="{{member.username}}, {{member.job}} @{{member.city}}">
			    {% else %}
			        <img src="{{asset('images/ProfilePictures/')}}{{member.ProfilePicture.url}}" alt="{{member.ProfilePicture.alt}}" width="115px" height="115px" class="img-circle" title="{{member.username}}, {{member.job}} @{{member.city}}">
			    {% endif %}
				

			</a></span>
		{% endfor %}
</div></div>#}


{############################################ Nouveaux avis #############################################
<div class="container"><div class="row"><div class="col-lg-8" id="NewAvis">
	<h2>Les nouveaux avis</h2>
	{% for comment in comments %}
		<div class="row">
			<div class="col-lg-2" id="pic">
			{% if comment.comments.member.ProfilePicture.url is defined %}
				<span><a href="{{ path('becowo_member_public_profile', {'username' : comment.comments.member.username}) }}"><img src="{{asset('images/ProfilePictures/')}}{{comment.comments.member.ProfilePicture.url}}" alt="{{comment.comments.member.ProfilePicture.alt}}" width="70px" height="70px" class="img-circle" title="{{comment.comments.member.username}}, {{comment.comments.member.job}} @{{comment.comments.member.city}}"></a></span>
			{% else %}
				{{comment.comments.member.username}}
			{% endif %}
			</div>
			<div class="col-lg-4">
				<h4><a href="{{ path('becowo_core_workspace', {'name' : comment.comments.workspace.name}) }}">A propos de {{comment.comments.workspace.name}}</a></h4>
				{{comment.scoreAvg|rating}}
			</div>

		</div>
		<div class="row">
			<blockquote class="speech-bubble">
		    	<p>{{comment.comments.post}}</p>
		    </blockquote>
		</div>
	{% endfor %}
</div>#}
{############################################ Barre Instagram ##############################################}
{# <div class="col-lg-4" id="Instagram"> 
<div class="row">
	<div class="col-lg-4 col-lg-offset-2">
		Quoi de neuf sur Instagram ?
	</div>
	<div class="col-lg-3 col-lg-offset-1">
	<!-- SnapWidget -->
	<script src="https://snapwidget.com/js/snapwidget.js"></script>
	<iframe src="https://snapwidget.com/embed/code/207854" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
	</div>
</div>
 </div> #}

{# <iframe width='640' height='360' src='https://roundme.com/embed/84871/213752' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> #}


</div>


{# Social Media Widget #}
{#
<div class="vertical-nav-holder">
	<a href="#" class="vertical-nav-btn"><i class="fa fa-share-alt"></i></a>

	<div class="vertical-nav">
		<ul>
			<li><a href="{{ path('becowo_core_contact') }}"><i class="fa fa-envelope"></i></a></li>
			<li><a href="https://www.linkedin.com/company/becowo"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="https://www.twitter.com/becowo_and_you" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="https://www.facebook.com/Becowo" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://www.instagram.com/Becowo_and_you" target="_blank"><i class="fa fa-instagram"></i></a></li>
		</ul>
	</div><!-- /.vertical-nav -->
</div><!-- /.vertical-nav-holder -->

<div class="vertical-nav-overlay"></div>
#}

{% endblock body %}

{% block javascripts %}

<script>
	// $("#PriceSlider").slider({});
	// $("#PriceSlider").on("slide", function(slideEvt) {
	// 	var val = String(slideEvt.value);
	// 	$("#PriceSliderMin").text(val.substring(0, 2));
	// 	$("#PriceSliderMax").text(val.substring(3));
	// });

	$(function() {
		var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}];

		$('#bh-sl-map-container').storeLocator({
			'mapSettings' : {
		        zoom : 12,
		        mapTypeId: google.maps.MapTypeId.ROADMAP,
		        styles: styles,
		        scrollwheel : false,
		      },
			'maxDistance': false,	// active menu déroulant de recherche par distance max
			'distanceAlert' : 100000,
			'storeLimit' : 100000,
			'exclusiveFiltering' : true,
			'geocodeID' : 'findMe',
			'taxonomyFilters' : {
				'category' : 'category-filters-container1',
				'features' : 'category-filters-container2',
				'city' : 'city-filter',
				// 'postal': 'postal-filter'
			},
			'infowindowTemplatePath'   : "{{ asset('js/StoreLocator/infowindow-description.html') }}",
			'listTemplatePath'         : "{{ asset('js/StoreLocator/location-list-description.html') }}",
    		// 'KMLinfowindowTemplatePath': "{{ asset('js/StoreLocator/kml-infowindow-description.html') }}",
    		// 'KMLlistTemplatePath'      : "{{ asset('js/StoreLocator/kml-location-list-description.html') }}",
    		'lengthUnit'	: 'km',
    		'fullMapStart' : true,	// show map by default
    		'nameSearch': true,
    		'dataType' : 'xml',
    		'dataLocation' : "{{ asset('js/StoreLocator/locations.xml') }}",
    		'catMarkers' : {'coworking' : ["{{ asset('images/icons/marker.png') }}", 32, 32], 'Creche' : ["{{ asset('images/icons/creche.png') }}", 32, 32], 'Salle de musculation' : ["{{ asset('images/icons/gym.png') }}", 32, 32]}, // TO DO : 1 marker par category d'espace
    		// 'markerImg' : "{{ asset('images/icons/marker.png') }}"
		});
	});
</script>


{% endblock javascripts %}
	

