{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}

<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<div>Réservez un espace de travail et intégrez une communauté de coworkers </div>
	<a href="#liste-espaces" id="goToMap"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></a>
	
</div>


<div id="liste-espaces"></div>
{# Navbar de recherche désativée le temps d'avoir plus d'espaces à proposer
<nav class="navbar navbar-default" role="navigation" id="BarreRecherche">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex2-collapse">
    	<form id="bh-sl-user-location" method="post" action="#">

    		
	        <ul class="nav navbar-nav">
		        <li>
			        <input type="text" class="form-control" placeholder="Saisir une adresse ici" id="bh-sl-address" name="bh-sl-address">
			        <button id='findMe' type="button"> <u>Me géolocaliser</u></button></input>
			    </li>
			    <li>      
			    	<select id="bh-sl-maxdistance" name="bh-sl-maxdistance" class="form-control">
						<option value="10">10 Km</option>
						<option value="20">20 Km</option>
						<option value="30">30 Km</option>
						<option value="40">40 Km</option>
					</select>
		        </li>
		        <li class="dropdown bh-sl-filters-container">
		          	<button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Catégories </button>
		          	<ul class="dropdown-menu bh-sl-filters" id="category-filters-container1" >
					    <li><input type="checkbox" name="category" value="Coworking" id="choice1"/><label for="choice1"> Espace de coworking</label></li>
						<li><input type="checkbox" name="category" value="cafe" id="choice2"/><label for="choice2"> Café</label></li>
						<li><input type="checkbox" name="category" value="coffice" id="choice3"/><label for="choice3"> Coffice</label></li>
						<li role="separator" class="divider"></li>
			            <li><input type="checkbox" name="category" value="creche" id="choice4"/><label for="choice4"> Crèche</label></li>
			            <li><input type="checkbox" name="category" value="Salle de musculation" id="choice5"/><label for="choice5"> Salle de musculation</label></li>
				    </ul>
		        </li>
	        	<li class="dropdown bh-sl-filters-container">
		          	<button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Equipements </button>
		          	<ul class="dropdown-menu bh-sl-filters" id="category-filters-container2" class="bh-sl-filters">
						<li><input type="checkbox" name="feature" value="Casier sécurisé" id="choiceA"><label for="choiceA"> Casier sécurisé</label></li>
						<li><input type="checkbox" name="feature" value="Thé Café" id="choiceB"><label for="choiceB"> Thé Café</label></li>
						<li><input type="checkbox" name="feature" value="Imprimante" id="choiceC"><label for="choiceC"> Imprimante</label></li>
						<li><input type="checkbox" name="feature" value="Wifi" id="choiceD"><label for="choiceD"> Wifi</label></li>
						<li><input type="checkbox" name="feature" value="Espace Cuisine" id="choiceE"><label for="choiceE"> Espace Cuisine</label></li>
					</ul>
		        </li>
		        <li>
		        	<button type="submit" class="btn btn-default" id="BtnSearch">Rechercher</button>
	        	</li>
	        </ul>
	        
        </form>
    </div>
  </div>
</nav>
#}
<div class="bh-sl-container container-fluid">
	{###################### Barre de recherche #######################}
	<form id="bh-sl-user-location" method="post" action="#">
		{# 
		Pour qu'un filtre fonctionne :
			1. Le tag parent doit avoir la class "bh-sl-filters-container"
			2. Le tag enfant doit avoir la class  "bh-sl-filters"
			3. Le tag enfant doit avoir un id "toto" 
			4. cet id doit être déclaré dans le taxonomyFilters de $('#bh-sl-map-container').storeLocator
		#}
		<div class="bh-sl-filters-container">
	        <div class="segmented-control bh-sl-filters" id="region-filters-container">
			  <input type="radio" name="region" id="choice1" value="" checked>
			  <input type="radio" name="region" id="choice2" value="Hauts de France">
			  <input type="radio" name="region" id="choice3" value="Ile de France" >
			  <label for="choice1" data-value="Tous">Tous</label>
			  <label for="choice2" data-value="Hauts de France">Hauts de France</label>
			  <label for="choice3" data-value="Ile de France">Ile de France</label>
			</div>
		</div>

	    <button id='findMe' type="button"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></button></input>
	</form>
    {############# Map #############}
    <div id="bh-sl-map-container" class="bh-sl-map-container">
		<div class="row">
			<div id="map-results-container" class="container-fluid">
				<div class="titre">Trouvez votre prochain bureau à l'aide de la carte ou directement depuis la liste</div>
				<div id="bh-sl-map" class="bh-sl-map col-lg-5 col-md-7">
					{# Emplacement de la map #}
				</div>
				<div id="legende"><i class="fa fa-bolt" aria-hidden="true"></i> : Réservation en ligne disponible (sinon vous pouvez réclamer !)</div>
				<div class="bh-sl-loc-list col-lg-7" style="direction: rtl;"> {# on force la scrollbar à gauche #}
					{# Emplacement de la liste d'espace #}
					<ul style="direction: ltr;"></ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container-fluid -->


<div class="container-fluid">

{############################################ Vidéo ##############################################}
<div class="row text-center">
	<br><br>
	{% include 'CommonViews/video.html.twig' %} 
	<br><br>
</div>

{##########################################" Blog et instagram ###################################}
<div class="row" id="actu">
	<div class="col-lg-2 col-md-1 vCenter">
		<center><img src="{{ asset('images/icons/rss.png') }}" alt="RSS blog" class="center-block" width="100%"></center>
	</div>
	<div class="col-lg-5 col-md-5 vCenter">
		<h4>Quoi de neuf sur notre blog ?</h4>
		<br>
		{{ render(controller('BecowoCoreBundle:Blog:viewLastArticle', {nbArticles: 2})) }}
	</div>
	<div class="col-lg-1 vCenter" id="separateur"></div>
	<div class="col-lg-3 vCenter" id="Instagram">
		<h4>Quoi de neuf sur notre Instagram ?</h4>
		<script src="https://snapwidget.com/js/snapwidget.js"></script>
		<iframe src="https://snapwidget.com/embed/code/207854" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
	</div>
</div>


{####################################### declarer espace ############################################}

{% include 'CommonViews/declarerEspace.html.twig' %} 


</div>



{% endblock body %}

{% block javascripts %}

<script>
	// $("#PriceSlider").slider({});
	// $("#PriceSlider").on("slide", function(slideEvt) {
	// 	var val = String(slideEvt.value);
	// 	$("#PriceSliderMin").text(val.substring(0, 2));
	// 	$("#PriceSliderMax").text(val.substring(3));
	// });


	$(function() {
		var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}];

		// dégeulasse mais je n'arrive pas à faire mieux
		var url = "{{site_url}}";
		if(url.indexOf('localhost') !== -1)
		{
			// var infowindowTemplatePath = "{{ asset('js/StoreLocator/infowindow-description-LOCAL.html') }}";
			var listTemplatePath = "{{ asset('js/StoreLocator/location-list-description-LOCAL.html') }}";
		}else if(url.indexOf('demo') !== -1){
			// var infowindowTemplatePath = "{{ asset('js/StoreLocator/infowindow-description-DEMO.html') }}";
			var listTemplatePath = "{{ asset('js/StoreLocator/location-list-description-DEMO.html') }}";
		}else{
			// var infowindowTemplatePath = "{{ asset('js/StoreLocator/infowindow-description-PROD.html') }}";
			var listTemplatePath = "{{ asset('js/StoreLocator/location-list-description-PROD.html') }}";
		}

		$('#bh-sl-map-container').storeLocator({
			'mapSettings' : {
		        zoom : 12,
		        mapTypeId: google.maps.MapTypeId.ROADMAP,
		        styles: styles,
		        scrollwheel : false,
		      },
			// 'maxDistance': false,	// active menu déroulant de recherche par distance max
			'distanceAlert' : 100000,
			'storeLimit' : 100000,
			'exclusiveFiltering' : true,
			'geocodeID' : 'findMe',
			'taxonomyFilters' : {
				'region' : 'region-filters-container',
				'category' : 'category-filters-container1'
				// 'features' : 'category-filters-container2',
				// 'city' : 'city-filter',
				// 'postal': 'postal-filter'
			},
			'visibleMarkersList' : true, //active refresh de la list selon zoom de la carte
			'infowindowTemplatePath'   : '',
			'listTemplatePath'         : listTemplatePath,
    		'lengthUnit'	: 'km',
    		'fullMapStart' : true,	// show map by default
    		'nameSearch': true,
    		'dataType' : 'xml',
    		/*'markerCluster' : {
    			// https://googlemaps.github.io/js-marker-clusterer/docs/reference.html
    			//'maxZoom' : 12,
    			'zoomOnClick' : true,
    			'minimumClusterSize' : 2,
    			'style': {
    				// ne marche pas
    				'textColor' : 'white'
    			}
    		},*/
    		'dataLocation' : "{{ asset('js/StoreLocator/locations.xml') }}",
    		'catMarkers' : {'Coworking' : ["{{ asset('images/icons/marker-red.png') }}", 32, 32], 'Centre d\'affaires' : ["{{ asset('images/icons/marker-blue.png') }}", 32, 32], 'Creche' : ["{{ asset('images/icons/creche.png') }}", 32, 32], 'Salle de musculation' : ["{{ asset('images/icons/gym.png') }}", 32, 32]}, 
    		// 'markerImg' : "{{ asset('images/icons/marker.png') }}"
		});
	});
</script>


{% endblock javascripts %}
	

