<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<div class="phrase">
		Réservez un espace de travail et intégrez une communauté de coworkers
	</div> 
	<div class="categories hidden-xs">
		Coworking &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Salle de réunion &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Café-wifi
	</div>
	{# <div class="homeIcon">
		<img src="{{ asset('images/icons/Home-coworking.png') }}">
		<img src="{{ asset('images/icons/Home-reunion.png') }}" class="deux">
		<img src="{{ asset('images/icons/Home-cafe.png') }}">
	</div> #}
	<div class="homeButtons hidden-xs">
		<a href="#liste-espaces" id="goToMap">Réserver un <br> espace de travail</a>
		<a href="{{ path('becowo_core_community') }}" class="deux">Rencontrer la <br> communauté</a>
		<a href="http://www.blog.becowo.com" target="_blank">Découvrir <br>le blog</a>
	</div>

	<div class="homeButtons hidden-lg hidden-md">
		<a href="#liste-espaces" id="goToMap">Réserver un <br> espace de travail</a>
		<a href="{{ path('becowo_core_community') }}">Rencontrer la <br> communauté</a>
	</div>

	<div class="homeRS">
		<a href="https://www.facebook.com/becowo" target="_blank"><img src="{{ asset('images/RS/facebook.png') }}" alt="Facebook"></a>
		<br>
		<a href="https://www.instagram.com/becowo_and_you/" target="_blank"><img src="{{ asset('images/RS/instagram.png') }}" alt="Instagram"></a>
		<br>
		<a href="https://www.linkedin.com/company/becowo"  target="_blank"><img src="{{ asset('images/RS/linkedin.png') }}" alt="Linkedin"></a>
		<br>
		<a href="https://twitter.com/becowo_and_you" target="_blank"><img src="{{ asset('images/RS/twitter.png') }}" alt="Twitter"></a>
	</div>
</div>
