{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Comment ça marche ?
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row text-center" id="videoPanel">
		<video id="video-big" width="60%" poster="" style="opacity:0.5;">
			<source src="{{ asset('video/coworking.mp4') }}" type="video/mp4"> 
			<p>
		      Votre navigateur ne supporte pas la vidéo HTML5
		      <a href="{{ asset('video/coworking.mp4') }}">Télécharger ici la vidéo</a>.
		    </p>
		</video>
		<div id="video-controls">
			<img src="{{ asset('video/becowo.png') }}" alt="Vidéo Becowo" id="fond">
			<button type="button" id="play"><i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i></button>
			<button type="button" id="pause" style="display:none;"><i class="fa fa-pause-circle-o fa-5x" aria-hidden="true"></i></button>
			<button type="button" id="expand"><i class="fa fa-expand fa-2x" aria-hidden="true"></i></button>
		</div>
	</div>
</div><div class="container-fluid" id="commentEspace">
	<div class="row text-center">

		<h3>Chez Becowo nous nous sommes donnés pour mission de valoriser ce qui rend votre espace de coworking si particulier</h3>
		<br>
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<p class="title">Becowo permet non seulement d’accroitre la <mark>visibilité</mark> de votre espace de coworking, mais également d’intégrer une <mark>communauté</mark></p>
			</div>
		</div>
		<div class="row text-center bande">
			<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1">
				<h4>Flexibilité</h4>
				<i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
				<p>Les offres proposées par Becowo sont sans engagement</p>
			</div>
			<div class="col-lg-3 col-md-3">
				<h4>Gestion</h4>
				<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
				<p>Avec Becowo, facilitez la gestion de vos réservation et de votre communauté</p>
			</div>
			<div class="col-lg-3 col-md-3">
				<h4>Communication</h4>
				<i class="fa fa-users fa-2x" aria-hidden="true"></i>
				<p>La plateforme de Becowo vous permet d’étendre votre visibilité auprès des membres de la communauté</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-6 col-md-6">
				<h3>Des fonctionnalités innovantes </h3>
				<img src="{{ asset('images/icons/bureau-ideal.png') }}" alt="Bureau idéal">
				<br><br>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-3 col-md-9 col-md-offset-2">
						<p class="liste"><i class="fa fa-check" aria-hidden="true"></i> Gestion centralisées de vos réservations <br>
							<i class="fa fa-check" aria-hidden="true"></i> Mise en avant de vos évènements <br>
							<i class="fa fa-check" aria-hidden="true"></i> Intégration de votre communauté de coworkers au réseau Becowo <br>
							<i class="fa fa-check" aria-hidden="true"></i> Communication facilité avec les autres membres du réseau <br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<h3>Un réseau d’espaces de coworking  </h3>
				<img src="{{ asset('images/icons/coworker-ideal.png') }}" alt="Coworker ideal">
				<br><br>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-3 col-md-9 col-md-offset-2">
						<p><i class="fa fa-check" aria-hidden="true"></i> Faciliter les échanges de compétences <br>
						<i class="fa fa-check" aria-hidden="true"></i> Échanger autour de problématiques communes <br>
						<i class="fa fa-check" aria-hidden="true"></i> Profiter de recommandations croisées <br>
						<i class="fa fa-check" aria-hidden="true"></i> Participer à améliorer le modèle du coworking en France <br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		{% include 'CommonViews/declarerEspace.html.twig' %} 
		<br><br>
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<p style="text-align:center;">Becowo étant encore une jeune Startup, nous travaillons activement afin de vous proposer de nouvelles fonctionnalités. <br>
			Et parce que chez Becowo, la logique <mark>contributive</mark> est une valeur importante, nous n'envisageons pas de développer des outils qui vous sont destinés sans vous concerter. <br>
			Aussi, n'hésitez plus : <a href="{{ path('becowo_core_contact') }}">envoyez vos idées, suggestions,</a> nous serons ravis d'en discuter avec vous. 
			</p>
			<p style="text-align:center;">Très bientôt, vous pourrez trouver un espace de coworking dans de nouvelles régions.</p>
			</div>
		</div>
		
	</div>	
	<br>
	<hr>
	<br>
	{% include "CommonViews/bandeauQuestion.html.twig" %}
	<br>
</div>

{% endblock %}

{% block javascripts %}	
<script>
 	$('.nav li').removeClass('noActive');
</script>
{% endblock %}
