{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Comment ça marche ?
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row text-center" id="videoPanel">
		{% include 'CommonViews/video-big.html.twig' %} 
	</div>
</div><div class="container-fluid" id="comment">
		<div class="row text-center">
			<h3>Chez <span style="font-size:30pt;">Becowo</span>, nous pensons que valoriser votre potentiel humain ne doit pas être un <span style="font-size:30pt;">luxe</span></h3>
			<br>
			<img src="{{ asset('images/icons/luxe.png') }}" alt="luxe">
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
				<p>Becowo, c’est non seulement une plateforme qui vous permet de <mark>réserver</mark> un espace de coworking, mais c’est également une communauté.</p>
				<p>Que vous soyez coworker, freelance, télétravailleur ou simple curieux, Becowo vous met en relation avec des personnes qui partagent vos problématiques, et vous permet de <mark>développer votre réseau</mark> professionnel.</p>
			</div>
		</div>
		<div class="row text-center bande">
			<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-xs-12">
				<h4>S'inscrire</h4>
				<i class="fa fa-user fa-2x" aria-hidden="true"></i>
				<p>Créez votre profil gratuitement à l'aide de votre réseau social préféré</p>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-12">
				<h4>Réserver</h4>
				<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
				<p>Grâce à notre système de paiement sécurisé, vous réglez votre réservation en ligne</p>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-12">
				<h4>Echanger</h4>
				<i class="fa fa-users fa-2x" aria-hidden="true"></i>
				<p>Collaborez avec les membres de notre communauté</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
				<h3>Trouvez votre bureau idéal </h3>
				<img src="{{ asset('images/icons/bureau-ideal.png') }}" alt="Bureau idéal">
				<br><br>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-3 col-md-9 col-md-offset-2 col-xs-10 col-xs-offset-1">
						<p class="liste">
							<i class="fa fa-check" aria-hidden="true"></i> Un lieu accueillant <br>
							<i class="fa fa-check" aria-hidden="true"></i> Adaptable à vos besoins <br>
						    <i class="fa fa-check" aria-hidden="true"></i> Une équipe à l’écoute <br>
						    <i class="fa fa-check" aria-hidden="true"></i> Une oreille attentive à vos projets <br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5">
				<h3>Trouvez votre coworker idéal </h3>
				<img src="{{ asset('images/icons/coworker-ideal.png') }}" alt="Coworker ideal">
				<br><br>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-3 col-md-9 col-md-offset-2 col-xs-10 col-xs-offset-1">
						<p class="liste">
							<i class="fa fa-check" aria-hidden="true"></i> Accès gratuit <br>
						    <i class="fa fa-check" aria-hidden="true"></i> Partage d’expériences <br>
						    <i class="fa fa-check" aria-hidden="true"></i> Facilité de mise en réseau <br>
						    <i class="fa fa-check" aria-hidden="true"></i> Echange et entraide <br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row text-center">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
			<p>Becowo étant encore une jeune Startup, nous travaillons activement afin de vous proposer de nouvelles fonctionnalités. 
			Et parce que chez Becowo, la logique <mark>contributive</mark> est une valeur importante, nous n'envisageons pas de développer des outils qui vous sont destinés sans vous concerter.
			Aussi, n'hésitez plus : <a href="{{ path('becowo_core_contact') }}">envoyez vos idées, suggestions,</a> nous serons ravis d'en discuter avec vous. 
			</p>
			<br>
			<p style="text-align:center;"><i>Très bientôt, vous pourrez trouver un plus grand choix d'espaces de coworking dans de nouvelles régions.</i></p>
			</div>
		</div>
		<div class="row text-center rejoindre">
			{# <img src="{{ asset('images/icons/inscriptionBoy.png') }}" alt="s'inscrire"> #}
			<div class="col-lg-8 col-md-8 col-xs-12">
				Alors, prêt à rejoindre notre communauté de coworkers audacieux ?
			</div>
			<div class="col-lg-2 col-md-2 col-xs-12">
				<a href="{{ path('fos_user_registration_register') }}" id="inscription">S'inscrire</a>
			</div>
		</div>
		
	{% include "CommonViews/bandeauQuestion.html.twig" %}
	<br>
</div>



{% endblock %}

{% block javascripts %}	
<script>
 	$('.nav li').removeClass('noActive');
</script>
{% endblock %}
