{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Contactez-nous
{% endblock %}

{% block body %}

<div class="container-fluid" id="footer-contact">
{% include "CommonViews/flashMessage.html.twig" %}
	<div class="row">
		<div class="col-lg-6">
      <h2>Contactez-nous</h2>
      {{ form_start(form) }}
      <div class="row">
        <div class="col-lg-4">
          {{ form_label(form.name) }}
        </div>
        <div class="col-lg-7">
          {{ form_errors(form.name) }}
          {{ form_widget(form.name) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          {{ form_label(form.email) }}
        </div>
        <div class="col-lg-7">
          {{ form_errors(form.email) }}
          {{ form_widget(form.email) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          {{ form_label(form.subject) }}
        </div>
        <div class="col-lg-7">
          {{ form_errors(form.subject) }}
          {{ form_widget(form.subject) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          {{ form_label(form.message) }}
        </div>
        <div class="col-lg-7">
          {{ form_errors(form.message) }}
          {{ form_widget(form.message) }}
        </div>
      </div>
      
      {{ form_rest(form) }}
      <button type="submit"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> Envoyer</button>
      {{ form_end(form) }}
		</div>
    <div class="col-lg-6">
        <h2>Becowo</h2>
        <div id="contact-content1">
          Notre adresse à Lille<br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40492.55484396377!2d3.01214105760308!3d50.6311166961078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579b3256e11%3A0x40af13e81646360!2sLille!5e0!3m2!1sfr!2sfr!4v1464886297463" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe><br>
          Tel :
        </div>
        <h2>Suivez nous via les réseaux sociaux</h2>
        <div id="contact-content2">
          <div class="row">
            <div class="col-lg-6">
              <a href="https://www.facebook.com/becowo" target="_blank"><img src="{{ asset('images/RS/facebook.png') }}" alt="Facebook">facebook.com/becowo</a><br>
              <a href="https://twitter.com/becowo_and_you" target="_blank"><img src="{{ asset('images/RS/twitter.png') }}" alt="Twitter">twitter.com/becowo_and_you</a>
            </div>
            <div class="col-lg-6">
              <a href="https://www.linkedin.com/company/becowo"  target="_blank"><img src="{{ asset('images/RS/linkedin.png') }}" alt="Linkedin">www.linkedin.com/company/becowo</a><br>
              <a href="https://www.instagram.com/becowo_and_you/" target="_blank"><img src="{{ asset('images/RS/instagram.png') }}" alt="Instagram">instagram.com/becowo_and_you</a>
            </div>
          </div>
          
        </div>
    </div>
	</div>
</div>


{% endblock %}
