{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Contact
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/FosUserBundle/form-elements.css') }}">
{% endblock %}

{% block body %}


{% include "CommonViews/flashMessage.html.twig" %}

<div class="container-fluid form-box" id="contact-form">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row" id="">
        <div class="col-lg-5">
          <h3>Contactez notre équipe</h3>
          <br>
          {{ form_start(form) }}
          <div class="row">
            <div class="col-lg-3 labels">
              Nom *
            </div>
            <div class="col-lg-8">
            {{ form_row(form.name) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 labels">
              Email *
            </div>
            <div class="col-lg-8">
              {{ form_row(form.email) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 labels">
              Sujet *
            </div>
            <div class="col-lg-8">
              {{ form_row(form.subject) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 labels">
              Message *
            </div>
            <div class="col-lg-8">
              {{ form_row(form.message) }}
            </div>
          </div>
      
          {{ form_rest(form) }}
          <div class="row text-center">
            <button type="submit"><i class="fa fa-envelope-o" aria-hidden="true"></i> Envoyer</button>
          {{ form_end(form) }}
          </div>
   
          </div>
        <div class="col-lg-2">
          <div class="row text-center">
            <img src="{{ asset('images/icons/Logo_becowo.png') }}" id="logo">
            <br>
            <img src="{{ asset('images/icons/VR.png') }}" id="vr">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
              {% include 'CommonViews/RS/all_RS_small.html.twig' %}
          </div>
          <div class="row">
            <i class="fa fa-home" aria-hidden="true"></i> Imaginarium - Plaine Images<br>
            99 A Boulevard Constantin Descat <br>
            59200 Tourcoing<br>
            <i class="fa fa-mobile" aria-hidden="true"></i> : <a href="tel:+33611706382">06 11 70 63 82</a><br>
            <img src="{{ asset('images/icons/messenger.png') }}" alt="messenger" id="m"> Par messenger en <a href="http://m.me/becowo" target="_blank">cliquant ici</a><br><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10108.033872878754!2d3.1582131!3d50.7012274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2551d389c0607e14!2sImaginarium+-+Plaine+Images!5e0!3m2!1sfr!2sfr!4v1477660339025" width="300" height="200" frameborder="0" style="border:0"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% block javascripts %}    
{% endblock javascripts %}

{% endblock body %}
