{% extends "layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/FAQ.css') }}">
{% endblock %}


{% block title %}
  {{ parent() }} - FAQ
{% endblock %}

{% block body %}


<h1>Foire Aux Questions</h1>

<div class="container-fluid" id="faq">
	<section class="cd-faq">
		<ul class="cd-faq-categories">
		{% for cat in faqCategory %}					
				<li><a href="#{{cat.name}}">{{cat.name}}</a></li>
		{% endfor %}	
		</ul>
		{% for cat in faqCategory %}	
			<div class="cd-faq-items">
				<ul id="{{cat.name}}" class="cd-faq-group">
					<li class="cd-faq-title"><h2>{{cat.name}}</h2></li>
					{% for faq in faq %}
						<li>
							<a class="cd-faq-trigger" href="#0">{{faq.question}}</a>
							<div class="cd-faq-content">
								<p>{{faq.answer}}</p>
							</div> 
						</li>
					{% endfor %}
				</ul>
				<br>
			</div> 
		{% endfor %}
	</section>
</div>


{% endblock %}

{% block javascripts %}
	  <script src="{{ asset('js/FAQ.js') }}"></script>
{% endblock %}
