{% extends "layout.html.twig" %}

{% block title %}
  FAQ
{% endblock %}

{% block body %}

<br>
<h1>Foire Aux Questions</h1>

<div id="FAQ-bulle">
	<img src="{{ asset('images/icons/faq.png') }}" alt="FAQ">
</div>

<br>
<div class="container-fluid" id="FAQ">
    {% for cat in faqCategory %}
	<div class="row cat-{{loop.index}}">
	    <div class="panel-group" id="accordion">
	        <div class="faqHeader"><h2>{{cat.name}}</h2></div>
	        	{% for faq in faq if faq.category.name == cat.name %}
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{cat.id}}-{{loop.index}}">{{faq.question}}</a>
		                </h4>
		            </div>
		            <div id="collapse-{{cat.id}}-{{loop.index}}" class="panel-collapse collapse">
		                <div class="panel-body">
		                    {{faq.answer|raw}}
		                </div>
		            </div>
		        </div>
		    {% endfor %}
	    </div>
	</div>
    {% endfor %}
</div>

{% include 'CommonViews/bandeauQuestion.html.twig' %} 

{% endblock %}

{% block javascripts %}
{% endblock %}
