{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement en ligne
{% endblock %}

{% block body %}


<div id="page-simple">
<h2>Paiement en ligne</h2>

<center><img src="{{ asset('images/icons/creditAgricole/e-transactions.png') }}" alt="Crédit Agricole"></center>
<br>
<p style="font-size:18px">
Lors de la validation de votre réservation, vous pourrez choisir votre mode de paiement. Becowo accepte les paiements par cartes bancaires :
</p>
<center>
<img src="{{ asset('images/icons/creditAgricole/visa.png') }}" alt="Visa"> 
<img src="{{ asset('images/icons/creditAgricole/mastercard.png') }}" alt="Mastercard"> 
</center>

<p style="font-size:18px">Tous les paiements sont sécurisés par 3D secure</p>
<img src="{{ asset('images/icons/creditAgricole/3dsecure.png') }}" alt="3D Secure" width="200px" height="55px">
<br><br>
<p style="font-size:18px">Pour en savoir plus sur le paiement par Internet, vous pouvez consulter l'article de <a href="http://www.lafinancepourtous.com/Banque-au-quotidien/Moyens-de-paiement/La-carte-bancaire/Payer-par-carte-bancaire-sur-Internet-avec-3D-Secure" target="_blank">La finance pour tous</a></p>
</div>

{% endblock %}
