{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Nos offres
{% endblock %}

{% block body %}

{% for label, flashes in app.session.flashbag.all %}
  {% for flash in flashes %}
      <div class="alert alert-{{label}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">X</span>
      </button>
          {{ flash }}
      </div>
  {% endfor %}
{% endfor %}

<div class="container-fluid">
  <div class="row text-center">
    <h1>Nos offres</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <div class="well">
        <h3><center>Offre Zen</center></h3>
        <ul>
            <li>Prise en charge des réservations</li>
            <li>Paiement en ligne</li>
            <li>Gestion des agendas</li>
            <li>Back-office en ligne de gestion de votre profil</li>
            <li>Mise en avant de votre annonce</li>
            <li>Statistiques sur les coworkers</li>
            <br>
        </ul>
        <center><a href="{{ path('becowo_core_offers_contact', { 'name': 'Zen' }) }}"><button type="button" class="btn btn-success">Je suis intéressé</button></a></center>
        <br>
        <h5>Conditions</h5>
        <ul>
            <li>15% de commission</li>
            <li>Facture au mois</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="well">
        <h3><center>Offre Link</center></h3>
        <ul>
            <li>Visibilité sur notre site</li>
            <li>Affichage de vos coordonnées</li>
            <li>Lien vers votre site</li>
            <li>Formulaire de contact</li>
            <li>Statistiques sur les pages vues</li>
            <br><br>
        </ul>
        <center><a href="{{ path('becowo_core_offers_contact', { 'name': 'Link' }) }}"><button type="button" class="btn btn-success">Je suis intéressé</button></a></center>
        <br>
        <h5>Conditions</h5>
        <ul>
            <li>Contrat d'affiliation</li>
            <br>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <div class="well">
        <h3><center>Offre Zen +</center></h3>
        <ul>
            <li>Offre Zen</li>
            <li>Visite virtuelle de l'espace à 360°</li>
            <br>
        </ul>
        <center><a href="{{ path('becowo_core_offers_contact', { 'name': 'Zen +' }) }}"><button type="button" class="btn btn-success">Je suis intéressé</button></a></center>
        <br>
        <h5>Conditions</h5>
        <ul>
            <li>100€ HT</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="well">
        <h3><center>Offre Link +</center></h3>
        <ul>
            <li>Offre Link</li>
            <li>Mise en avant sponsorisée de votre annonce</li>
            <br>
        </ul>
        <center><a href="{{ path('becowo_core_offers_contact', { 'name': 'Link +' }) }}"><button type="button" class="btn btn-success">Je suis intéressé</button></a></center>
        <br>
        <h5>Conditions</h5>
        <ul>
            <li>10€ HT / jour</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>

{% endblock %}
