<p>Bonjour <br>
<br>
La réservation N° {{booking.bookingRef}} a été refusée par {{booking.workspacehasoffice.workspace.name}} <br>
<br>
Merci de procéder au remboursement au plus vite (via le BO du Crédit Agricole) <br>
<br><br>
Rappel de la réservation : <br>
Réservation N° {{booking.bookingRef}} <br>
Salle : {{booking.workspacehasoffice.name}} - {{booking.workspacehasoffice.office.name}} <br>
Date de début : {{booking.startDate|date('d/m/Y h:i')}} <br>
Date de fin : {{booking.endDate|date('d/m/Y h:i')}} <br>
Durée : {{booking.duration}} {{booking.durationDay}} <br>
Nombre de coworkers : {{booking.nbPeople}} <br>
Prix de la réservation : {{booking.priceInclTax}} € TTC <br>
<br>
Identité du coworker : <br>
ID : {{booking.member.id}}
</p>
<br>
Puis envoyer un mail au coworker pour le prévenir que le remboursement est effectué <br>
<br>
Voici un template d'email <br>
<br>
Bonjour {{booking.member.firstname}} {{booking.member.name}},<br>
<br>
Suite à l'annulation de la réservation N° {{booking.bookingRef}}, par {{booking.workspacehasoffice.workspace.name}}, nous venons de procéder au remboursement intégral. <br>
Vous venez donc d'être crédité de  {{booking.priceInclTax}} € TTC. <br>
<br>
Merci de votre compréhension et à très bientôt. <br>
L'équipe Becowo
