<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Bonjour {{ app.user.firstname }} {{ app.user.name }}, <br>
<br>
Nous vous remercions pour votre réservation N° {{booking.bookingRef}} : <br>
<br>
Votre paiement a bien été validé.<br>
Nous avons informé {{booking.workspacehasoffice.workspace.name}} qui devrait valider votre réservation sous 24H. <br>
Vous recevrez alors un email de confirmation. <br>
<br>
Dans le cas où la réservation ne serait pas validée, nous procéderons au remboursement immédiat de votre réservation.<br>
<br><br>
Rappel de votre réservation : <br>
Salle : {{booking.workspacehasoffice.name}} - {{booking.workspacehasoffice.office.name}}
Date de début : {{booking.startDate|date('d/m/Y h:i')}} <br>
Date de fin : {{booking.endDate|date('d/m/Y h:i')}} <br>
Durée : {{booking.duration}} {{booking.durationDay}} <br>
Nombre de coworkers : {{booking.nbPeople}} <br>
Prix de la réservation : {{booking.priceInclTax}} € TTC <br>
<br>
</p>
<br>
Si vous avez une question, vous pouvez répondre directement à cet email. <br>
La BecoTeam
</body>
</html>


