<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Bonjour {{ app.user.firstname }} {{ app.user.name }}, <br>
<br>
Votre réservation N° {{booking.bookingRef}} est validée ! <br>
<br>
Voici un rappel de votre réservation : <br>
Espace : {{booking.workspacehasoffice.workspace.name}} <br>
Adresse : {{booking.workspacehasoffice.workspace.street}} {{booking.workspacehasoffice.workspace.postCode}} {{booking.workspacehasoffice.workspace.city}}<br>
Salle : {{booking.workspacehasoffice.name}} <br>
Date : {% if booking.duration == 'Mois' %}
du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} <br>
{% elseif booking.duration == 'Journée' %}
le {{booking.startDate|date("d/m/Y")}}<br>
{% else %}
le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
{% endif %}
Nombre de coworkers : {{booking.nbPeople}} <br>
Total HT : {{booking.priceExclTax}} € <br>
Total TTC : {{booking.priceInclTax}} € <br>
<br> <br>
{% if booking.workspacehasoffice.workspace.arrivalDesc != null %}
Voici les instructions pour votre arrivée : <br>
{{booking.workspacehasoffice.workspace.arrivalDesc|raw}}
{% endif %}
</p>
<br>
Si vous avez une question, vous pouvez répondre directement à cet email.
</body>
</html>


