{% extends 'CommonViews/Mail/layout-email.html.twig' %}

{% block emailTitle %}
	Réservation refusée :(
{% endblock emailTitle %}

{% block emailContent %}
	Bonjour {{ booking.member.firstname }} {{ booking.member.name }}, <br>
<br>
Votre réservation N° {{booking.bookingRef}} a été refusée par {{booking.workspacehasoffice.workspace.name}}. <br>
<br>
Nous nous excusons de ce désagrément et allons procéder de suite au remboursement de votre réservation (soit {{booking.priceInclTax}} € TTC). <br>
Nous vous invitons à procéder à une nouvelle réservation sur <a href="http://www.becowo.com">Becowo</a>.
<br><br>
<u>Rappel de votre réservation</u> : <br>
<br>
Espace : {{booking.workspacehasoffice.workspace.name}} <br>
Adresse : {{booking.workspacehasoffice.workspace.street}} {{booking.workspacehasoffice.workspace.postCode}} {{booking.workspacehasoffice.workspace.city}}<br>
Nom : {{booking.workspacehasoffice.name}} <br>
Date : {% if booking.duration == 'Mois' %}
du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} inclus <br>
{% elseif booking.duration == 'Journée' %}
le {{booking.startDate|date("d/m/Y")}}<br>
{% elseif booking.duration == 'Demi journée' %}
le {{booking.startDate|date("d/m/Y")}} {{booking.durationDay}}<br>
{% else %}
le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
{% endif %}
Nombre de coworker(s) : {{booking.nbPeople}} <br>
Montant HC : {{booking.priceExclTax}} € TTC <br>
Montant TTC : {{booking.priceInclTax}} € TTC <br>
<br><br>
{% endblock emailContent %}
