<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
************* Email à destination de l'espace : {{wsName}} ************** <br>
<br><br>
Bonjour,  <br>
<br>
Vous avez reçu un email de la part de {{name}} depuis le site de Becowo <br>
<br>
Nom : {{ name }} <br>
Email : {{ email }} <br>
Sujet : {{ subject }} <br>
Message : {{ message }} <br>
</body>
</html>


