<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Becowo</title>
</head>

<body>
  <!-- <style> -->
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
          <!-- Main full width container for the email -->
          <table class="container"> 
          	<table class="wrapper" align="center">
			  <tr>
			    <td class="wrapper-inner">
			    	<a href="http://www.becowo.com" target="_blank">
			      		<img src="http://demo.becowo.com/images/Emails/Logo_becowo_tagline.png" alt="Becowo, Enfin une bonne raison d'aller au travail !">
			      	</a>
			    </td>
			  </tr>
			</table>
          	<table class="row">
			    <br><br>
<h3 style="text-align:center;">Nouvelle réservation ! </h3>
<br>
<p style="margin-left:20px;margin-right:20px;Margin-left:20px;Margin-right:20px;">Bonjour, <br>
<br>
{{ booking.member.firstName }} {{ booking.member.name }} souhaite réserver dans votre espace.<br>
<br>
Détails de la réservation N° {{booking.bookingRef}} : <br>
<br>
Salle : {{booking.workspacehasoffice.name}} - {{booking.workspacehasoffice.office.name}}
Date : {% if booking.duration == 'Mois' %}
du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} <br>
{% elseif booking.duration == 'Journée' %}
le {{booking.startDate|date("d/m/Y")}}<br>
{% else %}
le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
{% endif %}
Nombre de coworkers : {{booking.nbPeople}} <br>
Prix de la réservation : {{booking.priceInclTax}} € TTC <br>
<br><br>
Informations sur le coworker : <br>
Prénom : {{booking.member.Firstname}} <br>
Nom : {{booking.member.name}} <br>
Sexe : {{booking.member.sex}} <br>
Téléphone : {{booking.member.phone}} <br>
Email : {{booking.member.email}} <br>
Job : {{booking.member.job}} <br>
<br>
{% if booking.message != null %}
	Le coworker vous laisse le message suivant : <br>
	{{booking.message}} 
{% endif %}

<br>

<a href="http://demo.becowo.com/book/validated/{{booking.bookingRef}}">Valider la réservation</a><br>
<br>
<a href="http://demo.becowo.com/book/refused/{{booking.bookingRef}}">Refuser la réservation</a> <br>
<br>
Si vous refusez la réservation, le coworker sera prévenu par email puis remboursé.<br>
<br>
Si vous avez une question, vous pouvez répondre directement à cet email.
<br>
<br>
A très vite ! <br>
<br>
La BecoTeam
</p>

<br><br>
			</table>
			<table class="wrapper" align="center" style="background-color: #00A19A;">
			  <tr>
			    <td class="wrapper-inner" style="padding-top: 20px;">
			      <table class="row">
				  <tr>
				    <th class="small-3 large-2 first columns">
						<img src="http://demo.becowo.com/images/Emails/Logo_becowo.png" alt="Logo Becowo">
					</th>
					<th class="small-8 large-5">
						<table class="row">
							<tr>
								<th class="small-12 large-12 last columns" style="padding-bottom: 5px;">
									<a href="http://www.becowo.com" target="_blank" style="color:#FFFFFF;">www.becowo.com</a>
								</th>
							</tr>
							<tr>
								<th class="small-12 large-12 last columns" style="padding-bottom: 5px;">
									<a href="tel:+33769119310" style="color:#FFFFFF;">07 69 11 93 10</a>
								</th>
							</tr>
							<tr>
								<th class="small-12 large-12 last columns" style="padding-bottom: 5px;">
									<a href="http://m.me/becowo" style="color:#FFFFFF;">Tchat via Messenger</a>
								</th>
							</tr>
						</table>
					</th>
					<th class="small-6 large-3">
						<table class="row">
							<tr>
								<th class="small-6 large-6 first columns" style="padding-bottom: 5px;">
									<a href="https://www.facebook.com/becowo" target="_blank">
										<img src="http://demo.becowo.com/images/Emails/facebook.png" alt="Facebook">
									</a>
								</th>
								<th class="small-6 large-6 last columns" style="padding-bottom: 5px;">
									<a href="https://www.linkedin.com/company/becowo"  target="_blank">
										<img src="http://demo.becowo.com/images/Emails/linkedin.png" alt="Linkedin">
									</a>
								</th>
							</tr><tr>
								<th class="small-6 large-6 first columns" style="padding-bottom: 5px;">
									<a href="https://www.instagram.com/becowo_and_you/" target="_blank">
										<img src="http://demo.becowo.com/images/Emails/instagram.png" alt="Instagram">
									</a>
								</th>
								<th class="small-6 large-6 last columns" style="padding-bottom: 5px;">
									<a href="https://twitter.com/becowo_and_you" target="_blank">
										<img src="http://demo.becowo.com/images/Emails/twitter.png" alt="Twitter">
									</a>
								</th>
							</tr>
						</table>
					</th>
					<th class="small-12 large-2 last columns" style="width: inherit;padding-left: 25px;padding-right: 25px;">
						<table class="button warning radius expanded" style="margin: 5px 0 16px 0;">
						  <tr>
						    <td>
						      <table align="center">
						        <tr>
						          <td><a href="http://www.blog.becowo.com" target="_blank" style="font-size: 22px;text-align:center;">Visitez notre <br> Blog</a></td>
						        </tr>
						      </table>
						    </td>
						  </tr>
						</table>
					</th>
					<th class="expander"></th>
				  </tr>
				</table>
			    </td>
			  </tr>
			</table>
			</table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>



