{% extends 'CommonViews/Mail/layout-email.html.twig' %}

{% block emailTitle %}
	Becowo - Nouvelle réservation !
{% endblock emailTitle %}

{% block emailContent %}

Bonjour, <br>
<br>
{{ booking.member.firstName }} {{ booking.member.name }} souhaite réserver dans votre espace.<br>
<br>
<u>Détails de la réservation N° {{booking.bookingRef}} </u>: <br>
<br>
Nom : {{booking.workspacehasoffice.name}} <br>
Type : {{booking.workspacehasoffice.office.name}} <br>
Date : {% if booking.duration == 'Mois' %}
du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}} inclus<br>
{% elseif booking.duration == 'Journée' %}
le {{booking.startDate|date("d/m/Y")}}<br>
{% elseif booking.duration == 'Demi journée' %}
le {{booking.startDate|date("d/m/Y")}} {{booking.durationDay}}<br>
{% else %}
le {{booking.startDate|date("d/m/Y")}} de {{booking.startDate|date("H:i")}} à {{booking.endDate|date("H:i")}} <br>
{% endif %}
Nombre de coworker(s) : {{booking.nbPeople}} <br>
Montant HT : {{booking.priceExclTax}} € <br>
Montant TTC : {{booking.priceInclTax}} € <br>
<br><br>
<u>Informations sur le coworker </u>: <br>
<br>
Prénom : {{booking.member.Firstname}} <br>
Nom : {{booking.member.name}} <br>
Sexe : {% if booking.member.sex == '1' %} Femme {% elseif booking.member.sex == '0' %} Homme {% else %} NA {% endif %} <br>
Job : {{booking.member.job}} <br>
<br>
{% if booking.message != null %}
	Le coworker vous laisse le message suivant : <br>
	<i>" {{booking.message}} "</i>
{% endif %}
<br><br>

<table class="button success radius expanded" style="margin: 5px 0 16px 0;">
  <tr>
    <td>
      <table align="center">
        <tr>
          <td>
          	<a href="https://demo.becowo.com/book/validated/{{booking.bookingRef}}" target="_blank" style="font-size: 22px;text-align:center;">Valider la réservation</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="button alert radius expanded" style="margin: 5px 0 16px 0;">
  <tr>
    <td>
      <table align="center">
        <tr>
          <td>
          	<a href="https://demo.becowo.com/book/refused/{{booking.bookingRef}}" target="_blank" style="font-size: 22px;text-align:center;">Refuser la réservation</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br>
<br>
Si vous refusez la réservation, le coworker sera prévenu par email puis remboursé.<br>
<br>
{% endblock emailContent %}

